In [1]:
#예제
#mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [2]:
#파일에 저장된 데이터 읽어오기
#최소최대 척도(Min-Max Scale)로 변환
# 0.5보다 큰 값을 가지는 데이터의 수 구하기

In [3]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [4]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [5]:
data = pd.read_csv('mtcars.csv')
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
data = pd.read_csv('mtcars.csv')
data.drop(['Unnamed: 0'], axis=1, inplace=True)
data.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [7]:
#최소최대 척도
scaler = MinMaxScaler()
scaler.fit(data)
data_df = pd.DataFrame(scaler.transform(data), columns=data.columns)

In [8]:
data_df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0.451064,0.5,0.221751,0.204947,0.525346,0.283048,0.233333,0.0,1.0,0.5,0.428571
1,0.451064,0.5,0.221751,0.204947,0.525346,0.348249,0.300000,0.0,1.0,0.5,0.428571
2,0.527660,0.0,0.092043,0.144876,0.502304,0.206341,0.489286,1.0,1.0,0.5,0.000000
3,0.468085,0.5,0.466201,0.204947,0.147465,0.435183,0.588095,1.0,0.0,0.0,0.000000
4,0.353191,1.0,0.720629,0.434629,0.179724,0.492713,0.300000,0.0,0.0,0.0,0.142857

In [9]:
tt = data_df[data_df['qsec']>0.5]
tt

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
3,0.468085,0.5,0.466201,0.204947,0.147465,0.435183,0.588095,1.0,0.0,0.0,0.000000
5,0.327660,0.5,0.383886,0.187279,0.000000,0.497827,0.680952,1.0,0.0,0.0,0.000000
7,0.595745,0.0,0.188576,0.035336,0.428571,0.428791,0.654762,1.0,0.0,0.5,0.142857
8,0.527660,0.0,0.173859,0.151943,0.534562,0.418563,1.000000,1.0,0.0,0.5,0.142857
10,0.314894,0.5,0.240708,0.250883,0.534562,0.492713,0.523810,1.0,0.0,0.5,0.428571
17,0.936170,0.0,0.018957,0.049470,0.608295,0.175658,0.591667,1.0,1.0,0.5,0.000000
19,1.000000,0.0,0.000000,0.045936,0.672811,0.082332,0.642857,1.0,1.0,0.5,0.000000
20,0.472340,0.0,0.122225,0.159011,0.433180,0.243416,0.655952,1.0,0.0,0.0,0.000000
25,0.719149,0.0,0.019706,0.049470,0.608295,0.107901,0.523810,1.0,1.0,0.5,0.000000

In [10]:
tt = data_df[data_df['qsec']>0.5]
tt

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
3,0.468085,0.5,0.466201,0.204947,0.147465,0.435183,0.588095,1.0,0.0,0.0,0.000000
5,0.327660,0.5,0.383886,0.187279,0.000000,0.497827,0.680952,1.0,0.0,0.0,0.000000
7,0.595745,0.0,0.188576,0.035336,0.428571,0.428791,0.654762,1.0,0.0,0.5,0.142857
8,0.527660,0.0,0.173859,0.151943,0.534562,0.418563,1.000000,1.0,0.0,0.5,0.142857
10,0.314894,0.5,0.240708,0.250883,0.534562,0.492713,0.523810,1.0,0.0,0.5,0.428571
17,0.936170,0.0,0.018957,0.049470,0.608295,0.175658,0.591667,1.0,1.0,0.5,0.000000
19,1.000000,0.0,0.000000,0.045936,0.672811,0.082332,0.642857,1.0,1.0,0.5,0.000000
20,0.472340,0.0,0.122225,0.159011,0.433180,0.243416,0.655952,1.0,0.0,0.0,0.000000
25,0.719149,0.0,0.019706,0.049470,0.608295,0.107901,0.523810,1.0,1.0,0.5,0.000000

In [11]:
len(tt)

9

In [12]:
data_df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0.451064,0.5,0.221751,0.204947,0.525346,0.283048,0.233333,0.0,1.0,0.5,0.428571
1,0.451064,0.5,0.221751,0.204947,0.525346,0.348249,0.300000,0.0,1.0,0.5,0.428571
2,0.527660,0.0,0.092043,0.144876,0.502304,0.206341,0.489286,1.0,1.0,0.5,0.000000
3,0.468085,0.5,0.466201,0.204947,0.147465,0.435183,0.588095,1.0,0.0,0.0,0.000000
4,0.353191,1.0,0.720629,0.434629,0.179724,0.492713,0.300000,0.0,0.0,0.0,0.142857

In [13]:
lower = data_df['qsec'].quantile(0.05)

In [14]:
print(lower)

0.0649404761904762

In [15]:
upper = data_df['qsec'].quantile(0.95)

In [16]:
print(upper)

0.667202380952381

In [17]:
result = lower + upper

In [18]:
print(result)

0.7321428571428572