In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [50]:
tt = data.sort_values(['MEDV'], ascending=False)
tt.reset_index(drop=True, inplace=True)
tt.head(30)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0
1,0.52693,0.0,6.20,0,0.5040,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,50.0
2,5.66998,0.0,18.10,1,0.6310,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
3,6.53876,0.0,18.10,1,0.6310,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
4,9.23230,0.0,18.10,0,0.6310,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
5,8.26725,0.0,18.10,1,0.6680,5.875,89.6,1.1296,24,666,20.2,347.88,8.88,50.0
6,0.05602,0.0,2.46,0,0.4880,7.831,53.6,3.1992,3,193,17.8,392.63,4.45,50.0
7,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224,14.7,390.55,2.88,50.0
8,0.61154,20.0,3.97,0,0.6470,8.704,86.9,1.8010,5,264,13.0,389.70,5.12,50.0
9,0.01381,80.0,0.46,0,0.4220,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
10,2.01019,0.0,19.58,0,0.6050,7.929,96.2,2.0459,5,403,14.7,369.30,3.70,50.0
11,1.51902,0.0,19.58,1,0.6050,8.375,93.9,2.1620,5,403,14.7,388.45,3.32,50.0
12,0.57834,20.0,3.97,0,0.5750,8.297,67.0,2.4216,5,264,13.0,384.54,7.44,50.0
13,1.83377,0.0,19.58,1,0.6050,7.802,98.2,2.0407,5,403,14.7,389.61,1.92,50.0
14,1.46336,0.0,19.58,0,0.6050,7.489,90.8,1.9709,5,403,14.7,374.43,1.73,50.0
15,4.89822,0.0,18.10,0,0.6310,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
16,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264,13.0,386.86,5.91,48.8
17,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224,14.7,392.78,3.81,48.5
18,0.33147,0.0,6.20,0,0.5070,8.247,70.4,3.6519,8,307,17.4,378.95,3.95,48.3
19,0.29819,0.0,6.20,0,0.5040,7.686,17.0,3.3751,8,307,17.4,377.51,3.92,46.7
20,0.06129,20.0,3.33,1,0.4429,7.645,49.7,5.2119,5,216,14.9,377.07,3.01,46.0
21,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76,45.4
22,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307,17.4,385.05,4.14,44.8
23,0.01538,90.0,3.75,0,0.3940,7.454,34.2,6.3361,3,244,15.9,386.34,3.11,44.0
24,0.08187,0.0,2.89,0,0.4450,7.820,36.9,3.4952,2,276,18.0,393.53,3.57,43.8
25,0.54050,20.0,3.97,0,0.5750,7.470,52.6,2.8720,5,264,13.0,390.30,3.16,43.5
26,0.53412,20.0,3.97,0,0.6470,7.520,89.4,2.1398,5,264,13.0,388.37,7.26,43.1
27,0.36894,22.0,5.86,0,0.4310,8.259,8.4,8.9067,7,330,19.1,396.90,3.54,42.8
28,0.02177,82.5,2.03,0,0.4150,7.610,15.7,6.2700,2,348,14.7,395.38,3.11,42.3
29,0.57529,0.0,6.20,0,0.5070,8.337,73.3,3.8384,8,307,17.4,385.91,2.47,41.7

In [51]:
answer=tt['MEDV'].iloc[29]
answer
#30번째로 큰 값은 41.7

41.7

In [52]:
tt['MEDV'][0:28] = 41.7

<ipython-input-52-f37c64c2aae6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['MEDV'][0:28] = 41.7
C:\Users\PC\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [53]:
tt.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.01501,90.0,1.21,1,0.401,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,41.7
1,0.52693,0.0,6.20,0,0.504,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,41.7
2,5.66998,0.0,18.10,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,41.7
3,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,41.7
4,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,41.7

In [54]:
print(tt['MEDV'].mean(),tt['MEDV'].median(),tt['MEDV'].min(),tt['MEDV'].max())

22.180830039525684 21.2 5.0 42.3

In [55]:
tt['MEDV'].median()

21.2

In [56]:
tt['MEDV'].min()

5.0

In [57]:
tt['MEDV'].max()

42.3

###

In [ ]:
data = data[data['f1'].notnull()]

In [ ]:
#그룹 합계 계산
data2 = data.groupby(['city','f2']).sum()
data2

In [ ]:
def IQR_rule(val_list):
    Q1 = np.quantile(val_list, 0.25)
    Q3 = np.quantile(val_list, 0.75)
    IQR = Q3 - Q1

    # IQR rule에 위배되지 않는 데이터만 저장
    not_outlier_data = (Q3 + 1.5 * IQR > val_list) & (Q3 - 1.5 * IQR > val_list)
    return not_outlier_data

In [ ]:
def IQR_rule(val_list):
    Q1 = np.quantile(val_list, 0.25)
    Q3 = np.quantil(val_list, 0.75)
    IQR = Q3 - Q1
    
    #
    not_outlier_data = (Q3 + 1.5 *IQR > val_list) & (Q3 - 1.5 *IQR > val_list)
    return not_outlier_data

In [ ]:
total_condition = conditions.sum(axis=1) == len(Train_X.columns)

In [ ]:
total_condition = conditions.sum(axis = 1) == len(Train_X.columns) # 하나라도 IQR 규칙을 위반하는 요소를 갖는 레코드를 제거하기 위한 규칙
Train_X = Train_X.loc[total_condition]

In [ ]:
# 2개의 조건 사용
df[(df['f4'] =='ISFJ') & (df['city']=='경기')]['age'].max()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('age_data.csv')
data.head()

In [ ]:
data.info()

In [ ]:
data.sort_values(['f5'], ascending=False)
data.head()

In [ ]:
data.iloc[:10].min()
#상위 10개 중 최소값

In [ ]:
data['f5'] == #최소값으로 대체

In [ ]:
test = data['age'] >= 80

In [ ]:
print(test['f5'].min())