### 비행탑승 경험 만족도 데이터

In [113]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
ID,,,,,,,,,,,,,,,,,,,,,
0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,1,...,5,5,3,5,3,5,3,47,22.0,NaN
2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,4,...,1,1,1,1,5,1,4,54,46.0,NaN
4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

               satisfaction
ID
0   neutral or dissatisfied
2   neutral or dissatisfied
3                 satisfied
4                 satisfied
5                 satisfied

In [6]:
#x_train=x_train.set_index('ID')
#x_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
ID,,,,,,,,,,,,,,,,,,,,,
0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,1,...,5,5,3,5,3,5,3,47,22.0,NaN
2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,4,...,1,1,1,1,5,1,4,54,46.0,NaN
4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

In [114]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83123 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             83123 non-null  object
 1   Customer Type                      83123 non-null  object
 2   Age                                83123 non-null  int64
 3   Type of Travel                     83123 non-null  object
 4   Class                              83123 non-null  object
 5   Flight Distance                    83123 non-null  int64
 6   Inflight wifi service              83123 non-null  int64
 7   Departure/Arrival time convenient  83123 non-null  int64
 8   Ease of Online booking             83123 non-null  int64
 9   Gate location                      83123 non-null  int64
 10  Food and drink                     83123 non-null  int64
 11  Online boarding                    83123 non-null  int64
 12  Seat comfort                       83123 non-null  int64
 13  Inflight entertainment             83123 non-null  int64
 14  On-board service                   83123 non-null  int64
 15  Leg room service                   83123 non-null  int64
 16  Baggage handling                   83123 non-null  int64
 17  Checkin service                    83123 non-null  int64
 18  Inflight service                   83123 non-null  int64
 19  Cleanliness                        83123 non-null  int64
 20  Departure Delay in Minutes         83123 non-null  int64
 21  Arrival Delay in Minutes           82867 non-null  float64
 22  id                                 0 non-null      float64
dtypes: float64(2), int64(17), object(4)
memory usage: 15.2+ MB

In [115]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83123 entries, 0 to 103903
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   satisfaction  83123 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [116]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20781 entries, 1 to 103902
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             20781 non-null  object
 1   Customer Type                      20781 non-null  object
 2   Age                                20781 non-null  int64
 3   Type of Travel                     20781 non-null  object
 4   Class                              20781 non-null  object
 5   Flight Distance                    20781 non-null  int64
 6   Inflight wifi service              20781 non-null  int64
 7   Departure/Arrival time convenient  20781 non-null  int64
 8   Ease of Online booking             20781 non-null  int64
 9   Gate location                      20781 non-null  int64
 10  Food and drink                     20781 non-null  int64
 11  Online boarding                    20781 non-null  int64
 12  Seat comfort                       20781 non-null  int64
 13  Inflight entertainment             20781 non-null  int64
 14  On-board service                   20781 non-null  int64
 15  Leg room service                   20781 non-null  int64
 16  Baggage handling                   20781 non-null  int64
 17  Checkin service                    20781 non-null  int64
 18  Inflight service                   20781 non-null  int64
 19  Cleanliness                        20781 non-null  int64
 20  Departure Delay in Minutes         20781 non-null  int64
 21  Arrival Delay in Minutes           20709 non-null  float64
 22  id                                 20781 non-null  float64
dtypes: float64(2), int64(17), object(4)
memory usage: 3.8+ MB

In [117]:
x_test.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
ID,,,,,,,,,,,,,,,,,,,,,
1,Male,Loyal Customer,28,Business travel,Business,3414,2,2,2,2,...,2,4,5,4,4,4,2,0,0.0,40819.0
16,Female,disloyal Customer,34,Business travel,Eco,2556,1,1,1,4,...,2,5,1,5,1,3,2,15,0.0,33335.0
17,Female,Loyal Customer,23,Personal Travel,Eco,363,2,5,2,4,...,5,3,2,4,5,4,5,0,0.0,20749.0
25,Male,Loyal Customer,55,Business travel,Business,2079,1,1,1,1,...,1,1,1,1,4,1,3,0,0.0,92194.0
27,Female,Loyal Customer,44,Business travel,Eco,192,2,4,5,5,...,1,1,2,1,5,1,1,23,13.0,13904.0

In [118]:
x_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
ID,,,,,,,,,,,,,,,,,,,,,
0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,1,...,5,5,3,5,3,5,3,47,22.0,NaN
2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,4,...,1,1,1,1,5,1,4,54,46.0,NaN
4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

In [119]:
# 둘 다 사용하지 않으므로 'id' 칼럼 지우기
x_train.drop(['id'], axis=1, inplace=True)
x_test.drop(['id'], axis=1,inplace=True)

In [120]:
x_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
ID,,,,,,,,,,,,,,,,,,,,,
0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,1,...,4,5,5,3,5,3,5,3,47,22.0
2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,4,...,4,4,3,3,4,4,4,4,5,2.0
3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,4,...,5,1,1,1,1,5,1,4,54,46.0
4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,4,...,5,5,2,1,5,4,4,5,130,121.0
5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,3,...,4,4,4,4,5,4,3,4,0,0.0

In [121]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83123 entries, 0 to 103903
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             83123 non-null  object
 1   Customer Type                      83123 non-null  object
 2   Age                                83123 non-null  int64
 3   Type of Travel                     83123 non-null  object
 4   Class                              83123 non-null  object
 5   Flight Distance                    83123 non-null  int64
 6   Inflight wifi service              83123 non-null  int64
 7   Departure/Arrival time convenient  83123 non-null  int64
 8   Ease of Online booking             83123 non-null  int64
 9   Gate location                      83123 non-null  int64
 10  Food and drink                     83123 non-null  int64
 11  Online boarding                    83123 non-null  int64
 12  Seat comfort                       83123 non-null  int64
 13  Inflight entertainment             83123 non-null  int64
 14  On-board service                   83123 non-null  int64
 15  Leg room service                   83123 non-null  int64
 16  Baggage handling                   83123 non-null  int64
 17  Checkin service                    83123 non-null  int64
 18  Inflight service                   83123 non-null  int64
 19  Cleanliness                        83123 non-null  int64
 20  Departure Delay in Minutes         83123 non-null  int64
 21  Arrival Delay in Minutes           82867 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 14.6+ MB

In [122]:
x_train_encoding = x_train[['Gender','Customer Type','Type of Travel','Class']]

In [123]:
x_test_encoding = x_test[['Gender','Customer Type','Type of Travel','Class']]

In [124]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding = pd.get_dummies(temp1)
x_train_encoding = temp1_encoding.iloc[:83123]
x_test_encoding = temp1_encoding.iloc[83123:]

In [125]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20781 entries, 1 to 103902
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             20781 non-null  object
 1   Customer Type                      20781 non-null  object
 2   Age                                20781 non-null  int64
 3   Type of Travel                     20781 non-null  object
 4   Class                              20781 non-null  object
 5   Flight Distance                    20781 non-null  int64
 6   Inflight wifi service              20781 non-null  int64
 7   Departure/Arrival time convenient  20781 non-null  int64
 8   Ease of Online booking             20781 non-null  int64
 9   Gate location                      20781 non-null  int64
 10  Food and drink                     20781 non-null  int64
 11  Online boarding                    20781 non-null  int64
 12  Seat comfort                       20781 non-null  int64
 13  Inflight entertainment             20781 non-null  int64
 14  On-board service                   20781 non-null  int64
 15  Leg room service                   20781 non-null  int64
 16  Baggage handling                   20781 non-null  int64
 17  Checkin service                    20781 non-null  int64
 18  Inflight service                   20781 non-null  int64
 19  Cleanliness                        20781 non-null  int64
 20  Departure Delay in Minutes         20781 non-null  int64
 21  Arrival Delay in Minutes           20709 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 3.6+ MB

In [126]:
# x_train과  x_test 둘 다 'Arrival Delay in Minutes' 칼럼에 결측치가 있으므로 중앙값으로 대체해주기
x_train['Arrival Delay in Minutes'] = x_train['Arrival Delay in Minutes'].fillna(x_train['Arrival Delay in Minutes'].median())

In [127]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83123 entries, 0 to 103903
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             83123 non-null  object
 1   Customer Type                      83123 non-null  object
 2   Age                                83123 non-null  int64
 3   Type of Travel                     83123 non-null  object
 4   Class                              83123 non-null  object
 5   Flight Distance                    83123 non-null  int64
 6   Inflight wifi service              83123 non-null  int64
 7   Departure/Arrival time convenient  83123 non-null  int64
 8   Ease of Online booking             83123 non-null  int64
 9   Gate location                      83123 non-null  int64
 10  Food and drink                     83123 non-null  int64
 11  Online boarding                    83123 non-null  int64
 12  Seat comfort                       83123 non-null  int64
 13  Inflight entertainment             83123 non-null  int64
 14  On-board service                   83123 non-null  int64
 15  Leg room service                   83123 non-null  int64
 16  Baggage handling                   83123 non-null  int64
 17  Checkin service                    83123 non-null  int64
 18  Inflight service                   83123 non-null  int64
 19  Cleanliness                        83123 non-null  int64
 20  Departure Delay in Minutes         83123 non-null  int64
 21  Arrival Delay in Minutes           83123 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 14.6+ MB

In [128]:
# x_train과  x_test 둘 다 'Arrival Delay in Minutes' 칼럼에 결측치가 있으므로 중앙값으로 대체해주기
x_test['Arrival Delay in Minutes'] = x_test['Arrival Delay in Minutes'].fillna(x_test['Arrival Delay in Minutes'].median())

In [129]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20781 entries, 1 to 103902
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             20781 non-null  object
 1   Customer Type                      20781 non-null  object
 2   Age                                20781 non-null  int64
 3   Type of Travel                     20781 non-null  object
 4   Class                              20781 non-null  object
 5   Flight Distance                    20781 non-null  int64
 6   Inflight wifi service              20781 non-null  int64
 7   Departure/Arrival time convenient  20781 non-null  int64
 8   Ease of Online booking             20781 non-null  int64
 9   Gate location                      20781 non-null  int64
 10  Food and drink                     20781 non-null  int64
 11  Online boarding                    20781 non-null  int64
 12  Seat comfort                       20781 non-null  int64
 13  Inflight entertainment             20781 non-null  int64
 14  On-board service                   20781 non-null  int64
 15  Leg room service                   20781 non-null  int64
 16  Baggage handling                   20781 non-null  int64
 17  Checkin service                    20781 non-null  int64
 18  Inflight service                   20781 non-null  int64
 19  Cleanliness                        20781 non-null  int64
 20  Departure Delay in Minutes         20781 non-null  int64
 21  Arrival Delay in Minutes           20781 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 3.6+ MB

In [130]:
x_train_encoding.shape, x_test_encoding.shape

((83123, 9), (20781, 9))

In [131]:
#원핫인코딩 한 칼럼 삭제해주기
x_train = x_train.drop(['Gender','Customer Type','Type of Travel','Class'], axis=1, inplace=True)

In [132]:
x_test = x_test.drop(['Gender','Customer Type','Type of Travel','Class'], axis=1, inplace=True)

In [133]:
# 원본 데이터 + 원핫이코딩한 데이터 합쳐주기
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [134]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20781 entries, 1 to 103902
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Gender_Female                    20781 non-null  uint8
 1   Gender_Male                      20781 non-null  uint8
 2   Customer Type_Loyal Customer     20781 non-null  uint8
 3   Customer Type_disloyal Customer  20781 non-null  uint8
 4   Type of Travel_Business travel   20781 non-null  uint8
 5   Type of Travel_Personal Travel   20781 non-null  uint8
 6   Class_Business                   20781 non-null  uint8
 7   Class_Eco                        20781 non-null  uint8
 8   Class_Eco Plus                   20781 non-null  uint8
dtypes: uint8(9)
memory usage: 345.0 KB

In [135]:
x_train.head()

,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
ID,,,,,,,,,
0,1,0,1,0,0,1,0,1,0
2,0,1,1,0,0,1,0,1,0
3,0,1,1,0,1,0,1,0,0
4,0,1,1,0,1,0,0,0,1
5,1,0,1,0,1,0,1,0,0

In [136]:
x_test.head()

,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
ID,,,,,,,,,
1,0,1,1,0,1,0,1,0,0
16,1,0,0,1,1,0,0,1,0
17,1,0,1,0,0,1,0,1,0
25,0,1,1,0,1,0,1,0,0
27,1,0,1,0,1,0,0,1,0

In [137]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [138]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83123 entries, 0 to 103903
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   satisfaction  83123 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [139]:
y_train['satisfaction'].value_counts()

neutral or dissatisfied    47103
satisfied                  36020
Name: satisfaction, dtype: int64

In [140]:
#y_train이 object형이므로 Label Encoding 해주기
from sklearn.preprocessing import LabelEncoder

In [141]:
encoder = LabelEncoder()
encoder.fit(y_train)

C:\Users\PC\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LabelEncoder()

### label encoding

In [158]:
y_train['satisfaction']= encoder.fit_transform(y_train['satisfaction'])

In [159]:
y_train

        satisfaction
ID
0                  0
2                  0
3                  1
4                  1
5                  1
...              ...
103893             0
103898             0
103899             1
103901             1
103903             0

[83123 rows x 1 columns]

In [160]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.7833452191595447

In [161]:
model.fit(x_train, y_train)

<ipython-input-161-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [162]:
pre = model.predict(x_test)

In [163]:
pre

array([1, 0, 0, ..., 1, 1, 0])

In [164]:
dic = {'ID':x_test.index, 'satisfaction':pre}
submit = pd.DataFrame(dic)
submit

           ID  satisfaction
0           1             1
1          16             0
2          17             0
3          25             1
4          27             0
...       ...           ...
20776  103895             0
20777  103896             0
20778  103897             1
20779  103900             1
20780  103902             0

[20781 rows x 2 columns]

In [100]:
submit.to_csv('test.csv', index=False)

In [101]:
test = pd.read_csv('test.csv')
test.head()

   ID             satisfaction
0   1                satisfied
1  16  neutral or dissatisfied
2  17  neutral or dissatisfied
3  25                satisfied
4  27  neutral or dissatisfied

### 수질 음용성 여부 데이터

In [189]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
ID,,,,,,,,,
0,8.662710,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,7.583770,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289
3,6.584813,182.375456,24723.106296,6.238920,NaN,414.350751,17.582615,78.213738,4.404132
4,7.179864,180.854211,10859.553752,8.263503,341.302486,358.056264,12.065317,83.329918,3.878447

    Potability
ID
0            0
1            1
2            0
3            0
4            0

In [190]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2620 entries, 0 to 3275
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2225 non-null   float64
 1   Hardness         2620 non-null   float64
 2   Solids           2620 non-null   float64
 3   Chloramines      2620 non-null   float64
 4   Sulfate          2003 non-null   float64
 5   Conductivity     2620 non-null   float64
 6   Organic_carbon   2620 non-null   float64
 7   Trihalomethanes  2488 non-null   float64
 8   Turbidity        2620 non-null   float64
dtypes: float64(9)
memory usage: 204.7 KB

In [191]:
# 양쪽 다 결측치가 좀 많네
x_train.shape, x_test.shape

((2620, 9), (656, 9))

In [192]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 16 to 3274
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               549 non-null    float64
 1   Hardness         656 non-null    float64
 2   Solids           656 non-null    float64
 3   Chloramines      656 non-null    float64
 4   Sulfate          504 non-null    float64
 5   Conductivity     656 non-null    float64
 6   Organic_carbon   656 non-null    float64
 7   Trihalomethanes  618 non-null    float64
 8   Turbidity        656 non-null    float64
dtypes: float64(9)
memory usage: 51.2 KB

In [195]:
#일단 중앙값으로 다 대체하고 해보기
x_train['Sulfate']=x_train['Sulfate'].fillna(x_train['Sulfate'].mean())

In [196]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2620 entries, 0 to 3275
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2620 non-null   float64
 1   Hardness         2620 non-null   float64
 2   Solids           2620 non-null   float64
 3   Chloramines      2620 non-null   float64
 4   Sulfate          2620 non-null   float64
 5   Conductivity     2620 non-null   float64
 6   Organic_carbon   2620 non-null   float64
 7   Trihalomethanes  2620 non-null   float64
 8   Turbidity        2620 non-null   float64
dtypes: float64(9)
memory usage: 204.7 KB

In [201]:
#일단 중앙값으로 다 대체하고 해보기
x_test['Trihalomethanes']=x_test['Trihalomethanes'].fillna(x_test['Trihalomethanes'].mean())

In [200]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 16 to 3274
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               656 non-null    float64
 1   Hardness         656 non-null    float64
 2   Solids           656 non-null    float64
 3   Chloramines      656 non-null    float64
 4   Sulfate          656 non-null    float64
 5   Conductivity     656 non-null    float64
 6   Organic_carbon   656 non-null    float64
 7   Trihalomethanes  618 non-null    float64
 8   Turbidity        656 non-null    float64
dtypes: float64(9)
memory usage: 51.2 KB

In [202]:
#성능이 좋지 않아서 scale 해주기
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns)

In [203]:
x_train

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0.618765,0.467199,0.324047,0.416362,0.882843,0.486395,0.539590,0.747629,0.747865
1,0.504265,0.662596,0.242178,0.497130,0.579860,0.369102,0.455292,0.415354,0.624943
2,0.541698,0.629298,0.588687,0.644568,0.701542,0.371410,0.583996,0.645343,0.446728
3,0.470344,0.499964,0.396611,0.463836,0.579860,0.407211,0.589372,0.649463,0.601970
4,0.512847,0.494328,0.167456,0.623355,0.603080,0.308769,0.377981,0.692350,0.494850
...,...,...,...,...,...,...,...,...,...
2615,0.587012,0.254273,0.359297,0.366256,0.579860,0.396735,0.173670,0.756591,0.569838
2616,0.504265,0.888969,0.671037,0.406978,0.579860,0.339666,0.451239,0.814151,0.585300
2617,0.464546,0.429129,0.235898,0.574373,0.582629,0.587461,0.587382,0.310394,0.715890
2618,0.517386,0.520975,0.333046,0.638373,0.579860,0.343031,0.542428,0.594248,0.614768
2619,0.566648,0.582767,0.198421,0.580310,0.574061,0.469000,0.516078,0.458254,0.628481

In [204]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [205]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.666412213740458

In [206]:
model.fit(x_train, y_train)

<ipython-input-206-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [209]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [212]:
scaler.fit(x_test)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

In [213]:
pre = model.predict(x_test)
pre

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [214]:
dic = {'ID':x_test.index, 'Potability':pre}
submit = pd.DataFrame(dic)
submit

      ID  Potability
0      0           0
1      1           1
2      2           1
3      3           0
4      4           0
..   ...         ...
651  651           0
652  652           0
653  653           1
654  654           0
655  655           0

[656 rows x 2 columns]

### 약물 분류 데이터

In [216]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv",index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_test.csv",index_col='ID')


display(x_train.head())
display(y_train.head())

    Age Sex      BP Cholesterol  Na_to_K
ID
0    36   F  NORMAL        HIGH   16.753
1    47   F     LOW        HIGH   11.767
2    69   F  NORMAL        HIGH   10.065
3    35   M     LOW      NORMAL    9.170
4    49   M     LOW      NORMAL   11.014

    Drug
ID
0      0
1      3
2      4
3      4
4      4

In [217]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          157 non-null    int64
 1   Sex          157 non-null    object
 2   BP           157 non-null    object
 3   Cholesterol  157 non-null    object
 4   Na_to_K      157 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 7.4+ KB

In [218]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 8 to 197
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          43 non-null     int64
 1   Sex          43 non-null     object
 2   BP           43 non-null     object
 3   Cholesterol  43 non-null     object
 4   Na_to_K      43 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.0+ KB

In [219]:
y_train['Drug'].value_counts()

0    72
4    43
1    18
3    12
2    12
Name: Drug, dtype: int64

In [221]:
x_train_encoding = x_train[['Sex','BP','Cholesterol']]
x_train_encoding

    Sex      BP Cholesterol
ID
0     F  NORMAL        HIGH
1     F     LOW        HIGH
2     F  NORMAL        HIGH
3     M     LOW      NORMAL
4     M     LOW      NORMAL
..   ..     ...         ...
194   M     LOW      NORMAL
195   F  NORMAL      NORMAL
196   M  NORMAL        HIGH
198   M    HIGH      NORMAL
199   F     LOW      NORMAL

[157 rows x 3 columns]

In [222]:
x_test_encoding = x_test[['Sex','BP','Cholesterol']]
x_test_encoding

    Sex      BP Cholesterol
ID
8     F     LOW      NORMAL
9     M  NORMAL      NORMAL
14    M    HIGH      NORMAL
25    F  NORMAL        HIGH
26    M    HIGH        HIGH
27    F     LOW      NORMAL
41    M  NORMAL      NORMAL
50    F  NORMAL      NORMAL
53    F    HIGH        HIGH
56    F    HIGH        HIGH
59    M    HIGH        HIGH
60    M  NORMAL      NORMAL
65    M     LOW      NORMAL
66    F    HIGH      NORMAL
69    M    HIGH      NORMAL
71    F    HIGH        HIGH
75    M     LOW      NORMAL
80    M    HIGH        HIGH
92    M    HIGH      NORMAL
93    F  NORMAL        HIGH
94    F  NORMAL        HIGH
98    F     LOW      NORMAL
99    M    HIGH        HIGH
109   M    HIGH      NORMAL
110   F    HIGH        HIGH
113   M     LOW      NORMAL
117   M    HIGH        HIGH
121   M  NORMAL        HIGH
125   F    HIGH      NORMAL
129   M     LOW      NORMAL
140   F     LOW        HIGH
141   M     LOW        HIGH
145   M     LOW        HIGH
146   F    HIGH      NORMAL
147   F     LOW      NORMAL
149   F    HIGH      NORMAL
161   F     LOW      NORMAL
169   F     LOW      NORMAL
171   M    HIGH      NORMAL
173   F     LOW        HIGH
177   M    HIGH        HIGH
179   M     LOW        HIGH
197   F  NORMAL      NORMAL

In [223]:
x_train.drop(['Sex','BP','Cholesterol'], axis=1, inplace=True)

In [224]:
x_test.drop(['Sex','BP','Cholesterol'], axis=1, inplace=True)

In [225]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding = pd.get_dummies(temp1)

In [226]:
x_train_encoding = temp1_encoding.iloc[:157]
x_test_encoding = temp1_encoding.iloc[157:]

In [227]:
x_train_encoding.shape, x_test_encoding.shape

((157, 7), (43, 7))

In [228]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [229]:
x_train.head()

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
ID,,,,,,,,,
0,36,16.753,1,0,0,0,1,1,0
1,47,11.767,1,0,0,1,0,1,0
2,69,10.065,1,0,0,0,1,1,0
3,35,9.170,0,1,0,1,0,0,1
4,49,11.014,0,1,0,1,0,0,1

In [231]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [234]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.99375

In [235]:
model.fit(x_train, y_train)

<ipython-input-235-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [236]:
pre = model.predict(x_test)

In [237]:
pre

array([0, 4, 1, 4, 0, 4, 4, 4, 0, 1, 2, 4, 4, 2, 2, 2, 4, 1, 0, 4, 4, 0,
       1, 1, 0, 4, 2, 0, 0, 4, 3, 0, 3, 0, 4, 1, 0, 0, 0, 0, 1, 3, 0],
      dtype=int64)

In [238]:
dic = {'ID':x_test.index, 'Drug':pre}
submit = pd.DataFrame(dic)
submit

     ID  Drug
0     8     0
1     9     4
2    14     1
3    25     4
4    26     0
5    27     4
6    41     4
7    50     4
8    53     0
9    56     1
10   59     2
11   60     4
12   65     4
13   66     2
14   69     2
15   71     2
16   75     4
17   80     1
18   92     0
19   93     4
20   94     4
21   98     0
22   99     1
23  109     1
24  110     0
25  113     4
26  117     2
27  121     0
28  125     0
29  129     4
30  140     3
31  141     0
32  145     3
33  146     0
34  147     4
35  149     1
36  161     0
37  169     0
38  171     0
39  173     0
40  177     1
41  179     3
42  197     0

### 사기회사 분류 데이터

In [427]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
ID,,,,,,,,,,,,,,,,,,,,,
0,2.37,16,0.01,0.2,0.002,0.007,0.2,0.0014,0.017,5.0,...,0.2,0.4,0,0.2,0.0,2.0,1.4034,0.4,0.5,0.28068
2,55.57,9,1.06,0.4,0.424,0.000,0.2,0.0000,1.060,5.0,...,0.2,0.4,0,0.2,0.0,2.2,1.8240,0.4,0.5,0.36480
3,55.57,16,2.42,0.6,1.452,3.530,0.6,2.1180,5.950,5.0,...,0.2,0.4,0,0.2,0.0,3.8,7.4940,0.4,0.5,1.49880
4,2.37,9,0.31,0.2,0.062,0.690,0.2,0.1380,1.000,5.0,...,0.2,0.4,0,0.2,0.0,2.0,1.6000,0.4,0.5,0.32000
5,55.57,6,0.62,0.2,0.124,0.420,0.2,0.0840,1.040,5.0,...,0.2,0.4,0,0.2,0.0,2.0,1.6080,0.4,0.5,0.32160

    Risk
ID
0      0
2      0
3      1
4      0
5      0

In [428]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620 entries, 0 to 775
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    620 non-null    float64
 1   LOCATION_ID     620 non-null    object
 2   PARA_A          620 non-null    float64
 3   Score_A         620 non-null    float64
 4   Risk_A          620 non-null    float64
 5   PARA_B          620 non-null    float64
 6   Score_B         620 non-null    float64
 7   Risk_B          620 non-null    float64
 8   TOTAL           620 non-null    float64
 9   numbers         620 non-null    float64
 10  Score_B.1       620 non-null    float64
 11  Risk_C          620 non-null    float64
 12  Money_Value     619 non-null    float64
 13  Score_MV        620 non-null    float64
 14  Risk_D          620 non-null    float64
 15  District_Loss   620 non-null    int64
 16  PROB            620 non-null    float64
 17  RiSk_E          620 non-null    float64
 18  History         620 non-null    int64
 19  Prob            620 non-null    float64
 20  Risk_F          620 non-null    float64
 21  Score           620 non-null    float64
 22  Inherent_Risk   620 non-null    float64
 23  CONTROL_RISK    620 non-null    float64
 24  Detection_Risk  620 non-null    float64
 25  Audit_Risk      620 non-null    float64
dtypes: float64(23), int64(2), object(1)
memory usage: 130.8+ KB

In [429]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 1 to 772
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    156 non-null    float64
 1   LOCATION_ID     156 non-null    object
 2   PARA_A          156 non-null    float64
 3   Score_A         156 non-null    float64
 4   Risk_A          156 non-null    float64
 5   PARA_B          156 non-null    float64
 6   Score_B         156 non-null    float64
 7   Risk_B          156 non-null    float64
 8   TOTAL           156 non-null    float64
 9   numbers         156 non-null    float64
 10  Score_B.1       156 non-null    float64
 11  Risk_C          156 non-null    float64
 12  Money_Value     155 non-null    float64
 13  Score_MV        156 non-null    float64
 14  Risk_D          156 non-null    float64
 15  District_Loss   156 non-null    int64
 16  PROB            156 non-null    float64
 17  RiSk_E          156 non-null    float64
 18  History         156 non-null    int64
 19  Prob            156 non-null    float64
 20  Risk_F          156 non-null    float64
 21  Score           156 non-null    float64
 22  Inherent_Risk   156 non-null    float64
 23  CONTROL_RISK    156 non-null    float64
 24  Detection_Risk  156 non-null    float64
 25  Audit_Risk      156 non-null    float64
dtypes: float64(23), int64(2), object(1)
memory usage: 32.9+ KB

In [430]:
x_train_encoding = x_train[['LOCATION_ID']]
x_test_encoding = x_test[['LOCATION_ID']]

In [431]:
x_train_encoding

    LOCATION_ID
ID
0            16
2             9
3            16
4             9
5             6
..          ...
770           4
771           3
773          18
774           5
775           6

[620 rows x 1 columns]

In [432]:
x_train['Money_Value']=x_train['Money_Value'].fillna(x_train['Money_Value'].mean())

In [433]:
x_train.drop(['LOCATION_ID'], axis=1, inplace=True)

In [434]:
x_test.drop(['LOCATION_ID'], axis=1, inplace=True)

In [435]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding = pd.get_dummies(temp1)

In [436]:
x_train_encoding = temp1_encoding.iloc[:620]
x_test_encoding = temp1_encoding.iloc[620:]
x_train_encoding.shape, x_test_encoding.shape

((620, 42), (156, 42))

In [437]:
x_train

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
ID,,,,,,,,,,,,,,,,,,,,,
0,2.37,0.01,0.2,0.002,0.007,0.2,0.0014,0.017,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.0,1.4034,0.4,0.5,0.28068
2,55.57,1.06,0.4,0.424,0.000,0.2,0.0000,1.060,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.2,1.8240,0.4,0.5,0.36480
3,55.57,2.42,0.6,1.452,3.530,0.6,2.1180,5.950,5.0,0.2,...,0.2,0.4,0,0.2,0.0,3.8,7.4940,0.4,0.5,1.49880
4,2.37,0.31,0.2,0.062,0.690,0.2,0.1380,1.000,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.0,1.6000,0.4,0.5,0.32000
5,55.57,0.62,0.2,0.124,0.420,0.2,0.0840,1.040,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.0,1.6080,0.4,0.5,0.32160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,3.89,0.00,0.2,0.000,1.100,0.2,0.2200,1.100,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.0,1.6214,0.4,0.5,0.32428
771,3.89,0.02,0.2,0.004,5.940,0.4,2.3760,5.960,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.6,3.7820,0.4,0.5,0.75640
773,2.72,5.11,0.6,3.066,53.760,0.6,32.2560,58.870,6.0,0.6,...,0.2,0.4,2,0.6,1.2,5.2,69.6580,1.6,0.5,55.72640
774,1.99,0.56,0.2,0.112,0.000,0.2,0.0000,0.560,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.0,1.8620,0.4,0.5,0.37240
775,21.61,0.88,0.2,0.176,1.070,0.4,0.4280,1.950,5.0,0.2,...,0.2,0.4,0,0.2,0.0,2.6,2.1560,0.4,0.5,0.43120

In [438]:
x_train_encoding

,LOCATION_ID_1,LOCATION_ID_11,LOCATION_ID_12,LOCATION_ID_13,LOCATION_ID_14,LOCATION_ID_15,LOCATION_ID_16,LOCATION_ID_17,LOCATION_ID_18,LOCATION_ID_19,...,LOCATION_ID_43,LOCATION_ID_44,LOCATION_ID_5,LOCATION_ID_6,LOCATION_ID_7,LOCATION_ID_8,LOCATION_ID_9,LOCATION_ID_LOHARU,LOCATION_ID_NUH,LOCATION_ID_SAFIDON
ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
771,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
773,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
774,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [439]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [440]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(x_train)
x_train = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns)

In [441]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 67 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sector_score         620 non-null    float64
 1   PARA_A               620 non-null    float64
 2   Score_A              620 non-null    float64
 3   Risk_A               620 non-null    float64
 4   PARA_B               620 non-null    float64
 5   Score_B              620 non-null    float64
 6   Risk_B               620 non-null    float64
 7   TOTAL                620 non-null    float64
 8   numbers              620 non-null    float64
 9   Score_B.1            620 non-null    float64
 10  Risk_C               620 non-null    float64
 11  Money_Value          620 non-null    float64
 12  Score_MV             620 non-null    float64
 13  Risk_D               620 non-null    float64
 14  District_Loss        620 non-null    float64
 15  PROB                 620 non-null    float64
 16  RiSk_E               620 non-null    float64
 17  History              620 non-null    float64
 18  Prob                 620 non-null    float64
 19  Risk_F               620 non-null    float64
 20  Score                620 non-null    float64
 21  Inherent_Risk        620 non-null    float64
 22  CONTROL_RISK         620 non-null    float64
 23  Detection_Risk       620 non-null    float64
 24  Audit_Risk           620 non-null    float64
 25  LOCATION_ID_1        620 non-null    float64
 26  LOCATION_ID_11       620 non-null    float64
 27  LOCATION_ID_12       620 non-null    float64
 28  LOCATION_ID_13       620 non-null    float64
 29  LOCATION_ID_14       620 non-null    float64
 30  LOCATION_ID_15       620 non-null    float64
 31  LOCATION_ID_16       620 non-null    float64
 32  LOCATION_ID_17       620 non-null    float64
 33  LOCATION_ID_18       620 non-null    float64
 34  LOCATION_ID_19       620 non-null    float64
 35  LOCATION_ID_2        620 non-null    float64
 36  LOCATION_ID_20       620 non-null    float64
 37  LOCATION_ID_21       620 non-null    float64
 38  LOCATION_ID_22       620 non-null    float64
 39  LOCATION_ID_23       620 non-null    float64
 40  LOCATION_ID_24       620 non-null    float64
 41  LOCATION_ID_25       620 non-null    float64
 42  LOCATION_ID_27       620 non-null    float64
 43  LOCATION_ID_28       620 non-null    float64
 44  LOCATION_ID_29       620 non-null    float64
 45  LOCATION_ID_3        620 non-null    float64
 46  LOCATION_ID_30       620 non-null    float64
 47  LOCATION_ID_31       620 non-null    float64
 48  LOCATION_ID_32       620 non-null    float64
 49  LOCATION_ID_33       620 non-null    float64
 50  LOCATION_ID_35       620 non-null    float64
 51  LOCATION_ID_36       620 non-null    float64
 52  LOCATION_ID_37       620 non-null    float64
 53  LOCATION_ID_38       620 non-null    float64
 54  LOCATION_ID_39       620 non-null    float64
 55  LOCATION_ID_4        620 non-null    float64
 56  LOCATION_ID_40       620 non-null    float64
 57  LOCATION_ID_43       620 non-null    float64
 58  LOCATION_ID_44       620 non-null    float64
 59  LOCATION_ID_5        620 non-null    float64
 60  LOCATION_ID_6        620 non-null    float64
 61  LOCATION_ID_7        620 non-null    float64
 62  LOCATION_ID_8        620 non-null    float64
 63  LOCATION_ID_9        620 non-null    float64
 64  LOCATION_ID_LOHARU   620 non-null    float64
 65  LOCATION_ID_NUH      620 non-null    float64
 66  LOCATION_ID_SAFIDON  620 non-null    float64
dtypes: float64(67)
memory usage: 324.7 KB

In [442]:
y_train

     Risk
ID
0       0
2       0
3       1
4       0
5       0
..    ...
770     0
771     0
773     1
774     0
775     0

[620 rows x 1 columns]

In [443]:
x_test

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,LOCATION_ID_43,LOCATION_ID_44,LOCATION_ID_5,LOCATION_ID_6,LOCATION_ID_7,LOCATION_ID_8,LOCATION_ID_9,LOCATION_ID_LOHARU,LOCATION_ID_NUH,LOCATION_ID_SAFIDON
ID,,,,,,,,,,,,,,,,,,,,,
1,3.89,13.92,0.6,8.352,2.20,0.2,0.440,16.12,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
9,1.85,1.16,0.4,0.464,0.00,0.2,0.000,1.16,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
10,1.99,1.53,0.4,0.612,0.00,0.2,0.000,1.53,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
11,55.57,0.00,0.2,0.000,0.00,0.2,0.000,0.00,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
12,2.37,0.51,0.2,0.102,0.47,0.2,0.094,0.98,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,1.85,3.17,0.6,1.902,0.44,0.2,0.088,3.61,5.0,0.2,...,0,0,0,0,0,1,0,0,0,0
762,3.89,7.18,0.6,4.308,14.63,0.6,8.778,21.81,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
763,2.72,3.26,0.6,1.956,2.81,0.2,0.562,6.07,6.0,0.6,...,0,0,0,0,0,0,0,0,0,0
765,55.57,0.50,0.2,0.100,2.97,0.6,1.782,3.47,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0
772,3.41,5.22,0.6,3.132,20.94,0.6,12.564,26.16,5.0,0.2,...,0,0,0,0,0,0,0,0,0,0

In [444]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 1 to 772
Data columns (total 67 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sector_score         156 non-null    float64
 1   PARA_A               156 non-null    float64
 2   Score_A              156 non-null    float64
 3   Risk_A               156 non-null    float64
 4   PARA_B               156 non-null    float64
 5   Score_B              156 non-null    float64
 6   Risk_B               156 non-null    float64
 7   TOTAL                156 non-null    float64
 8   numbers              156 non-null    float64
 9   Score_B.1            156 non-null    float64
 10  Risk_C               156 non-null    float64
 11  Money_Value          155 non-null    float64
 12  Score_MV             156 non-null    float64
 13  Risk_D               156 non-null    float64
 14  District_Loss        156 non-null    int64
 15  PROB                 156 non-null    float64
 16  RiSk_E               156 non-null    float64
 17  History              156 non-null    int64
 18  Prob                 156 non-null    float64
 19  Risk_F               156 non-null    float64
 20  Score                156 non-null    float64
 21  Inherent_Risk        156 non-null    float64
 22  CONTROL_RISK         156 non-null    float64
 23  Detection_Risk       156 non-null    float64
 24  Audit_Risk           156 non-null    float64
 25  LOCATION_ID_1        156 non-null    uint8
 26  LOCATION_ID_11       156 non-null    uint8
 27  LOCATION_ID_12       156 non-null    uint8
 28  LOCATION_ID_13       156 non-null    uint8
 29  LOCATION_ID_14       156 non-null    uint8
 30  LOCATION_ID_15       156 non-null    uint8
 31  LOCATION_ID_16       156 non-null    uint8
 32  LOCATION_ID_17       156 non-null    uint8
 33  LOCATION_ID_18       156 non-null    uint8
 34  LOCATION_ID_19       156 non-null    uint8
 35  LOCATION_ID_2        156 non-null    uint8
 36  LOCATION_ID_20       156 non-null    uint8
 37  LOCATION_ID_21       156 non-null    uint8
 38  LOCATION_ID_22       156 non-null    uint8
 39  LOCATION_ID_23       156 non-null    uint8
 40  LOCATION_ID_24       156 non-null    uint8
 41  LOCATION_ID_25       156 non-null    uint8
 42  LOCATION_ID_27       156 non-null    uint8
 43  LOCATION_ID_28       156 non-null    uint8
 44  LOCATION_ID_29       156 non-null    uint8
 45  LOCATION_ID_3        156 non-null    uint8
 46  LOCATION_ID_30       156 non-null    uint8
 47  LOCATION_ID_31       156 non-null    uint8
 48  LOCATION_ID_32       156 non-null    uint8
 49  LOCATION_ID_33       156 non-null    uint8
 50  LOCATION_ID_35       156 non-null    uint8
 51  LOCATION_ID_36       156 non-null    uint8
 52  LOCATION_ID_37       156 non-null    uint8
 53  LOCATION_ID_38       156 non-null    uint8
 54  LOCATION_ID_39       156 non-null    uint8
 55  LOCATION_ID_4        156 non-null    uint8
 56  LOCATION_ID_40       156 non-null    uint8
 57  LOCATION_ID_43       156 non-null    uint8
 58  LOCATION_ID_44       156 non-null    uint8
 59  LOCATION_ID_5        156 non-null    uint8
 60  LOCATION_ID_6        156 non-null    uint8
 61  LOCATION_ID_7        156 non-null    uint8
 62  LOCATION_ID_8        156 non-null    uint8
 63  LOCATION_ID_9        156 non-null    uint8
 64  LOCATION_ID_LOHARU   156 non-null    uint8
 65  LOCATION_ID_NUH      156 non-null    uint8
 66  LOCATION_ID_SAFIDON  156 non-null    uint8
dtypes: float64(23), int64(2), uint8(42)
memory usage: 38.1 KB

In [445]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [446]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.9967741935483871

In [447]:
model.fit(x_train, y_train)

<ipython-input-447-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [408]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 67 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sector_score         620 non-null    float64
 1   PARA_A               620 non-null    float64
 2   Score_A              620 non-null    float64
 3   Risk_A               620 non-null    float64
 4   PARA_B               620 non-null    float64
 5   Score_B              620 non-null    float64
 6   Risk_B               620 non-null    float64
 7   TOTAL                620 non-null    float64
 8   numbers              620 non-null    float64
 9   Score_B.1            620 non-null    float64
 10  Risk_C               620 non-null    float64
 11  Money_Value          620 non-null    float64
 12  Score_MV             620 non-null    float64
 13  Risk_D               620 non-null    float64
 14  District_Loss        620 non-null    float64
 15  PROB                 620 non-null    float64
 16  RiSk_E               620 non-null    float64
 17  History              620 non-null    float64
 18  Prob                 620 non-null    float64
 19  Risk_F               620 non-null    float64
 20  Score                620 non-null    float64
 21  Inherent_Risk        620 non-null    float64
 22  CONTROL_RISK         620 non-null    float64
 23  Detection_Risk       620 non-null    float64
 24  Audit_Risk           620 non-null    float64
 25  LOCATION_ID_1        620 non-null    float64
 26  LOCATION_ID_11       620 non-null    float64
 27  LOCATION_ID_12       620 non-null    float64
 28  LOCATION_ID_13       620 non-null    float64
 29  LOCATION_ID_14       620 non-null    float64
 30  LOCATION_ID_15       620 non-null    float64
 31  LOCATION_ID_16       620 non-null    float64
 32  LOCATION_ID_17       620 non-null    float64
 33  LOCATION_ID_18       620 non-null    float64
 34  LOCATION_ID_19       620 non-null    float64
 35  LOCATION_ID_2        620 non-null    float64
 36  LOCATION_ID_20       620 non-null    float64
 37  LOCATION_ID_21       620 non-null    float64
 38  LOCATION_ID_22       620 non-null    float64
 39  LOCATION_ID_23       620 non-null    float64
 40  LOCATION_ID_24       620 non-null    float64
 41  LOCATION_ID_25       620 non-null    float64
 42  LOCATION_ID_27       620 non-null    float64
 43  LOCATION_ID_28       620 non-null    float64
 44  LOCATION_ID_29       620 non-null    float64
 45  LOCATION_ID_3        620 non-null    float64
 46  LOCATION_ID_30       620 non-null    float64
 47  LOCATION_ID_31       620 non-null    float64
 48  LOCATION_ID_32       620 non-null    float64
 49  LOCATION_ID_33       620 non-null    float64
 50  LOCATION_ID_35       620 non-null    float64
 51  LOCATION_ID_36       620 non-null    float64
 52  LOCATION_ID_37       620 non-null    float64
 53  LOCATION_ID_38       620 non-null    float64
 54  LOCATION_ID_39       620 non-null    float64
 55  LOCATION_ID_4        620 non-null    float64
 56  LOCATION_ID_40       620 non-null    float64
 57  LOCATION_ID_43       620 non-null    float64
 58  LOCATION_ID_44       620 non-null    float64
 59  LOCATION_ID_5        620 non-null    float64
 60  LOCATION_ID_6        620 non-null    float64
 61  LOCATION_ID_7        620 non-null    float64
 62  LOCATION_ID_8        620 non-null    float64
 63  LOCATION_ID_9        620 non-null    float64
 64  LOCATION_ID_LOHARU   620 non-null    float64
 65  LOCATION_ID_NUH      620 non-null    float64
 66  LOCATION_ID_SAFIDON  620 non-null    float64
dtypes: float64(67)
memory usage: 324.7 KB

In [448]:
scaler = MinMaxScaler()
scaler.fit(x_test)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

In [451]:
pre = model.predict(x_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
# 뭔가 이상하니까 일단 보류해두고 다음 문제

### 센서데이터 동작유형 분류 데이터

In [372]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
ID,,,,,,,,,,,,,,,,,,,,,
0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,-3.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,-5.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,-5.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,1.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,2.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

    pose
ID
0      1
2      0
4      1
5      0
6      1

In [373]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4650 entries, 0 to 5810
Data columns (total 64 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   motion_0   4650 non-null   float64
 1   motion_1   4650 non-null   float64
 2   motion_2   4650 non-null   float64
 3   motion_3   4650 non-null   float64
 4   motion_4   4650 non-null   float64
 5   motion_5   4650 non-null   float64
 6   motion_6   4650 non-null   float64
 7   motion_7   4650 non-null   float64
 8   motion_8   4650 non-null   float64
 9   motion_9   4650 non-null   float64
 10  motion_10  4650 non-null   float64
 11  motion_11  4650 non-null   float64
 12  motion_12  4650 non-null   float64
 13  motion_13  4650 non-null   float64
 14  motion_14  4650 non-null   float64
 15  motion_15  4650 non-null   float64
 16  motion_16  4650 non-null   float64
 17  motion_17  4650 non-null   float64
 18  motion_18  4650 non-null   float64
 19  motion_19  4650 non-null   float64
 20  motion_20  4650 non-null   float64
 21  motion_21  4650 non-null   float64
 22  motion_22  4650 non-null   float64
 23  motion_23  4650 non-null   float64
 24  motion_24  4650 non-null   float64
 25  motion_25  4650 non-null   float64
 26  motion_26  4650 non-null   float64
 27  motion_27  4650 non-null   float64
 28  motion_28  4650 non-null   float64
 29  motion_29  4650 non-null   float64
 30  motion_30  4650 non-null   float64
 31  motion_31  4650 non-null   float64
 32  motion_32  4650 non-null   float64
 33  motion_33  4650 non-null   float64
 34  motion_34  4650 non-null   float64
 35  motion_35  4650 non-null   float64
 36  motion_36  4650 non-null   float64
 37  motion_37  4650 non-null   float64
 38  motion_38  4650 non-null   float64
 39  motion_39  4650 non-null   float64
 40  motion_40  4650 non-null   float64
 41  motion_41  4650 non-null   float64
 42  motion_42  4650 non-null   float64
 43  motion_43  4650 non-null   float64
 44  motion_44  4650 non-null   float64
 45  motion_45  4650 non-null   float64
 46  motion_46  4650 non-null   float64
 47  motion_47  4650 non-null   float64
 48  motion_48  4650 non-null   float64
 49  motion_49  4650 non-null   float64
 50  motion_50  4650 non-null   float64
 51  motion_51  4650 non-null   float64
 52  motion_52  4650 non-null   float64
 53  motion_53  4650 non-null   float64
 54  motion_54  4650 non-null   float64
 55  motion_55  4650 non-null   float64
 56  motion_56  4650 non-null   float64
 57  motion_57  4650 non-null   float64
 58  motion_58  4650 non-null   float64
 59  motion_59  4650 non-null   float64
 60  motion_60  4650 non-null   float64
 61  motion_61  4650 non-null   float64
 62  motion_62  4650 non-null   float64
 63  motion_63  4650 non-null   float64
dtypes: float64(64)
memory usage: 2.3 MB

In [374]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1163 entries, 1 to 5812
Data columns (total 64 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   motion_0   1163 non-null   float64
 1   motion_1   1163 non-null   float64
 2   motion_2   1163 non-null   float64
 3   motion_3   1163 non-null   float64
 4   motion_4   1163 non-null   float64
 5   motion_5   1163 non-null   float64
 6   motion_6   1163 non-null   float64
 7   motion_7   1163 non-null   float64
 8   motion_8   1163 non-null   float64
 9   motion_9   1163 non-null   float64
 10  motion_10  1163 non-null   float64
 11  motion_11  1163 non-null   float64
 12  motion_12  1163 non-null   float64
 13  motion_13  1163 non-null   float64
 14  motion_14  1163 non-null   float64
 15  motion_15  1163 non-null   float64
 16  motion_16  1163 non-null   float64
 17  motion_17  1163 non-null   float64
 18  motion_18  1163 non-null   float64
 19  motion_19  1163 non-null   float64
 20  motion_20  1163 non-null   float64
 21  motion_21  1163 non-null   float64
 22  motion_22  1163 non-null   float64
 23  motion_23  1163 non-null   float64
 24  motion_24  1163 non-null   float64
 25  motion_25  1163 non-null   float64
 26  motion_26  1163 non-null   float64
 27  motion_27  1163 non-null   float64
 28  motion_28  1163 non-null   float64
 29  motion_29  1163 non-null   float64
 30  motion_30  1163 non-null   float64
 31  motion_31  1163 non-null   float64
 32  motion_32  1163 non-null   float64
 33  motion_33  1163 non-null   float64
 34  motion_34  1163 non-null   float64
 35  motion_35  1163 non-null   float64
 36  motion_36  1163 non-null   float64
 37  motion_37  1163 non-null   float64
 38  motion_38  1163 non-null   float64
 39  motion_39  1163 non-null   float64
 40  motion_40  1163 non-null   float64
 41  motion_41  1163 non-null   float64
 42  motion_42  1163 non-null   float64
 43  motion_43  1163 non-null   float64
 44  motion_44  1163 non-null   float64
 45  motion_45  1163 non-null   float64
 46  motion_46  1163 non-null   float64
 47  motion_47  1163 non-null   float64
 48  motion_48  1163 non-null   float64
 49  motion_49  1163 non-null   float64
 50  motion_50  1163 non-null   float64
 51  motion_51  1163 non-null   float64
 52  motion_52  1163 non-null   float64
 53  motion_53  1163 non-null   float64
 54  motion_54  1163 non-null   float64
 55  motion_55  1163 non-null   float64
 56  motion_56  1163 non-null   float64
 57  motion_57  1163 non-null   float64
 58  motion_58  1163 non-null   float64
 59  motion_59  1163 non-null   float64
 60  motion_60  1163 non-null   float64
 61  motion_61  1163 non-null   float64
 62  motion_62  1163 non-null   float64
 63  motion_63  1163 non-null   float64
dtypes: float64(64)
memory usage: 590.6 KB

In [375]:
y_train

      pose
ID
0        1
2        0
4        1
5        0
6        1
...    ...
5806     1
5807     0
5808     0
5809     0
5810     1

[4650 rows x 1 columns]

In [376]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV

In [377]:
model=RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.9946236559139786

In [378]:
model.fit(x_train, y_train)

<ipython-input-378-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [379]:
pre = model.predict(x_test)

In [380]:
pre

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [381]:
dic = {'ID':x_test.index, 'Pose':pre}
submit = pd.DataFrame(dic)
submit

        ID  Pose
0        1     1
1        3     1
2        8     1
3       10     1
4       17     0
...    ...   ...
1158  5786     0
1159  5796     0
1160  5802     1
1161  5811     1
1162  5812     0

[1163 rows x 2 columns]

### 당뇨여부판단 데이터

In [452]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
ID,,,,,,,,
0,8,126,88,36,108,38.5,0.349,49
1,0,74,52,10,36,27.8,0.269,22
2,1,140,74,26,180,24.1,0.828,23
3,6,162,62,0,0,24.3,0.178,50
4,2,94,68,18,76,26.0,0.561,21

    Outcome
ID
0         0
1         0
2         0
3         1
4         0

In [453]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 766
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               614 non-null    int64
 1   Glucose                   614 non-null    int64
 2   BloodPressure             614 non-null    int64
 3   SkinThickness             614 non-null    int64
 4   Insulin                   614 non-null    int64
 5   BMI                       614 non-null    float64
 6   DiabetesPedigreeFunction  614 non-null    float64
 7   Age                       614 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 43.2 KB

In [454]:
x_train.shape, x_test.shape

((614, 8), (154, 8))

In [455]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 13 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               154 non-null    int64
 1   Glucose                   154 non-null    int64
 2   BloodPressure             154 non-null    int64
 3   SkinThickness             154 non-null    int64
 4   Insulin                   154 non-null    int64
 5   BMI                       154 non-null    float64
 6   DiabetesPedigreeFunction  154 non-null    float64
 7   Age                       154 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 10.8 KB

In [417]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.470588,0.633166,0.721311,0.363636,0.127660,0.573770,0.115713,0.466667
1,0.000000,0.371859,0.426230,0.101010,0.042553,0.414307,0.081554,0.016667
2,0.058824,0.703518,0.606557,0.262626,0.212766,0.359165,0.320239,0.033333
3,0.352941,0.814070,0.508197,0.000000,0.000000,0.362146,0.042699,0.483333
4,0.117647,0.472362,0.557377,0.181818,0.089835,0.387481,0.206234,0.000000
...,...,...,...,...,...,...,...,...
609,0.294118,0.522613,0.606557,0.000000,0.000000,0.429210,0.032024,0.450000
610,0.235294,0.663317,0.704918,0.313131,0.000000,0.417288,0.145602,0.700000
611,0.352941,0.402010,0.540984,0.303030,0.000000,0.390462,0.100342,0.333333
612,0.470588,0.989950,0.606557,0.000000,0.000000,0.385991,0.475235,0.300000
613,0.117647,0.281407,0.459016,0.282828,0.053191,0.360656,0.108454,0.016667

In [419]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [457]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\PC\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.7622284419565506

In [459]:
model.fit(x_train, y_train)

<ipython-input-459-139fa7af76d2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [460]:
pre = model.predict(x_test)

In [461]:
pre

array([0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1],
      dtype=int64)

In [462]:
dic = {'ID':x_test.index, 'Outcome':pre}
submit = pd.DataFrame(dic)
submit

      ID  Outcome
0     13        0
1     18        0
2     29        0
3     33        1
4     34        0
..   ...      ...
149  751        1
150  752        0
151  759        0
152  765        1
153  767        1

[154 rows x 2 columns]