### 작업1유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [2]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

In [4]:
df.isnull().sum()

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  52
smoking_status        0
stroke                0
dtype: int64

In [5]:
# Question1 성별이 Male인 환자들의 age의 평균값은 ?

In [10]:
#age가 왜 그렇게 생겨먹었니...뭐니....
#age가 object로 저장되어 있을 가능성 
df['age']=df['age'].str.replace('*','').astype('int')

In [11]:
ans = df[df['gender']=='Male']['age'].mean()
print(ans)

44.68623481781376

In [ ]:
# Question2 bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [12]:
fil = df['bmi'].fillna(df['bmi'].median())
#result = round(fi.mean(),3)

In [14]:
ans = round(fil.mean(),3)
print(ans)

29.166

In [ ]:
# Question3 bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [15]:
fi = df['bmi'].fillna(method = 'ffill')
result = round(fi.mean(),3)
print(result)

29.188

In [ ]:
# Question4 bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [17]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [18]:
df['age'] = df['age'].str.replace('*','').astype('int')

In [19]:
df.bmi.notnull()

0       True
1       True
2       True
3       True
4       True
        ...
1132    True
1133    True
1134    True
1135    True
1136    True
Name: bmi, Length: 1137, dtype: bool

In [20]:
#결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환
mean = df[df.bmi.notnull()].groupby(df.age//10*10).bmi.mean()
dic = {x:y for x,y in mean.items()}

In [25]:
#결측치인 값들의 인덱스를 저장
idx = df.loc[df.bmi.isnull(), ['age','bmi']].index

#결측치 매핑
df.loc[df.bmi.isnull(),'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = df.bmi.mean()
print(result)

29.2627029367386

In [ ]:
# Question5 avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   int32
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1137 non-null   object
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(1), int32(1), int64(4), object(6)
memory usage: 102.3+ KB

In [58]:
df.loc[df.avg_glucose_level >=200, 'avg_glucose_level']=199

In [59]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,199.00,46,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [60]:
result = round(df[df.stroke ==1].avg_glucose_level.mean(),3)
print(result)

125.188

In [61]:
df.loc[df.avg_glucose_level >=200, 'avg_glucose_level']=199
result = round(df[df['stroke']==1]['avg_glucose_level'].mean(),3)
print(result)

125.188

### 작업 1유형_다른 데이터

In [62]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Question6 Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [64]:
ans = df.sort_values(by='Attack', ascending=False)
ans.reset_index(drop=True, inplace=True)
ans.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
1,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
2,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
3,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
4,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True

In [65]:
a1 = ans.iloc[:400]
a1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
1,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
2,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
3,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
4,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True

In [74]:
len(a1[a1['Legendary']==True])

61

In [67]:
a2 = ans.iloc[400:]
a2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
400,121,Starmie,Water,Psychic,520,60,75,85,100,85,115,1,False
401,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
402,397,Staravia,Normal,Flying,340,55,75,50,40,40,80,4,False
403,192,Sunflora,Grass,NaN,425,75,75,55,105,85,30,2,False
404,559,Scraggy,Dark,Fighting,348,50,75,70,35,70,48,5,False

In [75]:
len(a2[a2['Legendary']==True])

4

In [76]:
print(len(a1[a1['Legendary']==True])-len(a2[a2['Legendary']==True]))

57

In [ ]:
# Question7 Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [77]:
ans = df.groupby(['Type 1']).Total.mean().sort_values(ascending=False).index[2]
print(ans)

Flying

In [79]:
df.groupby(['Type 1']).Total.mean().sort_values(ascending=False)

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64

In [ ]:
# Question8 결측치가 존재하는 행을 모든 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defencse 컬럼의 1분위수를 구하여라

In [87]:
ans = df.dropna()[:int(len(df.dropna())*0.6)].Defense.quantile(.25)

In [88]:
print(ans)

50.0

In [ ]:
# Question9 Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [93]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [94]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [95]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [92]:
ans = df[df['Type 1']=='Fire']['Attack'].mean()
print(ans)

84.76923076923077

In [99]:
df['Attack']=df['Attack'].astype('int')

In [107]:
ans2 = df[df['Attack'] >= df[df['Type 1']=='Fire']['Attack'].mean()]
ans2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False

In [108]:
answer = ans2[ans2['Type 1']=='Water'].shape[0]

In [109]:
print(answer)

37

In [ ]:
# Question10 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [110]:
df['Generation'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [119]:
ans = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
ans

2

### 작업2유형

In [271]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv', index_col='id')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv', index_col='id')

display(train.head())
display(test.head())

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,,
47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [272]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137 entries, 1192 to 5731
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   object
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   float64
 8   bmi                1085 non-null   float64
 9   smoking_status     1137 non-null   object
 10  stroke             1137 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 106.6+ KB

In [273]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 47472 to 24782
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             932 non-null    object
 1   age                932 non-null    int64
 2   hypertension       932 non-null    int64
 3   heart_disease      932 non-null    int64
 4   ever_married       932 non-null    object
 5   work_type          932 non-null    object
 6   Residence_type     932 non-null    object
 7   avg_glucose_level  932 non-null    float64
 8   bmi                875 non-null    float64
 9   smoking_status     932 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 80.1+ KB

In [274]:
# 일단 bmi 결측치를 중앙값으로 대체한다
train['bmi']=train['bmi'].fillna(train['bmi'].median())

In [243]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137 entries, 1192 to 5731
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   object
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   float64
 8   bmi                1137 non-null   float64
 9   smoking_status     1137 non-null   object
 10  stroke             1137 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 106.6+ KB

In [275]:
test['bmi'] = test['bmi'].fillna(test['bmi'].median())

In [276]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 47472 to 24782
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             932 non-null    object
 1   age                932 non-null    int64
 2   hypertension       932 non-null    int64
 3   heart_disease      932 non-null    int64
 4   ever_married       932 non-null    object
 5   work_type          932 non-null    object
 6   Residence_type     932 non-null    object
 7   avg_glucose_level  932 non-null    float64
 8   bmi                932 non-null    float64
 9   smoking_status     932 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 80.1+ KB

In [277]:
#아까부터 왜 자꾸 나이가 
train['age']= train['age'].str.replace('*','').astype('int')

In [278]:
x_train = train.copy()

In [279]:
y_train = x_train['stroke']
y_train.head()

id
1192     0
77       0
59200    0
24905    1
24257    0
Name: stroke, dtype: int64

In [280]:
x_train['stroke'].value_counts()

0    1000
1     137
Name: stroke, dtype: int64

In [250]:
#일단 해보기 인코딩

In [281]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137 entries, 1192 to 5731
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   int32
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   float64
 8   bmi                1137 non-null   float64
 9   smoking_status     1137 non-null   object
 10  stroke             1137 non-null   int64
dtypes: float64(2), int32(1), int64(3), object(5)
memory usage: 102.2+ KB

In [282]:
x_train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...
18205,Female,1,0,0,No,children,Rural,110.17,20.3,Unknown,0
13622,Male,6,0,0,No,children,Rural,92.98,18.9,Unknown,0
59749,Male,81,0,0,Yes,Private,Urban,234.35,25.3,formerly smoked,0
12109,Female,81,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
5731,Female,57,1,0,Yes,Private,Urban,108.61,38.1,smokes,0

In [283]:
x_train_encoding = x_train[['gender', 'ever_married','work_type','Residence_type','smoking_status']]
x_train_encoding

       gender ever_married work_type Residence_type   smoking_status
id
1192   Female           No  Govt_job          Rural     never smoked
77     Female           No  children          Rural          Unknown
59200    Male           No   Private          Urban     never smoked
24905  Female          Yes   Private          Urban  formerly smoked
24257    Male           No  children          Rural          Unknown
...       ...          ...       ...            ...              ...
18205  Female           No  children          Rural          Unknown
13622    Male           No  children          Rural          Unknown
59749    Male          Yes   Private          Urban  formerly smoked
12109  Female          Yes   Private          Rural     never smoked
5731   Female          Yes   Private          Urban           smokes

[1137 rows x 5 columns]

In [284]:
test

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,,
47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
3135,Female,73,0,0,No,Self-employed,Rural,69.35,27.7,never smoked
65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
1847,Female,20,0,0,No,Govt_job,Rural,79.53,27.7,never smoked
...,...,...,...,...,...,...,...,...,...,...
40311,Female,58,0,0,Yes,Private,Urban,149.75,27.0,Unknown
44281,Male,34,0,0,No,Private,Rural,89.68,23.2,smokes
11238,Male,46,0,0,Yes,Private,Rural,92.81,30.8,Unknown
17308,Female,72,1,0,Yes,Private,Urban,221.79,30.0,never smoked
24782,Male,36,0,0,Yes,Private,Rural,83.79,25.5,smokes

In [285]:
x_test_encoding = test[['gender', 'ever_married','work_type','Residence_type','smoking_status']]
x_test_encoding

       gender ever_married      work_type Residence_type   smoking_status
id
47472  Female          Yes        Private          Urban  formerly smoked
36841    Male          Yes  Self-employed          Rural  formerly smoked
3135   Female           No  Self-employed          Rural     never smoked
65218    Male           No       children          Rural          Unknown
1847   Female           No       Govt_job          Rural     never smoked
...       ...          ...            ...            ...              ...
40311  Female          Yes        Private          Urban          Unknown
44281    Male           No        Private          Rural           smokes
11238    Male          Yes        Private          Rural          Unknown
17308  Female          Yes        Private          Urban     never smoked
24782    Male          Yes        Private          Rural           smokes

[932 rows x 5 columns]

In [286]:
#원핫인코딩
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1.head()

       gender ever_married work_type Residence_type   smoking_status
id
1192   Female           No  Govt_job          Rural     never smoked
77     Female           No  children          Rural          Unknown
59200    Male           No   Private          Urban     never smoked
24905  Female          Yes   Private          Urban  formerly smoked
24257    Male           No  children          Rural          Unknown

In [287]:
temp1_encoding = pd.get_dummies(temp1)

In [288]:
temp1_encoding

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,
1192,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0
77,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0
59200,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0
24905,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0
24257,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40311,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0
44281,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1
11238,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0
17308,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0
24782,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1

In [289]:
x_train_encoding = temp1_encoding.iloc[:1137]
x_test_encoding = temp1_encoding.iloc[1137:]
x_train_encoding.shape, x_test_encoding.shape

((1137, 16), (932, 16))

In [290]:
x_train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...
18205,Female,1,0,0,No,children,Rural,110.17,20.3,Unknown,0
13622,Male,6,0,0,No,children,Rural,92.98,18.9,Unknown,0
59749,Male,81,0,0,Yes,Private,Urban,234.35,25.3,formerly smoked,0
12109,Female,81,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
5731,Female,57,1,0,Yes,Private,Urban,108.61,38.1,smokes,0

In [291]:
x_train.drop(['gender', 'ever_married','work_type','Residence_type','smoking_status','stroke'], axis=1, inplace=True)
test.drop(['gender', 'ever_married','work_type','Residence_type','smoking_status'], axis=1, inplace=True)

In [292]:
x_train

       age  hypertension  heart_disease  avg_glucose_level   bmi
id
1192    31             0              0              70.66  27.2
77      13             0              0              85.81  18.6
59200   18             0              0              60.56  33.0
24905   65             0              0             205.77  46.0
24257    4             0              0              90.42  16.2
...    ...           ...            ...                ...   ...
18205    1             0              0             110.17  20.3
13622    6             0              0              92.98  18.9
59749   81             0              0             234.35  25.3
12109   81             1              0              80.43  29.7
5731    57             1              0             108.61  38.1

[1137 rows x 5 columns]

In [293]:
test

       age  hypertension  heart_disease  avg_glucose_level   bmi
id
47472   58             0              0             107.26  38.6
36841   78             1              0              56.11  25.5
3135    73             0              0              69.35  27.7
65218    2             0              0             109.10  20.0
1847    20             0              0              79.53  27.7
...    ...           ...            ...                ...   ...
40311   58             0              0             149.75  27.0
44281   34             0              0              89.68  23.2
11238   46             0              0              92.81  30.8
17308   72             1              0             221.79  30.0
24782   36             0              0              83.79  25.5

[932 rows x 5 columns]

In [304]:
#인코딩 끝난 데이터 병합 해주기
x_train = pd.concat([x_train, x_train_encoding],axis=1)
x_test = pd.concat([test, x_test_encoding],axis=1)
x_train.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,,,,,,
1192,31,0,0,70.66,27.2,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
77,13,0,0,85.81,18.6,1,0,0,1,0,...,0,0,0,1,1,0,1,0,0,0
59200,18,0,0,60.56,33.0,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
24905,65,0,0,205.77,46.0,1,0,0,0,1,...,0,1,0,0,0,1,0,1,0,0
24257,4,0,0,90.42,16.2,0,1,0,1,0,...,0,0,0,1,1,0,1,0,0,0

In [295]:
x_train_encoding

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,
1192,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0
77,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0
59200,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0
24905,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0
24257,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18205,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0
13622,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,0
59749,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0
12109,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0
5731,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1

In [296]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.model_selection import train_test_split

In [297]:
model = RandomForestClassifier()
#result = model()

In [298]:
result = cross_val_score(model,x_train, y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8645506074381695

In [299]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [305]:
x_test

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,,,,,,
47472,58,0,0,107.26,38.6,1,0,0,0,1,...,0,1,0,0,0,1,0,1,0,0
36841,78,1,0,56.11,25.5,0,1,0,0,1,...,0,0,1,0,1,0,0,1,0,0
3135,73,0,0,69.35,27.7,1,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
65218,2,0,0,109.10,20.0,0,1,0,1,0,...,0,0,0,1,1,0,1,0,0,0
1847,20,0,0,79.53,27.7,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40311,58,0,0,149.75,27.0,1,0,0,0,1,...,0,1,0,0,0,1,1,0,0,0
44281,34,0,0,89.68,23.2,0,1,0,1,0,...,0,1,0,0,1,0,0,0,0,1
11238,46,0,0,92.81,30.8,0,1,0,0,1,...,0,1,0,0,1,0,1,0,0,0
17308,72,1,0,221.79,30.0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
24782,36,0,0,83.79,25.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,0,1

In [302]:
x_test_encoding

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,
47472,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0
36841,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0
3135,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0
65218,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,0
1847,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40311,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0
44281,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1
11238,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0
17308,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0
24782,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1

In [306]:
pre = model.predict(x_test)

In [307]:
pre

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [ ]:
dic = {'id':x_test.index, }