## 작업 1유형

In [ ]:
## 이어서 쓰기와 colab이 어색해서 이후부터는 주피터를 새롭게 계속 만들기로~~

### 지역구 에너지 소비량 데이터

In [10]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [ ]:
## Question51 DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [4]:
df.tail()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [11]:
df['DateTime']=pd.to_datetime(df['DateTime'])

In [17]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [21]:
ans = df['DateTime'].dt.month.value_counts().sort_index().to_frame()

In [22]:
ans

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

In [ ]:
## Question52 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [26]:
ans = df[df['DateTime'].dt.month==3]

In [27]:
ans

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
8496,2017-03-01 00:00:00,12.98,84.6,0.094,0.048,0.122,29069.61702,18190.24390,17616.77419
8497,2017-03-01 00:10:00,12.77,84.6,0.092,0.026,0.159,28579.40426,17707.31707,17233.54839
8498,2017-03-01 00:20:00,12.72,84.9,0.093,0.037,0.133,27844.08511,17089.02439,16856.12903
8499,2017-03-01 00:30:00,12.56,85.4,0.091,0.051,0.111,27237.44681,16854.87805,16467.09677
8500,2017-03-01 00:40:00,12.54,85.5,0.094,0.022,0.126,26882.04255,16635.36585,16182.58065
...,...,...,...,...,...,...,...,...,...
12955,2017-03-31 23:10:00,16.87,87.1,0.073,0.029,0.063,33052.59574,19467.07317,19927.74194
12956,2017-03-31 23:20:00,16.76,86.4,0.073,0.044,0.133,32292.76596,18775.60976,19486.45161
12957,2017-03-31 23:30:00,16.89,86.7,0.073,0.018,0.156,31042.72340,18153.65854,19085.80645
12958,2017-03-31 23:40:00,16.85,86.3,0.073,0.033,0.074,30025.53191,17915.85366,18720.00000
12959,2017-03-31 23:50:00,16.76,86.3,0.072,0.059,0.133,29339.23404,17531.70732,18110.32258

In [38]:
ans = df[df['DateTime'].dt.month==3]
ans = ans.groupby(ans.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]

In [39]:
ans

11.506612903225806

In [ ]:
## Question53 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [46]:
ans = df[df['DateTime'].dt.month==3]

In [47]:
ans

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
8496,2017-03-01 00:00:00,12.98,84.6,0.094,0.048,0.122,29069.61702,18190.24390,17616.77419
8497,2017-03-01 00:10:00,12.77,84.6,0.092,0.026,0.159,28579.40426,17707.31707,17233.54839
8498,2017-03-01 00:20:00,12.72,84.9,0.093,0.037,0.133,27844.08511,17089.02439,16856.12903
8499,2017-03-01 00:30:00,12.56,85.4,0.091,0.051,0.111,27237.44681,16854.87805,16467.09677
8500,2017-03-01 00:40:00,12.54,85.5,0.094,0.022,0.126,26882.04255,16635.36585,16182.58065
...,...,...,...,...,...,...,...,...,...
12955,2017-03-31 23:10:00,16.87,87.1,0.073,0.029,0.063,33052.59574,19467.07317,19927.74194
12956,2017-03-31 23:20:00,16.76,86.4,0.073,0.044,0.133,32292.76596,18775.60976,19486.45161
12957,2017-03-31 23:30:00,16.89,86.7,0.073,0.018,0.156,31042.72340,18153.65854,19085.80645
12958,2017-03-31 23:40:00,16.85,86.3,0.073,0.033,0.074,30025.53191,17915.85366,18720.00000
12959,2017-03-31 23:50:00,16.76,86.3,0.072,0.059,0.133,29339.23404,17531.70732,18110.32258

In [48]:
ans = ans.groupby(ans['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]

In [49]:
ans

18.39360215053763

In [ ]:
## Question54 Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [50]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [64]:
df[['Zone 1 Power Consumption']]

       Zone 1 Power Consumption
0                   34055.69620
1                   29814.68354
2                   29128.10127
3                   28228.86076
4                   27335.69620
...                         ...
52411               31160.45627
52412               30430.41825
52413               29590.87452
52414               28958.17490
52415               28349.80989

[52416 rows x 1 columns]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  datetime64[ns]
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.6 MB

In [67]:
df[['Zone 2  Power Consumption']]

       Zone 2  Power Consumption
0                    16128.87538
1                    19375.07599
2                    19006.68693
3                    18361.09422
4                    17872.34043
...                          ...
52411                26857.31820
52412                26124.57809
52413                25277.69254
52414                24692.23688
52415                24055.23167

[52416 rows x 1 columns]

In [69]:
ans = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]

In [71]:
ans=ans['Humidity'].mean()

In [72]:
ans

68.23624448055094

In [ ]:
## Question55 각 zone 에너지 소비량의 상관관계를 구해서 데이터프레임으로 표기하라

In [73]:
#인덱싱 하는거 익혀두기
df.iloc[:,-3:]

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,34055.69620,16128.87538,20240.96386
1,29814.68354,19375.07599,20131.08434
2,29128.10127,19006.68693,19668.43373
3,28228.86076,18361.09422,18899.27711
4,27335.69620,17872.34043,18442.40964
...,...,...,...
52411,31160.45627,26857.31820,14780.31212
52412,30430.41825,26124.57809,14428.81152
52413,29590.87452,25277.69254,13806.48259
52414,28958.17490,24692.23688,13512.60504
52415,28349.80989,24055.23167,13345.49820

In [74]:
ans = df.iloc[:,-3:].corr()
ans

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [ ]:
## Question56 Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [75]:
#이렇게는 안됨!
def Temp_level(x):
    if x < 10 :
        x['level']=='A'
    elif 10 < x < 20 :
        x['level']=='B'
    elif 20 < x < 30 :
        x['level']=='C'
    else:
        x['level']=='D'

In [86]:
def Temp_level(x):
    if x < 10 :
        return 'A'
    elif 10 < x < 20 :
        return'B'
    elif 20 < x < 30 :
        return'C'
    else:
        return'D'

In [87]:
df['Temperature']

0        6.559
1        6.414
2        6.313
3        6.121
4        5.921
         ...
52411    7.010
52412    6.947
52413    6.900
52414    6.758
52415    6.580
Name: Temperature, Length: 52416, dtype: float64

In [92]:
df['level']=df['Temperature'].map(Temp_level)

In [94]:
df['level']

0        A
1        A
2        A
3        A
4        A
        ..
52411    A
52412    A
52413    A
52414    A
52415    A
Name: level, Length: 52416, dtype: object

In [95]:
df['level'].value_counts()

B    26977
C    21073
A     2874
D     1492
Name: level, dtype: int64

In [ ]:
## Question57 6월 중 12시의 Temperature의 표준편차를 구하여라
# 문제 똑바로 보고 풀어라...

In [102]:
ans = df[df['DateTime'].dt.month == 6]

In [103]:
ans = ans[ans['DateTime'].dt.hour == 12]

In [104]:
ans['Temperature'].var()

4.202261312849164

In [ ]:
## Question58 Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [108]:
df['Temperature']

0        6.559
1        6.414
2        6.313
3        6.121
4        5.921
         ...
52411    7.010
52412    6.947
52413    6.900
52414    6.758
52415    6.580
Name: Temperature, Length: 52416, dtype: float64

In [116]:
ans = df[df['Temperature'] >= df['Temperature'].mean()]

In [117]:
ans=ans.sort_values(by='Temperature')
ans['Humidity'].values[3]

87.9

In [ ]:
## Question59 Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [118]:
ans = df[df['Temperature'] >= df['Temperature'].median()]
ans=ans.sort_values(by='Temperature')
ans['Humidity'].values[3]

80.3