## ì‘ì—… 1ìœ í˜•

### ìœ íŠœë¸Œ ì¸ê¸° ë™ì˜ìƒ ë°ì´í„°

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [3]:
# Question1 ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ì‚¬ìš°ì´ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼(ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [4]:
ans = df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)].channelTitle.unique()

In [5]:
ans

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

In [6]:
# Question2 ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ likesìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [7]:
ans = df[df['dislikes'] > df['likes']]['channelTitle'].unique()

In [8]:
ans

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [9]:
### Question3 ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [10]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()

In [11]:
ans = change[change>1]

In [12]:
print(len(ans))

71

In [13]:
import pandas as pd

In [14]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [15]:
# Question4 ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [16]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

In [17]:
ans = df.loc[df['trending_date2'].dt.day_name()=='Sunday'].categoryId.value_counts().index[0]

In [18]:
ans

24

In [19]:
# Question5 ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [20]:
group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
ans = group.pivot(index='categoryId', columns='trending_date2')
ans

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [21]:
# Question6 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [22]:
ans = df.loc[df['view_count'] !=0]
ans2 = ans.copy()

In [23]:
ans

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [24]:
ans['ratio'] = (ans['comment_count'] / ans['view_count']).dropna()

C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
ans

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,0.004539
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,0.007739
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,0.000513
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,0.006566
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,0.006349
...,...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19,0.005792
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19,0.000710
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19,0.001701
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19,0.000460
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19,0.014212

In [26]:
answer = ans.sort_values(by='ratio', ascending=False).iloc[0].title

In [27]:
answer

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

In [28]:
# Question7 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [29]:
answer = ans.sort_values(by='ratio', ascending=True).iloc[0].title

In [30]:
answer

'After We Ride (ìˆ ë²„ë¦‡ (ìš´ì „ë§Œí•´ ê·¸í›„))'

In [31]:
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio !=0].index[0]

46005

In [32]:
result = df.iloc[ratio[ratio !=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [33]:
# Question8 like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [34]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [35]:
ans = (df['dislikes'] / df['likes']).dropna().sort_values()
ans[ans !=0].index[0]

11477

In [36]:
result = df.iloc[ans[ans !=0].index[0]].title
print(result)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

In [37]:
# Question9 ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [38]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [39]:
ans = df.loc[df['channelId']==df['channelId'].value_counts().index[0]].channelTitle.unique()[0]

In [40]:
ans

'ì§¤íˆ°'

In [41]:
# Question10 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [42]:
ans = (df[['title','channelId']].value_counts() >=20)
ans

title                                                                                  channelId
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05                                UCpjOmwiy88a9EV3Rv8ukJgw     True
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                                            UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                                              UCAhKKbDO9-ymWZ_7iAFLBQQ     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                                              UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                                                UCaKod3X1Tn4c7Ci0iUKcvzQ     True
                                                                                                                   ...
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_203íšŒ_2021.02.06.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
459ì¼ë§Œì— ì»´ë°±í•œ NCT 127 ì†Œê°ì´ ì–´ë•Œìš”? (feat. ì…€ë¦°ëŠì— ì§„ì‹¬ì¸ ì¹ ì´ë“¤ê³¼ ì¹ ì´ë“¤ì—ê²Œ ì§„ì‹¬ì¸ ë”ë¸”ìœ ) by W Korea             UCjO3ji06DxmTM1RrzLVwmkA    False
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_215íšŒ_2021.05.08.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_220íšŒ_2021.06.19.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
BTS (ë°©íƒ„ì†Œë…„ë‹¨) at Global Citizen Live Concert - Permission to Dance | #GlobalCitizenLive  UC5O114-PQNYkurlTg6hekZw    False
Length: 7867, dtype: bool

In [43]:
print(ans.sum())

40

### ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

In [44]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [45]:
# Question11 ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [46]:
video['ct'] = pd.to_datetime(video['ct'])

In [47]:
ans = video['videoname'].value_counts()

In [48]:
ans

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

In [49]:
# Question12 ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [50]:
ans = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last')

In [51]:
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [52]:
ans = ans[['viewcnt','videoname','ct']].reset_index(drop=True)
ans

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

In [53]:
# Question13 Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [54]:
channel['ct'] = pd.to_datetime(channel['ct'])
ans = channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')

In [55]:
answer = ans[['channelname','subcnt']].reset_index(drop=True)
answer

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

In [56]:
# Question14 ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [57]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']

In [58]:
tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
ans = tt[['channelname','del']]
ans

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

In [59]:
# Question15 ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [60]:
# ì´ ë¬¸ì œëŠ” ë‚˜ì¤‘ì— ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [61]:
# Question16 ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [62]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
answer

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

In [63]:
# Question17 â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [64]:
video['time'] = video.ct.dt.hour

ans = video.loc[video['time']==21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt', ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
ans

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

In [65]:
# Question18 video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [66]:
a = video.sort_values('ct').drop_duplicates('videoname',keep='last')

In [67]:
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,15
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,15
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,15
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,15
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,15
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,15
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,15

In [68]:
a['ratio'] = a['dislikecnt']/a['likecnt']

In [69]:
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,15,0.141357

In [70]:
ans = a.sort_values(by='ratio')[['videoname','ratio']].reset_index(drop=True)
ans

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

In [71]:
# Question19 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [72]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

In [73]:
a = video.loc[(video['ct'] >= start) & (video['ct'] <= end)]
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,ê³µë²” EP1,0
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,ê³µë²” EP1,0
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,ê³µë²” EP1,0
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,ê³µë²” EP1,0
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,ê³µë²” EP1,0
...,...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,ê³µë²” EP8,14
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,ê³µë²” EP8,14
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,ê³µë²” EP8,14
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,ê³µë²” EP8,14
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8,14

In [74]:
def check(x):
    result = max(x) - min(x)
    return result

In [75]:
ans = a[['videoname','viewcnt']].groupby('videoname').agg(check)
ans

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

In [76]:
# Question20 video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [77]:
# ì´ ë¬¸ì œ ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [78]:
set(video.index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...}

In [79]:
ans = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]

In [80]:
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,9

### ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

In [81]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

In [83]:
df.isnull().sum()

Player     0
Goals      0
Years      0
Country    0
dtype: int64

In [84]:
# Question21 ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•´ë¼

In [85]:
ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)
ans

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [86]:
# Question22 ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ ì…©ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [87]:
ans = df.groupby('Country').size().sort_values(ascending=False).head(5)

In [88]:
ans

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [89]:
#size : ì „ì²´ ì›ì†Œì˜ ê°œìˆ˜ ë°˜í™˜

In [90]:
df['Country'].value_counts()

Brazil         81
Germany        78
Italy          60
Argentina      59
France         58
               ..
Togo            1
Israel          1
Bolivia         1
Iraq            1
El Salvador     1
Name: Country, Length: 76, dtype: int64

In [91]:
df.groupby('Country').size()

Country
Algeria       10
Angola         1
Argentina     59
Australia      6
Austria       23
              ..
USSR          30
Ukraine        4
Uruguay       39
Wales          3
Yugoslavia    38
Length: 76, dtype: int64

In [92]:
# Question23 Years ì¹¼ëŸ¼ì€ ë…„ë„ - ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [93]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [94]:
df['YearLst'] = df.Years.str.split('-')
df['YearLst']

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: YearLst, Length: 1295, dtype: object

In [95]:
def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True

df['check'] = df['YearLst'].apply(checkFour)

ans = len(df[df.check == False])
ans

45

In [96]:
#ì—¬ê¸°ê¹Œì§€ í’€ë‹¤ê°€ forë¬¸ì„ ì˜ ì´í•´í•˜ì§€ ëª»í•´ ìœ ë°ë¯¸ forë¬¸ ê°•ì˜ ë“£ê¸° + ì—°ìŠµë¬¸ì œ í’€ê¸°
# forë¬¸ ì´í•´í–ˆìœ¼ë‹ˆ ë‹¤ì‹œ í’€ì–´ë³¼ ê²ƒ!

In [ ]:
#ì¸ìƒ ì•Œë‹¤ê°€ë„ ëª¨ë¥¼ ì¼ì´ë‹¤ 
#ë‚´ê°€ 12ì‹œ ë‹¤ ë˜ì„œ ì½”ë”©ì„ í•˜ê³  ìˆë‹¤ë‹ˆ
#ì•„ì§ 2020-06-07

In [ ]:
# Question24 23ë²ˆ ë¬¸ì œì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [104]:
df

,Player,Goals,Years,Country,YearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [105]:
df2 = df[df['check']==True].reset_index(drop=True)

In [107]:
df2.head()

,Player,Goals,Years,Country,YearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

In [ ]:
# Question25 ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [113]:
df2['LenCup'] = df2['YearLst'].str.len()
ans = df2[df2['LenCup'] == 4]
print(len(ans))

16

In [ ]:
# Question26 Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [114]:
ans = df2[(df2['Country']=='Yugoslavia')&(df2['LenCup']==2)]
print(len(ans))

7

In [ ]:
# Question27 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [116]:
ans = df2[df2['Years'].str.contains('2002')]
print(len(ans))

156

In [ ]:
# Question28 ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [120]:
# ëŒ€ì†Œë¬¸ì êµ¬ë¬¸ xì´ë‹ˆ lower ê¼­ í•´ì£¼ì–´ì•¼ í•¨!!
ans = df2[df2['Player'].str.lower().str.contains('carlos')]
print(len(ans))

13

In [ ]:
# Question29 ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [136]:
ans = df2[(df2['LenCup']==1)].sort_values(by='Goals', ascending=False)
ans.reset_index(drop=True, inplace=True)
ans['Player'][0]
#print(len(ans))

'Just Fontaine'

In [137]:
# ë§ˆë‹˜ ì½”ë“œ
result = df2[df2.LenCup==1].sort_values('Goals',ascending=False).Player.values[0]
print(result)

Just Fontaine

In [ ]:
# Question30 ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [144]:
#ë‚´ê°€ ì“´ ì½”ë“œëŠ” íšŸìˆ˜ êµ¬í•˜ëŠ”ê±°
#ê·¸ë˜ë„ íšŸìˆ˜ êµ¬í•  ìˆ˜ëŠ” ìˆë‹¤
ans = df2[(df2['LenCup']==1)].groupby('Country').size()
ans.max()
#ans.groupby('Country').size()

43

In [147]:
ans = df2[df2['LenCup']==1]['Country'].value_counts().index[0]
print(ans)

Brazil

### ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

In [148]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

In [ ]:
# Question31 ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [156]:
ans = df.groupby('ëŒ€ì—¬ì¼ì').size()
ans = pd.DataFrame(ans)

In [157]:
ans

                0
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [160]:
ans = df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()
#ans
ans = ans[ans['ëŒ€ì—¬ì¼ì'] == ans['ëŒ€ì—¬ì¼ì'].max()].index[0]
ans

'2021-06-04'

In [ ]:
# Question32 ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  object
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 57.0+ MB

In [162]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 57.0+ MB

In [164]:
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday

In [165]:
ans = df['day_name'].value_counts().sort_index().to_frame()
#ans
3#ans = ans[ans['ëŒ€ì—¬ì¼ì'] == ans['ëŒ€ì—¬ì¼ì'].max()].index[0]
ans

           day_name
Friday       108877
Monday       107568
Saturday     101299
Sunday        90918
Thursday      55977
Tuesday      103704
Wednesday    110607

In [ ]:
# Question33 ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼
# ì´ ë¬¸ì œëŠ” ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [166]:
ans = df['day_name'].value_counts().to_frame()
ans

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

In [175]:
ans = df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'])
ans

day_name   ëŒ€ì—¬ì†Œë²ˆí˜¸
Friday     102      145
           103      143
           104       72
           105       60
           106      155
                   ...
Wednesday  4867      20
           4868       5
           9980       1
           9997       4
           9999       6
Length: 16874, dtype: int64

In [176]:
# Question34 ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [177]:
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday

In [97]:
!pip install -upgrade pandas

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -u