### 정시 배송 여부 판단

In [35]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
ID,,,,,,,,,,
6045,A,Flight,4,3,266,5,high,F,5,1590
44,F,Ship,3,1,174,2,low,M,44,1556
7940,F,Road,4,1,154,10,high,M,10,5674
1596,F,Ship,4,3,158,3,medium,F,27,1207
4395,A,Flight,5,3,175,3,low,M,7,4833

      Reached.on.Time_Y.N
ID
6045                    0
44                      1
7940                    1
1596                    1
4395                    1

In [36]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6598 entries, 6045 to 5969
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6598 non-null   object
 1   Mode_of_Shipment     6598 non-null   object
 2   Customer_care_calls  6598 non-null   object
 3   Customer_rating      6598 non-null   int64
 4   Cost_of_the_Product  6598 non-null   int64
 5   Prior_purchases      6598 non-null   int64
 6   Product_importance   6598 non-null   object
 7   Gender               6598 non-null   object
 8   Discount_offered     6598 non-null   int64
 9   Weight_in_gms        6598 non-null   int64
dtypes: int64(5), object(5)
memory usage: 567.0+ KB

In [37]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4401 entries, 6811 to 573
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4401 non-null   object
 1   Mode_of_Shipment     4401 non-null   object
 2   Customer_care_calls  4401 non-null   object
 3   Customer_rating      4401 non-null   int64
 4   Cost_of_the_Product  4401 non-null   int64
 5   Prior_purchases      4401 non-null   int64
 6   Product_importance   4401 non-null   object
 7   Gender               4401 non-null   object
 8   Discount_offered     4401 non-null   int64
 9   Weight_in_gms        4401 non-null   int64
dtypes: int64(5), object(5)
memory usage: 378.2+ KB

In [38]:
x_train_encoding = x_train[['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender']]
x_train_encoding

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Product_importance,Gender
ID,,,,,
6045,A,Flight,4,high,F
44,F,Ship,3,low,M
7940,F,Road,4,high,M
1596,F,Ship,4,medium,F
4395,A,Flight,5,low,M
...,...,...,...,...,...
8610,F,Road,5,medium,M
3390,F,Ship,4,medium,M
5150,F,Ship,3,medium,F
3950,F,Road,4,medium,F
5969,C,Ship,6,medium,M

In [39]:
x_test_encoding = x_test[['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender']]
x_test_encoding

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Product_importance,Gender
ID,,,,,
6811,D,Ship,5,low,F
4320,F,Ship,3,medium,F
5732,F,Road,3,medium,F
7429,D,Ship,4,low,M
2191,D,Flight,4,low,F
...,...,...,...,...,...
2610,F,Flight,4,medium,M
3406,B,Road,3,medium,M
10395,A,Road,4,medium,F
3646,B,Ship,3,medium,F
573,A,Ship,3,medium,M

In [40]:
#인코딩
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding = pd.get_dummies(temp1)
temp1_encoding

,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Customer_care_calls_$7,Customer_care_calls_2,Customer_care_calls_3,Customer_care_calls_4,Customer_care_calls_5,Customer_care_calls_6,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
ID,,,,,,,,,,,,,,,,,,,
6045,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0
44,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1
7940,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1
1596,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0
4395,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,1
3406,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
10395,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0
3646,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0
573,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1

In [41]:
x_train_encoding = temp1_encoding.iloc[:6598]
x_test_encoding = temp1_encoding.iloc[6598:]

In [42]:
x_train.drop(['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender'], axis=1, inplace=True)
x_test.drop(['Warehouse_block','Mode_of_Shipment','Customer_care_calls' ,'Product_importance','Gender'], axis=1, inplace=True)

In [43]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [44]:
x_train

,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,...,Customer_care_calls_2,Customer_care_calls_3,Customer_care_calls_4,Customer_care_calls_5,Customer_care_calls_6,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
ID,,,,,,,,,,,,,,,,,,,,,
6045,3,266,5,5,1590,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
44,1,174,2,44,1556,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,1
7940,1,154,10,10,5674,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1
1596,3,158,3,27,1207,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
4395,3,175,3,7,4833,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8610,2,221,6,4,1952,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
3390,5,256,3,10,4504,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,1
5150,1,217,4,1,5761,0,0,0,0,1,...,0,1,0,0,0,0,0,1,1,0
3950,5,174,3,8,5576,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
5969,2,257,4,1,1513,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,1

In [45]:
y_train

      Reached.on.Time_Y.N
ID
6045                    0
44                      1
7940                    1
1596                    1
4395                    1
...                   ...
8610                    1
3390                    1
5150                    1
3950                    0
5969                    0

[6598 rows x 1 columns]

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [47]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6598 entries, 6045 to 5969
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_rating            6598 non-null   int64
 1   Cost_of_the_Product        6598 non-null   int64
 2   Prior_purchases            6598 non-null   int64
 3   Discount_offered           6598 non-null   int64
 4   Weight_in_gms              6598 non-null   int64
 5   Warehouse_block_A          6598 non-null   uint8
 6   Warehouse_block_B          6598 non-null   uint8
 7   Warehouse_block_C          6598 non-null   uint8
 8   Warehouse_block_D          6598 non-null   uint8
 9   Warehouse_block_F          6598 non-null   uint8
 10  Mode_of_Shipment_Flight    6598 non-null   uint8
 11  Mode_of_Shipment_Road      6598 non-null   uint8
 12  Mode_of_Shipment_Ship      6598 non-null   uint8
 13  Customer_care_calls_$7     6598 non-null   uint8
 14  Customer_care_calls_2      6598 non-null   uint8
 15  Customer_care_calls_3      6598 non-null   uint8
 16  Customer_care_calls_4      6598 non-null   uint8
 17  Customer_care_calls_5      6598 non-null   uint8
 18  Customer_care_calls_6      6598 non-null   uint8
 19  Product_importance_high    6598 non-null   uint8
 20  Product_importance_low     6598 non-null   uint8
 21  Product_importance_medium  6598 non-null   uint8
 22  Gender_F                   6598 non-null   uint8
 23  Gender_M                   6598 non-null   uint8
dtypes: int64(5), uint8(19)
memory usage: 431.7 KB

In [48]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.6582320476249535

In [49]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [50]:
pre = model.predict(x_test)

In [51]:
pre

array([1, 0, 0, ..., 0, 0, 1], dtype=int64)

In [52]:
dic = {'ID':x_test.index, 'Reached.on.Time_Y.N':pre}
submit = pd.DataFrame(dic)
submit

         ID  Reached.on.Time_Y.N
0      6811                    1
1      4320                    0
2      5732                    0
3      7429                    0
4      2191                    1
...     ...                  ...
4396   2610                    1
4397   3406                    1
4398  10395                    0
4399   3646                    0
4400    573                    1

[4401 rows x 2 columns]

### 성인 건강검진 데이터

In [92]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
ID,,,,,,,,,,,,,,,,,,,,,
0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,114.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,119.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,138.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,100.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,120.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

    흡연상태
ID
0      0
1      0
2      1
3      0
4      0

In [94]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44553 entries, 0 to 55690
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  구강검진수검여부     44553 non-null  object
 23  치아우식증유무      44553 non-null  float64
 24  치석           44553 non-null  object
dtypes: float64(19), int64(3), object(3)
memory usage: 8.8+ MB

In [95]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11139 entries, 8 to 55691
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         11139 non-null  object
 1   연령대코드(5세단위)  11139 non-null  int64
 2   신장(5Cm단위)    11139 non-null  int64
 3   체중(5Kg단위)    11139 non-null  int64
 4   허리둘레         11139 non-null  float64
 5   시력(좌)        11139 non-null  float64
 6   시력(우)        11139 non-null  float64
 7   청력(좌)        11139 non-null  float64
 8   청력(우)        11139 non-null  float64
 9   수축기혈압        11139 non-null  float64
 10  이완기혈압        11139 non-null  float64
 11  식전혈당(공복혈당)   11139 non-null  float64
 12  총콜레스테롤       11139 non-null  float64
 13  트리글리세라이드     11139 non-null  float64
 14  HDL콜레스테롤     11139 non-null  float64
 15  LDL콜레스테롤     11139 non-null  float64
 16  혈색소          11139 non-null  float64
 17  요단백          11139 non-null  float64
 18  혈청크레아티닌      11139 non-null  float64
 19  (혈청지오티)AST   11139 non-null  float64
 20  (혈청지오티)ALT   11139 non-null  float64
 21  감마지티피        11139 non-null  float64
 22  구강검진수검여부     11139 non-null  object
 23  치아우식증유무      11139 non-null  float64
 24  치석           11139 non-null  object
dtypes: float64(19), int64(3), object(3)
memory usage: 2.2+ MB

In [96]:
# 인코딩할 데이터
x_train_encoding = x_train[['성별코드','구강검진수검여부','치석']]
x_test_encoding = x_test[['성별코드','구강검진수검여부','치석']]

In [97]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding = pd.get_dummies(temp1)
temp1_encoding

       성별코드_F  성별코드_M  구강검진수검여부_Y  치석_N  치석_Y
ID
0           1       0           1     0     1
1           1       0           1     0     1
2           0       1           1     1     0
3           0       1           1     0     1
4           1       0           1     1     0
...       ...     ...         ...   ...   ...
55676       1       0           1     0     1
55681       1       0           1     0     1
55683       1       0           1     1     0
55684       0       1           1     1     0
55691       0       1           1     0     1

[55692 rows x 5 columns]

In [98]:
x_train_encoding = temp1_encoding.iloc[:44553]
x_test_encoding = temp1_encoding.iloc[44553:]

In [99]:
x_train.drop(['성별코드','구강검진수검여부','치석'], axis=1, inplace=True)
x_test.drop(['성별코드','구강검진수검여부','치석'], axis=1, inplace=True)

In [100]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [101]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [102]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.7247995127274646

In [103]:
model.fit(x_train,y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [105]:
pre = model.predict(x_test)

In [106]:
pre

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [108]:
dic = {'ID':x_test.index, '흡연상태':pre}
submit = pd.DataFrame(dic)
submit

          ID  흡연상태
0          8     1
1         17     0
2         20     1
3         24     0
4         25     0
...      ...   ...
11134  55676     0
11135  55681     0
11136  55683     0
11137  55684     0
11138  55691     1

[11139 rows x 2 columns]

### 자동차 보험가입 예측데이터

In [131]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv", index_col='ID')


#display(x_train.head())
#display(y_train.head())

In [112]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304887 entries, 0 to 381107
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Gender                304887 non-null  object
 1   Age                   304887 non-null  int64
 2   Driving_License       304887 non-null  int64
 3   Region_Code           304887 non-null  float64
 4   Previously_Insured    304887 non-null  int64
 5   Vehicle_Age           304887 non-null  object
 6   Vehicle_Damage        304887 non-null  object
 7   Annual_Premium        304887 non-null  float64
 8   Policy_Sales_Channel  304887 non-null  float64
 9   Vintage               304887 non-null  int64
 10  id                    0 non-null       float64
dtypes: float64(4), int64(4), object(3)
memory usage: 27.9+ MB

In [113]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76222 entries, 17 to 381108
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                76222 non-null  object
 1   Age                   76222 non-null  int64
 2   Driving_License       76222 non-null  int64
 3   Region_Code           76222 non-null  float64
 4   Previously_Insured    76222 non-null  int64
 5   Vehicle_Age           76222 non-null  object
 6   Vehicle_Damage        76222 non-null  object
 7   Annual_Premium        76222 non-null  float64
 8   Policy_Sales_Channel  76222 non-null  float64
 9   Vintage               76222 non-null  int64
 10  id                    76222 non-null  float64
dtypes: float64(4), int64(4), object(3)
memory usage: 7.0+ MB

In [ ]:
# id 칼럼은 제외하기

In [132]:
#인코딩 할 칼럼만
x_train_encoding = x_train[['Gender','Vehicle_Age','Vehicle_Damage']]
x_test_encoding = x_test[['Gender','Vehicle_Age','Vehicle_Damage']]

In [133]:
x_train.drop(['Gender','Vehicle_Age','Vehicle_Damage','id'], axis=1, inplace=True)
x_test.drop(['Gender','Vehicle_Age','Vehicle_Damage','id'], axis=1, inplace=True)

In [134]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1_encoding=pd.get_dummies(temp1)
temp1_encoding

,Gender_Female,Gender_Male,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes
ID,,,,,,,
0,1,0,0,1,0,0,1
1,0,1,0,1,0,1,0
2,1,0,0,1,0,0,1
3,0,1,0,1,0,1,0
4,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...
381091,1,0,0,1,0,1,0
381097,1,0,1,0,0,1,0
381102,0,1,1,0,0,0,1
381105,1,0,0,1,0,0,1
381108,0,1,1,0,0,0,1

In [135]:
x_train_encoding = temp1_encoding.iloc[:304887]
x_test_encoding = temp1_encoding.iloc[304887:]

In [136]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [137]:
x_test

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Female,Gender_Male,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes
ID,,,,,,,,,,,,,,
17,23,1,25.0,1,25294.0,152.0,20,1,0,0,1,0,1,0
19,58,1,3.0,0,33627.0,26.0,94,0,1,1,0,0,1,0
21,44,1,28.0,0,41700.0,154.0,85,0,1,1,0,0,0,1
23,28,1,18.0,1,23691.0,152.0,88,1,0,0,1,0,1,0
32,23,1,8.0,0,43771.0,151.0,96,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381091,34,1,29.0,1,47489.0,152.0,205,1,0,0,1,0,1,0
381097,50,1,28.0,1,63399.0,124.0,146,1,0,1,0,0,1,0
381102,47,1,8.0,0,41676.0,124.0,202,0,1,1,0,0,0,1
381105,23,1,6.0,0,36299.0,26.0,99,1,0,0,1,0,0,1
381108,46,1,41.0,0,49855.0,124.0,296,0,1,1,0,0,0,1

In [138]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [139]:
model = RandomForestClassifier()
result = cross_val_score(model,x_train,y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.8640020728991397

In [140]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [141]:
#x_test1 = x_test.iloc[:10000]

In [126]:
x_train

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Female,Gender_Male,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes
ID,,,,,,,,,,,,,,
0,23,1,8.0,0,61354.0,152.0,235,1,0,0,1,0,0,1
1,27,1,28.0,1,38036.0,152.0,207,0,1,0,1,0,1,0
2,23,1,45.0,0,25984.0,152.0,217,1,0,0,1,0,0,1
3,22,1,46.0,0,39499.0,152.0,277,0,1,0,1,0,1,0
4,32,1,30.0,1,38771.0,152.0,251,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381101,30,1,28.0,0,47747.0,26.0,88,1,0,0,0,1,0,1
381103,22,1,41.0,1,29910.0,152.0,174,1,0,0,1,0,1,0
381104,75,1,15.0,0,2630.0,26.0,120,0,1,1,0,0,0,1
381106,76,1,41.0,0,41665.0,12.0,166,0,1,1,0,0,0,1
381107,38,1,39.0,0,2630.0,155.0,62,1,0,1,0,0,0,1

In [125]:
x_test

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Female,Gender_Male,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes
ID,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0,0.0,1.0
381105,23.0,1.0,6.0,0.0,36299.0,26.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0,0.0,1.0
381107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,1.0
381108,46.0,1.0,41.0,0.0,49855.0,124.0,296.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
#데이터가 너무 커서 일단 보험 가입 예측 데이터는 
pre = model.predict(x_test1)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').