## ì‘ì—… 1ìœ í˜•

### ìœ íŠœë¸Œ ì¸ê¸° ë™ì˜ìƒ ë°ì´í„°

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [3]:
# Question1 ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ì‚¬ìš°ì´ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼(ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [4]:
ans = df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)].channelTitle.unique()

In [5]:
ans

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

In [6]:
# Question2 ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ likesìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [7]:
ans = df[df['dislikes'] > df['likes']]['channelTitle'].unique()

In [8]:
ans

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [9]:
### Question3 ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [10]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()

In [11]:
ans = change[change>1]

In [12]:
print(len(ans))

71

In [13]:
import pandas as pd

In [14]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [15]:
# Question4 ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [16]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

In [17]:
ans = df.loc[df['trending_date2'].dt.day_name()=='Sunday'].categoryId.value_counts().index[0]

In [18]:
ans

24

In [19]:
# Question5 ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [20]:
group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
ans = group.pivot(index='categoryId', columns='trending_date2')
ans

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [21]:
# Question6 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [22]:
ans = df.loc[df['view_count'] !=0]
ans2 = ans.copy()

In [23]:
ans

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [24]:
ans['ratio'] = (ans['comment_count'] / ans['view_count']).dropna()

<ipython-input-24-b20392656cd8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ans['ratio'] = (ans['comment_count'] / ans['view_count']).dropna()

In [25]:
ans

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,0.004539
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,0.007739
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,0.000513
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,0.006566
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,0.006349
...,...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19,0.005792
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19,0.000710
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19,0.001701
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19,0.000460
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19,0.014212

In [26]:
answer = ans.sort_values(by='ratio', ascending=False).iloc[0].title

In [27]:
answer

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

In [28]:
# Question7 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [29]:
answer = ans.sort_values(by='ratio', ascending=True).iloc[0].title

In [30]:
answer

'After We Ride (ìˆ ë²„ë¦‡ (ìš´ì „ë§Œí•´ ê·¸í›„))'

In [31]:
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio !=0].index[0]

46005

In [32]:
result = df.iloc[ratio[ratio !=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [33]:
# Question8 like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [34]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [35]:
ans = (df['dislikes'] / df['likes']).dropna().sort_values()
ans[ans !=0].index[0]

11477

In [36]:
result = df.iloc[ans[ans !=0].index[0]].title
print(result)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

In [37]:
# Question9 ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [38]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [39]:
ans = df.loc[df['channelId']==df['channelId'].value_counts().index[0]].channelTitle.unique()[0]

In [40]:
ans

'ì§¤íˆ°'

In [41]:
# Question10 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [42]:
ans = (df[['title','channelId']].value_counts() >=20)
ans

title                                                                                  channelId
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05                                UCpjOmwiy88a9EV3Rv8ukJgw     True
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                                            UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                                              UCAhKKbDO9-ymWZ_7iAFLBQQ     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                                              UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                                                UCaKod3X1Tn4c7Ci0iUKcvzQ     True
                                                                                                                   ...
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_203íšŒ_2021.02.06.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
459ì¼ë§Œì— ì»´ë°±í•œ NCT 127 ì†Œê°ì´ ì–´ë•Œìš”? (feat. ì…€ë¦°ëŠì— ì§„ì‹¬ì¸ ì¹ ì´ë“¤ê³¼ ì¹ ì´ë“¤ì—ê²Œ ì§„ì‹¬ì¸ ë”ë¸”ìœ ) by W Korea             UCjO3ji06DxmTM1RrzLVwmkA    False
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_215íšŒ_2021.05.08.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
íŠ¹íŒŒì› ë³´ê³  ì„¸ê³„ëŠ” ì§€ê¸ˆ (KBS_220íšŒ_2021.06.19.ë°©ì†¡)                                                 UC-0C8yVGJy-cS4FGlYKelWw    False
BTS (ë°©íƒ„ì†Œë…„ë‹¨) at Global Citizen Live Concert - Permission to Dance | #GlobalCitizenLive  UC5O114-PQNYkurlTg6hekZw    False
Length: 7867, dtype: bool

In [43]:
print(ans.sum())

40

### ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

In [44]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [45]:
# Question11 ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [46]:
video['ct'] = pd.to_datetime(video['ct'])

In [47]:
ans = video['videoname'].value_counts()

In [48]:
ans

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

In [49]:
# Question12 ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [50]:
ans = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last')

In [51]:
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [52]:
ans = ans[['viewcnt','videoname','ct']].reset_index(drop=True)
ans

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

In [53]:
# Question13 Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [54]:
channel['ct'] = pd.to_datetime(channel['ct'])
ans = channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')

In [55]:
answer = ans[['channelname','subcnt']].reset_index(drop=True)
answer

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

In [56]:
# Question14 ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [57]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']

In [58]:
tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
ans = tt[['channelname','del']]
ans

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

In [59]:
# Question15 ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [60]:
# ì´ ë¬¸ì œëŠ” ë‚˜ì¤‘ì— ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [61]:
# Question16 ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [62]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
answer

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

In [63]:
# Question17 â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [64]:
video['time'] = video.ct.dt.hour

ans = video.loc[video['time']==21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt', ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
ans

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

In [65]:
# Question18 video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [66]:
a = video.sort_values('ct').drop_duplicates('videoname',keep='last')

In [67]:
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,15
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,15
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,15
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,15
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,15
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,15
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,15

In [68]:
a['ratio'] = a['dislikecnt']/a['likecnt']

In [69]:
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,15,0.141357

In [70]:
ans = a.sort_values(by='ratio')[['videoname','ratio']].reset_index(drop=True)
ans

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

In [71]:
# Question19 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [72]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

In [73]:
a = video.loc[(video['ct'] >= start) & (video['ct'] <= end)]
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,ê³µë²” EP1,0
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,ê³µë²” EP1,0
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,ê³µë²” EP1,0
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,ê³µë²” EP1,0
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,ê³µë²” EP1,0
...,...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,ê³µë²” EP8,14
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,ê³µë²” EP8,14
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,ê³µë²” EP8,14
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,ê³µë²” EP8,14
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8,14

In [74]:
def check(x):
    result = max(x) - min(x)
    return result

In [75]:
ans = a[['videoname','viewcnt']].groupby('videoname').agg(check)
ans

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

In [76]:
# Question20 video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [77]:
# ì´ ë¬¸ì œ ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [78]:
set(video.index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...}

In [79]:
ans = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]

In [80]:
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,9

### ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

In [81]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

In [83]:
df.isnull().sum()

Player     0
Goals      0
Years      0
Country    0
dtype: int64

In [84]:
# Question21 ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•´ë¼

In [85]:
ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)
ans

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [86]:
# Question22 ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ ì…©ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [87]:
ans = df.groupby('Country').size().sort_values(ascending=False).head(5)

In [88]:
ans

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [89]:
#size : ì „ì²´ ì›ì†Œì˜ ê°œìˆ˜ ë°˜í™˜

In [90]:
df['Country'].value_counts()

Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
             ..
Haiti         1
Angola        1
Iraq          1
Togo          1
Bolivia       1
Name: Country, Length: 76, dtype: int64

In [91]:
df.groupby('Country').size()

Country
Algeria       10
Angola         1
Argentina     59
Australia      6
Austria       23
              ..
USSR          30
Ukraine        4
Uruguay       39
Wales          3
Yugoslavia    38
Length: 76, dtype: int64

In [92]:
# Question23 Years ì¹¼ëŸ¼ì€ ë…„ë„ - ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [93]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [94]:
df['YearLst'] = df.Years.str.split('-')
df['YearLst']

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: YearLst, Length: 1295, dtype: object

In [95]:
def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True

df['check'] = df['YearLst'].apply(checkFour)

ans = len(df[df.check == False])
ans

45

In [96]:
#ì—¬ê¸°ê¹Œì§€ í’€ë‹¤ê°€ forë¬¸ì„ ì˜ ì´í•´í•˜ì§€ ëª»í•´ ìœ ë°ë¯¸ forë¬¸ ê°•ì˜ ë“£ê¸° + ì—°ìŠµë¬¸ì œ í’€ê¸°
# forë¬¸ ì´í•´í–ˆìœ¼ë‹ˆ ë‹¤ì‹œ í’€ì–´ë³¼ ê²ƒ!

In [97]:
#ì¸ìƒ ì•Œë‹¤ê°€ë„ ëª¨ë¥¼ ì¼ì´ë‹¤ 
#ë‚´ê°€ 12ì‹œ ë‹¤ ë˜ì„œ ì½”ë”©ì„ í•˜ê³  ìˆë‹¤ë‹ˆ
#ì•„ì§ 2020-06-07

In [98]:
# Question24 23ë²ˆ ë¬¸ì œì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [99]:
df

,Player,Goals,Years,Country,YearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [100]:
df2 = df[df['check']==True].reset_index(drop=True)

In [101]:
df2.head()

,Player,Goals,Years,Country,YearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

In [102]:
# Question25 ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [103]:
df2['LenCup'] = df2['YearLst'].str.len()
ans = df2[df2['LenCup'] == 4]
print(len(ans))

16

In [104]:
# Question26 Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [105]:
ans = df2[(df2['Country']=='Yugoslavia')&(df2['LenCup']==2)]
print(len(ans))

7

In [106]:
# Question27 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [107]:
ans = df2[df2['Years'].str.contains('2002')]
print(len(ans))

156

In [108]:
# Question28 ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [109]:
# ëŒ€ì†Œë¬¸ì êµ¬ë¬¸ xì´ë‹ˆ lower ê¼­ í•´ì£¼ì–´ì•¼ í•¨!!
ans = df2[df2['Player'].str.lower().str.contains('carlos')]
print(len(ans))

13

In [110]:
# Question29 ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [111]:
ans = df2[(df2['LenCup']==1)].sort_values(by='Goals', ascending=False)
ans.reset_index(drop=True, inplace=True)
ans['Player'][0]
#print(len(ans))

'Just Fontaine'

In [112]:
# ë§ˆë‹˜ ì½”ë“œ
result = df2[df2.LenCup==1].sort_values('Goals',ascending=False).Player.values[0]
print(result)

Just Fontaine

In [113]:
# Question30 ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [114]:
#ë‚´ê°€ ì“´ ì½”ë“œëŠ” íšŸìˆ˜ êµ¬í•˜ëŠ”ê±°
#ê·¸ë˜ë„ íšŸìˆ˜ êµ¬í•  ìˆ˜ëŠ” ìˆë‹¤
ans = df2[(df2['LenCup']==1)].groupby('Country').size()
ans.max()
#ans.groupby('Country').size()

43

In [115]:
ans = df2[df2['LenCup']==1]['Country'].value_counts().index[0]
print(ans)

Brazil

### ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

In [116]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

In [117]:
# Question31 ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [118]:
ans = df.groupby('ëŒ€ì—¬ì¼ì').size()
ans = pd.DataFrame(ans)

In [119]:
ans

                0
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [120]:
ans = df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()
#ans
ans = ans[ans['ëŒ€ì—¬ì¼ì'] == ans['ëŒ€ì—¬ì¼ì'].max()].index[0]
ans

'2021-06-04'

In [121]:
# Question32 ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  object
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 57.0+ MB

In [123]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 57.0+ MB

In [125]:
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday

In [126]:
ans = df['day_name'].value_counts().sort_index().to_frame()
#ans
3#ans = ans[ans['ëŒ€ì—¬ì¼ì'] == ans['ëŒ€ì—¬ì¼ì'].max()].index[0]
ans

           day_name
Friday       108877
Monday       107568
Saturday     101299
Sunday        90918
Thursday      55977
Tuesday      103704
Wednesday    110607

In [127]:
# Question33 ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼
# ì´ ë¬¸ì œëŠ” ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [128]:
ans = df['day_name'].value_counts().to_frame()
ans

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

In [135]:
ans = df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'], ascending=False).reset_index()
ans = ans.drop_duplicates('day_name', keep='first').reset_index(drop=True)
ans

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [130]:
# Question34 ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [131]:
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday

In [144]:
daily = df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])]['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts().sort_index()

In [145]:
daily

20ëŒ€     59393
30ëŒ€     31127
40ëŒ€     12695
50ëŒ€      4607
60ëŒ€       819
70ëŒ€~      158
~10ëŒ€    11540
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: int64

In [146]:
total = df['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts().sort_index()

In [147]:
total

20ëŒ€     247561
30ëŒ€     186722
40ëŒ€     114799
50ëŒ€      70428
60ëŒ€      19288
70ëŒ€~      3227
~10ëŒ€     36925
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: int64

In [148]:
ans = (daily/total).sort_values(ascending=False)
ans

~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: float64

In [155]:
print('max ratio age',ans.index[0])

max ratio age ~10ëŒ€

In [ ]:
# Question35 ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [159]:
ans = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ')['ì´ë™ê±°ë¦¬'].mean()

In [160]:
ans

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     3211.890552
30ëŒ€     3341.443859
40ëŒ€     3514.857416
50ëŒ€     3593.668100
60ëŒ€     3538.145737
70ëŒ€~    3085.039641
~10ëŒ€    2634.426279
Name: ì´ë™ê±°ë¦¬, dtype: float64

In [162]:
#ë§ˆë‹˜ ì½”ë“œ ì—°ë ¹ëŒ€ì½”ë“œì™€ ì´ë™ê±°ë¦¬ ì¹¼ëŸ¼ì´ ë‚˜ì˜¤ë„ë¡
result = df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()
print(result)

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

In [ ]:
# Question36 ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [163]:
twenty = df[df['ì—°ë ¹ëŒ€ì½”ë“œ']=='20ëŒ€']
twenty.reset_index(drop=True, inplace=True)
twenty.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,953,ì •ê¸°ê¶Œ,F,20ëŒ€,1,0.00,0.00,0.00,11,Tuesday
1,2021-06-01,0,1029,ì •ê¸°ê¶Œ,F,20ëŒ€,1,37.84,0.34,1470.00,7,Tuesday
2,2021-06-01,0,1153,ì •ê¸°ê¶Œ,F,20ëŒ€,1,31.17,0.35,1513.53,10,Tuesday
3,2021-06-01,0,1653,ì •ê¸°ê¶Œ,F,20ëŒ€,1,8.00,0.10,430.00,3,Tuesday
4,2021-06-01,0,1716,ì •ê¸°ê¶Œ,F,20ëŒ€,1,52.67,0.31,1357.20,8,Tuesday

In [165]:
mean=twenty['ì´ë™ê±°ë¦¬'].mean()

In [169]:
ans=twenty[twenty['ì´ë™ê±°ë¦¬']>=mean]
ans.reset_index(drop=True, inplace=True)

In [167]:
ans

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,302,ì •ê¸°ê¶Œ,F,20ëŒ€,1,141.61,1.38,5960.00,28,Tuesday
1,2021-06-01,0,2173,ì •ê¸°ê¶Œ,F,20ëŒ€,1,86.47,0.96,4120.00,31,Tuesday
2,2021-06-01,0,116,ì •ê¸°ê¶Œ,F,20ëŒ€,1,196.72,2.30,9935.24,42,Tuesday
3,2021-06-01,0,2619,ì •ê¸°ê¶Œ,F,20ëŒ€,1,112.75,1.14,4909.12,35,Tuesday
4,2021-06-01,0,487,ì •ê¸°ê¶Œ,F,20ëŒ€,1,113.91,1.21,5230.00,55,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
73666,2021-06-14,23,2102,ì •ê¸°ê¶Œ,M,20ëŒ€,1,267.00,2.70,11624.95,44,Monday
73667,2021-06-14,23,1211,ì •ê¸°ê¶Œ,M,20ëŒ€,1,100.64,0.81,3481.52,26,Monday
73668,2021-06-14,23,2034,ì •ê¸°ê¶Œ,M,20ëŒ€,1,514.35,3.59,15462.66,49,Monday
73669,2021-06-14,23,502,ì •ê¸°ê¶Œ,M,20ëŒ€,1,264.03,2.09,9010.00,43,Monday
73670,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,20ëŒ€,1,512.64,4.62,19916.21,97,Monday

In [187]:
ans = ans.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending=False)
ans.reset_index(drop=True, inplace=True)
result=ans[0:200] ## ì—¬ê¸°ì„œ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ ì¶œë ¥í•˜ëŠ”ê±° ì£¼ì˜í•˜ê¸°!!

In [188]:
result

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-14,19,9999,ì •ê¸°ê¶Œ,F,20ëŒ€,1,201.03,2.07,8906.00,40,Monday
1,2021-06-14,20,4868,ì¼ì¼ê¶Œ,M,20ëŒ€,2,265.25,2.03,8791.61,51,Monday
2,2021-06-14,16,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,87.77,0.79,3410.00,18,Monday
3,2021-06-14,21,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,91.21,0.81,3490.00,38,Monday
4,2021-06-14,21,4865,ì •ê¸°ê¶Œ,M,20ëŒ€,2,106.95,1.01,4354.52,45,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2021-06-14,22,4367,ì •ê¸°ê¶Œ,M,20ëŒ€,1,122.70,0.86,3688.71,20,Monday
196,2021-06-14,10,4362,ì¼ì¼ê¶Œ,F,20ëŒ€,1,199.83,1.54,6639.59,27,Monday
197,2021-06-14,19,4362,ì¼ì¼ê¶Œ,F,20ëŒ€,2,366.27,3.44,14784.79,204,Monday
198,2021-06-14,20,4362,ì •ê¸°ê¶Œ,M,20ëŒ€,1,147.17,1.13,4889.96,21,Monday
199,2021-06-14,20,4362,ì¼ì¼ê¶Œ,M,20ëŒ€,1,159.33,1.44,6190.00,53,Monday

In [189]:
result['íƒ„ì†ŒëŸ‰']=result['íƒ„ì†ŒëŸ‰'].astype('float')

<ipython-input-189-7a8d83951970>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['íƒ„ì†ŒëŸ‰']=result['íƒ„ì†ŒëŸ‰'].astype('float')

In [190]:
result=result['íƒ„ì†ŒëŸ‰'].mean()

In [191]:
round(result,3)

1.613

In [192]:
#ë§ˆë‹˜ ì½”ë“œ í•œì¤„ë¡œ ì¶œë ¥í•œ ì½”ë“œ
tw = df[df['ì—°ë ¹ëŒ€ì½”ë“œ']=='20ëŒ€'].reset_index(drop=True)
tw_mean = tw[tw['ì´ë™ê±°ë¦¬']>= tw['ì´ë™ê±°ë¦¬'].mean()].reset_index(drop=True)
tw_mean['íƒ„ì†ŒëŸ‰'] = tw_mean['íƒ„ì†ŒëŸ‰'].astype('float')
target = tw_mean.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending=False).reset_index(drop=True).iloc[:200]['íƒ„ì†ŒëŸ‰']
result = round(target.sum()/len(target),3) #íƒ„ì†ŒëŸ‰ í‰ê·  êµ¬í•˜ëŠ” ì½”ë“œ
print(result)

1.613

In [ ]:
# Question37 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ëŒ€ì—¬ì¼ì      678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„      678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸     678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ    678950 non-null  object
 4   ì„±ë³„        678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ     678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜      678950 non-null  int64
 7   ìš´ë™ëŸ‰       678950 non-null  object
 8   íƒ„ì†ŒëŸ‰       678950 non-null  object
 9   ì´ë™ê±°ë¦¬      678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„      678950 non-null  int64
 11  day_name  678950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 62.2+ MB

In [197]:
ten = df[(df['ì—°ë ¹ëŒ€ì½”ë“œ']=='~10ëŒ€') & (df['ëŒ€ì—¬ì¼ì']=='2021-06-07')]
ten.reset_index(drop=True, inplace=True)
ten['ì´ìš©ê±´ìˆ˜'].median()

1.0

In [ ]:
# Question38 í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼
# ì´ ë¬¸ì œ ë‹¤ì‹œ í’€ì–´ë³´ê¸°

In [224]:
ans = df[(df['day_name'].isin(['Monday','Tuesday','Wednesday','Thursday','Friday'])) & (df['ëŒ€ì—¬ì‹œê°„'].isin(['6','7','8']))]
ans

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name,sex
2675,2021-06-01,6,1274,ì •ê¸°ê¶Œ,F,20ëŒ€,1,36.13,0.30,1303.45,7,Tuesday,ì—¬
2676,2021-06-01,6,1444,ì •ê¸°ê¶Œ,F,20ëŒ€,1,10.86,0.12,517.47,5,Tuesday,ì—¬
2677,2021-06-01,6,302,ì •ê¸°ê¶Œ,F,20ëŒ€,1,0.00,0.00,0.00,7,Tuesday,ì—¬
2678,2021-06-01,6,3101,ì •ê¸°ê¶Œ,F,20ëŒ€,1,133.81,1.26,5450.00,27,Tuesday,ì—¬
2679,2021-06-01,6,1458,ì •ê¸°ê¶Œ,F,20ëŒ€,1,15.44,0.18,780.00,34,Tuesday,ì—¬
...,...,...,...,...,...,...,...,...,...,...,...,...,...
634961,2021-06-14,8,530,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,43.23,0.32,1399.64,9,Monday,ë‚¨
634962,2021-06-14,8,4318,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,17.66,0.21,910.00,7,Monday,ë‚¨
634963,2021-06-14,8,4065,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,142.36,1.21,5210.00,24,Monday,ë‚¨
634964,2021-06-14,8,2242,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,5.56,0.04,187.05,79,Monday,ë‚¨
634965,2021-06-14,8,1201,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,150.80,1.30,5600.00,109,Monday,ë‚¨

In [225]:
ans = ans.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš©íšŸìˆ˜')

In [227]:
ans = ans.sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš©íšŸìˆ˜'],ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)

In [228]:
ans

            ì´ìš©íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

In [ ]:
# Question39 ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [201]:
ans = df[df['ì´ë™ê±°ë¦¬'] >= df['ì´ë™ê±°ë¦¬'].mean()].reset_index(drop=True)
ans['ì´ë™ê±°ë¦¬'].std()

5092.139707505305

In [ ]:
# Question40 ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [202]:
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday

In [203]:
df['ì„±ë³„'].value_counts()

M    400077
F    278547
m       197
f       129
Name: ì„±ë³„, dtype: int64

In [204]:
df2 = df.copy()

In [206]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ëŒ€ì—¬ì¼ì      678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„      678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸     678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ    678950 non-null  object
 4   ì„±ë³„        678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ     678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜      678950 non-null  int64
 7   ìš´ë™ëŸ‰       678950 non-null  object
 8   íƒ„ì†ŒëŸ‰       678950 non-null  object
 9   ì´ë™ê±°ë¦¬      678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„      678950 non-null  int64
 11  day_name  678950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 62.2+ MB

In [216]:
#lower í•¨ìˆ˜ë¡œ í’€ ìˆ˜ ì—†ë‚˜..

df['sex'] = df['ì„±ë³„'].map(lambda x : 'ë‚¨' if x in ['M','m'] else 'ì—¬')
ans = df[['sex','ì´ë™ê±°ë¦¬']].groupby('sex').mean()
ans

            ì´ë™ê±°ë¦¬
sex
ë‚¨    3209.110871
ì—¬    3468.575025

In [ ]:
# íšŒì‚¬ì—ì„œ í’€ê³ ê°€ê¸°

### ì „ ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

In [2]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
#Question41 ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [19]:
df['ë…„ë„'].unique()

array([2019, 2018], dtype=int64)

In [22]:
df['í–‰ë³µë­í‚¹'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156],
      dtype=int64)

In [18]:
ans = df[df['í–‰ë³µë­í‚¹']==10]['ì ìˆ˜'].mean()
ans

7.259

In [ ]:
#Question42 ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [23]:
ans = df[df['í–‰ë³µë­í‚¹']<50]
ans.reset_index(drop=True, inplace=True)
ans

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
93,45,Kuwait,6.083,1.474,1.301,0.675,0.554,0.167,0.106,2018
94,46,Thailand,6.072,1.016,1.417,0.707,0.637,0.364,0.029,2018
95,47,Italy,6.000,1.264,1.501,0.946,0.281,0.137,0.028,2018
96,48,Ecuador,5.973,0.889,1.330,0.736,0.556,0.114,0.120,2018
97,49,Belize,5.956,0.807,1.101,0.474,0.593,0.183,0.089,2018

In [24]:
ans=ans [['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()

In [25]:
ans

            ì ìˆ˜
ë…„ë„
2018  6.660959
2019  6.683122

In [ ]:
#Question43 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [27]:
ans = df[df['ë…„ë„']==2018]
ans.reset_index(drop=True, inplace=True)
ans

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [29]:
ans = ans[['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]
ans

        ì ìˆ˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
0    7.632     0.393
1    7.594     0.340
2    7.555     0.408
3    7.495     0.138
4    7.487     0.357
..     ...       ...
151  3.355     0.064
152  3.303     0.097
153  3.254     0.106
154  3.083     0.038
155  2.905     0.076

[156 rows x 2 columns]

In [36]:
ans1=ans.corr(method='pearson')

In [38]:
print(ans1['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'][0])

0.4052915227150998

In [40]:
# ë§ˆë‹˜ ì½”ë“œ
result = df[df['ë…„ë„']==2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]
print(result)

0.4052915227150998

In [ ]:
#Question44  2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
#Question45 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [ ]:
#Question46 ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼ 
########groupbyë¡œ ë˜ê²Œ ë³µì¡í•œ ë¬¸ì œ#####

In [66]:
ans = df.sort_values(['ë…„ë„','ì ìˆ˜']).groupby('ë…„ë„').head(5).groupby(['ë…„ë„']).mean()[['ì ìˆ˜']]
ans

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

In [71]:
# ë§ˆë‹˜ ì½”ë“œ
# tail() ì´ìš©
result = df.groupby('ë…„ë„').tail(5).groupby('ë…„ë„').mean()[['ì ìˆ˜']]
print(result)

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

In [ ]:
#Question47 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

In [67]:
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [69]:
ans = df[df['ë…„ë„']==2019]['ìƒëŒ€GDP'].mean()

In [70]:
#ìƒëŒ€GDP í‰ê· ê°’
ans

0.9051474358974363

In [84]:
df['ìƒëŒ€GDP']

0      1.340
1      1.383
2      1.488
3      1.380
4      1.396
       ...
307    0.442
308    0.455
309    0.337
310    0.024
311    0.091
Name: ìƒëŒ€GDP, Length: 312, dtype: float64

In [ ]:
# ë‡Œê°€ ê¸°ëŠ¥ì„ ë©ˆì¶°ì„œ ì¼ë‹¨ ì—¬ê¸°ê¹Œì§€ ì»¤ë°‹í•˜ê³  ì§‘ì— ê°€ì„œ ìš´ë™ ëë‚˜ê³  ë‹¤ì‹œ í’€ê¸°!

In [83]:
# í‰ê·  ì´ìƒì¸ ë‚˜ë¼ë“¤ì˜ í‰ê· 
a = df[(df['ë…„ë„']==2019) & (df['ìƒëŒ€GDP']=> ans)]

SyntaxError: invalid syntax (<ipython-input-83-689b73c910d3>, line 2)

In [ ]:
#Question48 ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼
########groupbyë¡œ ë˜ê²Œ ë³µì¡í•œ ë¬¸ì œ#####

In [53]:
ans = df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending=False).groupby('ë…„ë„').head(20).groupby(['ë…„ë„']).mean()[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]

In [57]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending=False).groupby('ë…„ë„').head(20)

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453,2019
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,2019
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,2019
75,76,Hong Kong,5.430,1.438,1.277,1.122,0.440,0.258,0.287,2019
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,2019
111,112,Somalia,4.668,0.000,0.698,0.268,0.559,0.243,0.270,2019
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265,2019
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.240,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210,2019
189,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457,2018
306,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444,2018
158,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
163,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018
164,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383,2018
160,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
157,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
172,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321,2018
169,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306,2018
165,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302,2018
161,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295,2018
162,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291,2018
231,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291,2018
253,98,Somalia,4.982,0.000,0.712,0.115,0.674,0.238,0.282,2018
170,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280,2018
174,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272,2018
199,44,Uzbekistan,6.096,0.719,1.584,0.605,0.724,0.328,0.259,2018
171,16,Belgium,6.927,1.324,1.483,0.894,0.583,0.188,0.240,2018
167,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224,2018

In [63]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending=False).groupby('ë…„ë„').head(20).groupby(['ë…„ë„']).mean()[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]

      ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018    0.3267
2019    0.3201

In [54]:
ans

      ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018    0.3267
2019    0.3201

In [ ]:
#Question49 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
#Question50 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

In [132]:
!pip install -upgrade pandas

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -u