### 정시 배송 여부 판단(2회 기출)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [2]:
x_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [3]:
x_test.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [10]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score,GridSearchCV

In [11]:
#object형만 가져오기
obj = x_train[['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender']]

In [14]:
obj.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Product_importance,Gender
0,A,Flight,4,high,F
1,F,Ship,3,low,M
2,F,Road,4,high,M
3,F,Ship,4,medium,F
4,A,Flight,5,low,M

In [15]:
x_train_encoding = pd.get_dummies(obj)
x_train_encoding.head()

,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Customer_care_calls_$7,Customer_care_calls_2,Customer_care_calls_3,Customer_care_calls_4,Customer_care_calls_5,Customer_care_calls_6,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0
1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1
2,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1
3,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0
4,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1

In [17]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   object
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   int64
 10  Weight_in_gms        4401 non-null   int64
dtypes: int64(6), object(5)
memory usage: 378.3+ KB

In [18]:
#x_test에서도 마찬가지로
obj_test = x_train[['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender']]

In [20]:
x_test_encoding = pd.get_dummies(obj_test)
x_test_encoding.head()

,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Customer_care_calls_$7,Customer_care_calls_2,Customer_care_calls_3,Customer_care_calls_4,Customer_care_calls_5,Customer_care_calls_6,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0
1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1
2,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1
3,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0
4,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1

In [26]:
X_train

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,...,Customer_care_calls_2,Customer_care_calls_3,Customer_care_calls_4,Customer_care_calls_5,Customer_care_calls_6,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,6045,A,Flight,4,3,266,5,high,F,5,...,0,0,1,0,0,1,0,0,1,0
1,44,F,Ship,3,1,174,2,low,M,44,...,0,1,0,0,0,0,1,0,0,1
2,7940,F,Road,4,1,154,10,high,M,10,...,0,0,1,0,0,1,0,0,0,1
3,1596,F,Ship,4,3,158,3,medium,F,27,...,0,0,1,0,0,0,0,1,1,0
4,4395,A,Flight,5,3,175,3,low,M,7,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,8610,F,Road,5,2,221,6,medium,M,4,...,0,0,0,1,0,0,0,1,0,1
6594,3390,F,Ship,4,5,256,3,medium,M,10,...,0,0,1,0,0,0,0,1,0,1
6595,5150,F,Ship,3,1,217,4,medium,F,1,...,0,1,0,0,0,0,0,1,1,0
6596,3950,F,Road,4,5,174,3,medium,F,8,...,0,0,1,0,0,0,0,1,1,0
6597,5969,C,Ship,6,2,257,4,medium,M,1,...,0,0,0,0,1,0,0,1,0,1

In [28]:
X_train = pd.concat([x_train, x_train_encoding], axis=1)
X_train.drop([['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance','Gender']], axis=
             1, inplace=True)

KeyError: "[('Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls', 'Product_importance', 'Gender')] not found in axis"

In [ ]:
X_train = pd.concat([X_train,X_train_encoding ],axis=1)
X_train.drop(['주구매상품'], axis=1, inplace=True)