### 킹카운티 주거지 가격예측문제 데이터

In [2]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
ID,,,,,,,,,,,,,,,,,,,,
2,8651400730,20150428T000000,3,1.00,840,5525,1.0,0,0,5,6,840,0,1969,0,98042,47.3607,-122.085,920,5330
3,3163600130,20150317T000000,3,1.00,1250,8000,1.0,0,0,3,7,1250,0,1956,0,98146,47.5065,-122.337,1040,6973
4,5045700330,20140725T000000,4,2.50,2200,6400,2.0,0,0,3,8,2200,0,2010,0,98059,47.4856,-122.156,2600,5870
5,1036100130,20140808T000000,3,2.50,1980,39932,2.0,0,0,3,8,1980,0,1994,0,98011,47.7433,-122.196,2610,12769
6,7696630080,20140506T000000,3,1.75,1690,7735,1.0,0,0,4,7,1060,630,1976,0,98001,47.3324,-122.280,1580,7503

       price
ID
2   191000.0
3   234900.0
4   460000.0
5   442000.0
6   197000.0

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17290 entries, 2 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             17290 non-null  int64
 1   date           17290 non-null  object
 2   bedrooms       17290 non-null  int64
 3   bathrooms      17290 non-null  float64
 4   sqft_living    17290 non-null  int64
 5   sqft_lot       17290 non-null  int64
 6   floors         17290 non-null  float64
 7   waterfront     17290 non-null  int64
 8   view           17290 non-null  int64
 9   condition      17290 non-null  int64
 10  grade          17290 non-null  int64
 11  sqft_above     17290 non-null  int64
 12  sqft_basement  17290 non-null  int64
 13  yr_built       17290 non-null  int64
 14  yr_renovated   17290 non-null  int64
 15  zipcode        17290 non-null  int64
 16  lat            17290 non-null  float64
 17  long           17290 non-null  float64
 18  sqft_living15  17290 non-null  int64
 19  sqft_lot15     17290 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 2.8+ MB

In [5]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4323 entries, 0 to 21611
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4323 non-null   int64
 1   date           4323 non-null   object
 2   bedrooms       4323 non-null   int64
 3   bathrooms      4323 non-null   float64
 4   sqft_living    4323 non-null   int64
 5   sqft_lot       4323 non-null   int64
 6   floors         4323 non-null   float64
 7   waterfront     4323 non-null   int64
 8   view           4323 non-null   int64
 9   condition      4323 non-null   int64
 10  grade          4323 non-null   int64
 11  sqft_above     4323 non-null   int64
 12  sqft_basement  4323 non-null   int64
 13  yr_built       4323 non-null   int64
 14  yr_renovated   4323 non-null   int64
 15  zipcode        4323 non-null   int64
 16  lat            4323 non-null   float64
 17  long           4323 non-null   float64
 18  sqft_living15  4323 non-null   int64
 19  sqft_lot15     4323 non-null   int64
dtypes: float64(4), int64(15), object(1)
memory usage: 709.2+ KB

In [6]:
x_test.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
ID,,,,,,,,,,,,,,,,,,,,
0,9828701745,20150123T000000,2,1.00,710,4800,1.0,0,0,2,6,710,0,1950,0,98112,47.6212,-122.298,1480,1721
1,4019500030,20141029T000000,3,2.50,2280,4557,2.0,0,0,3,8,2280,0,2010,0,98028,47.7733,-122.266,2070,4610
14,6381501965,20140612T000000,4,1.75,1890,6000,1.0,0,0,4,6,1110,780,1947,0,98125,47.7274,-122.305,1560,6356
22,9528101061,20140825T000000,4,3.50,1460,951,3.0,0,0,3,8,1460,0,2008,0,98115,47.6821,-122.326,1430,1282
26,3888100176,20150306T000000,4,2.00,2120,7806,1.0,0,0,4,6,1770,350,1949,0,98033,47.6859,-122.166,1560,9920

In [12]:
x_train.drop(['date'], axis=1, inplace=True)

In [8]:
x_train

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
ID,,,,,,,,,,,,,,,,,,,
2,20150428T000000,3,1.00,840,5525,1.0,0,0,5,6,840,0,1969,0,98042,47.3607,-122.085,920,5330
3,20150317T000000,3,1.00,1250,8000,1.0,0,0,3,7,1250,0,1956,0,98146,47.5065,-122.337,1040,6973
4,20140725T000000,4,2.50,2200,6400,2.0,0,0,3,8,2200,0,2010,0,98059,47.4856,-122.156,2600,5870
5,20140808T000000,3,2.50,1980,39932,2.0,0,0,3,8,1980,0,1994,0,98011,47.7433,-122.196,2610,12769
6,20140506T000000,3,1.75,1690,7735,1.0,0,0,4,7,1060,630,1976,0,98001,47.3324,-122.280,1580,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21607,20150422T000000,3,1.50,1840,10956,1.0,0,0,4,8,1840,0,1970,0,98033,47.6746,-122.164,1680,10950
21608,20140820T000000,3,2.00,1200,2016,1.0,0,1,4,7,600,600,1931,0,98116,47.5811,-122.404,1730,4520
21609,20141027T000000,3,2.50,2180,15484,1.0,0,0,3,8,2180,0,1992,0,98003,47.2688,-122.309,2090,10775
21610,20150424T000000,5,2.75,3030,7000,1.0,0,0,4,7,1540,1490,1978,0,98032,47.3661,-122.280,1790,7330
21612,20140724T000000,4,2.50,3000,5639,2.0,0,0,3,8,3000,0,2008,0,98052,47.7066,-122.115,3000,4587

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV

In [13]:
model = RandomForestRegressor()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.8579787044656347

In [15]:
x_test.drop(['id','date'], axis=1, inplace=True)

In [17]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [18]:
pre = model.predict(x_test)
pre

array([463500. , 476410.1, 435500. , ..., 304700. , 431483.2, 489737. ])

In [19]:
dic = {'id':x_test.index, 'price':pre}
submit = pd.DataFrame(dic)
submit

         id      price
0         0   463500.0
1         1   476410.1
2        14   435500.0
3        22   577800.0
4        26   523515.7
...     ...        ...
4318  21573  1457500.0
4319  21584   428520.0
4320  21585   304700.0
4321  21588   431483.2
4322  21611   489737.0

[4323 rows x 2 columns]

### 대학원 입학가능성 데이터

In [21]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
ID,,,,,,,,
0,67,327,114,3,3.0,3.0,9.02,0
1,112,321,109,4,4.0,4.0,8.68,1
2,495,301,99,3,2.5,2.0,8.45,1
3,356,317,106,2,2.0,3.5,8.12,0
4,250,321,111,3,3.5,4.0,8.83,1

    Chance of Admit
ID
0              0.61
1              0.69
2              0.68
3              0.73
4              0.77

In [22]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 498
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 28.1 KB

In [28]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 498
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Chance of Admit  400 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB

In [23]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 13 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         100 non-null    int64
 1   GRE Score          100 non-null    int64
 2   TOEFL Score        100 non-null    int64
 3   University Rating  100 non-null    int64
 4   SOP                100 non-null    float64
 5   LOR                100 non-null    float64
 6   CGPA               100 non-null    float64
 7   Research           100 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 7.0 KB

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV

In [31]:
model = RandomForestRegressor()
result = cross_val_score(model, x_train, y_train)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.8270785177934815

In [32]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [33]:
pre = model.predict(x_test)
pre

array([0.665, 0.719, 0.845, 0.613, 0.71 , 0.604, 0.942, 0.942, 0.613,
       0.51 , 0.631, 0.756, 0.638, 0.86 , 0.915, 0.795, 0.769, 0.596,
       0.721, 0.907, 0.797, 0.715, 0.726, 0.532, 0.656, 0.736, 0.731,
       0.94 , 0.647, 0.652, 0.7  , 0.654, 0.57 , 0.776, 0.674, 0.646,
       0.903, 0.902, 0.726, 0.922, 0.75 , 0.703, 0.892, 0.659, 0.548,
       0.459, 0.802, 0.766, 0.757, 0.807, 0.708, 0.555, 0.667, 0.685,
       0.794, 0.646, 0.784, 0.536, 0.878, 0.807, 0.858, 0.648, 0.57 ,
       0.826, 0.818, 0.9  , 0.721, 0.697, 0.461, 0.657, 0.43 , 0.754,
       0.537, 0.649, 0.715, 0.847, 0.566, 0.961, 0.59 , 0.635, 0.875,
       0.573, 0.666, 0.764, 0.808, 0.597, 0.593, 0.514, 0.737, 0.678,
       0.69 , 0.939, 0.673, 0.615, 0.572, 0.599, 0.941, 0.649, 0.891,
       0.57 ])

In [35]:
dic = {'ID':x_test.index, 'Chance of Admit':pre}
submit = pd.DataFrame(dic)
submit

     ID  Chance of Admit
0    13            0.665
1    16            0.719
2    23            0.845
3    25            0.613
4    29            0.710
..  ...              ...
95  467            0.599
96  484            0.941
97  485            0.649
98  489            0.891
99  499            0.570

[100 rows x 2 columns]

### 레드 와인 퀄리티 분류 데이터
- 문제를 정신차리고 읽어라!
- 회귀가 아니라 분류 문제!

In [102]:
import pandas as pd
#데이터 로드
#x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_train.csv", index_col='ID')
#x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
ID,,,,,,,,,,,
1,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4
2,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
3,8.0,0.43,0.36,2.3,0.075,10.0,48.0,0.99760,3.34,0.46,9.4
4,7.9,0.53,0.24,2.0,0.072,15.0,105.0,0.99600,3.27,0.54,9.4
5,8.0,0.45,0.23,2.2,0.094,16.0,29.0,0.99620,3.21,0.49,10.2

    quality
ID
1         6
2         5
3         5
4         6
5         6

In [107]:
y_train['quality'].unique()

array([6, 5, 4, 7, 8, 3], dtype=int64)

In [93]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1279 entries, 1 to 1598
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1279 non-null   float64
 1   volatile acidity      1279 non-null   float64
 2   citric acid           1279 non-null   float64
 3   residual sugar        1279 non-null   float64
 4   chlorides             1279 non-null   float64
 5   free sulfur dioxide   1279 non-null   float64
 6   total sulfur dioxide  1279 non-null   float64
 7   density               1279 non-null   float64
 8   pH                    1279 non-null   float64
 9   sulphates             1279 non-null   float64
 10  alcohol               1279 non-null   float64
dtypes: float64(11)
memory usage: 119.9 KB

In [94]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 0 to 1595
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         320 non-null    float64
 1   volatile acidity      320 non-null    float64
 2   citric acid           320 non-null    float64
 3   residual sugar        320 non-null    float64
 4   chlorides             320 non-null    float64
 5   free sulfur dioxide   320 non-null    float64
 6   total sulfur dioxide  320 non-null    float64
 7   density               320 non-null    float64
 8   pH                    320 non-null    float64
 9   sulphates             320 non-null    float64
 10  alcohol               320 non-null    float64
dtypes: float64(11)
memory usage: 30.0 KB

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [96]:
y_train = pd.get_dummies(y_train.astype('str'))
y_train

      quality_3  quality_4  quality_5  quality_6  quality_7  quality_8
ID
1             0          0          0          1          0          0
2             0          0          1          0          0          0
3             0          0          1          0          0          0
4             0          0          0          1          0          0
5             0          0          0          1          0          0
...         ...        ...        ...        ...        ...        ...
1593          0          0          1          0          0          0
1594          0          0          0          0          1          0
1596          0          0          1          0          0          0
1597          0          0          1          0          0          0
1598          0          1          0          0          0          0

[1279 rows x 6 columns]

In [97]:
model = RandomForestClassifier()
result = cross_val_score(model, x_train, y_train, cv=5)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.5387377450980393

In [103]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [104]:
pre = model.predict(x_test)

In [105]:
pre

array([6, 6, 5, 5, 5, 6, 5, 5, 5, 5, 5, 4, 5, 6, 6, 6, 6, 5, 6, 5, 8, 6,
       5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 6, 3, 7, 6, 5, 6, 5,
       6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 6, 6, 7, 6, 5, 5, 6, 5, 5, 6, 5, 6,
       6, 5, 5, 7, 6, 6, 5, 5, 7, 5, 6, 7, 6, 5, 5, 7, 6, 7, 6, 6, 6, 7,
       5, 6, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 7, 7, 5, 5,
       5, 6, 5, 5, 5, 6, 5, 4, 5, 6, 5, 6, 6, 6, 6, 4, 6, 6, 7, 6, 5, 5,
       5, 7, 6, 6, 6, 6, 8, 6, 6, 5, 5, 6, 6, 6, 6, 6, 7, 5, 5, 6, 6, 6,
       5, 8, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6,
       5, 5, 5, 5, 6, 5, 4, 6, 6, 6, 5, 6, 6, 5, 7, 7, 5, 6, 6, 5, 5, 5,
       5, 6, 6, 5, 6, 7, 7, 6, 7, 6, 5, 6, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6,
       6, 5, 5, 6, 6, 6, 6, 6, 7, 5, 5, 5, 6, 5, 3, 5, 5, 5, 5, 6, 6, 5,
       5, 5, 6, 5, 5, 6, 6, 5, 5, 4, 5, 6, 5, 5, 5, 5, 4, 5, 5, 6, 5, 6,
       6, 6, 6, 4, 6, 7, 6, 5, 6, 5, 5, 5, 5, 5, 7, 6, 6, 5, 5, 5, 7, 5,
       5, 5, 6, 3, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 5,
       6, 6, 7, 6, 5, 6, 6, 5, 5, 5, 5, 7], dtype=int64)

In [106]:
dic = {'ID':x_test.index, 'quality':pre}
submit = pd.DataFrame(dic)
submit

       ID  quality
0       0        6
1       7        6
2      12        5
3      13        5
4      25        5
..    ...      ...
315  1587        5
316  1589        5
317  1591        5
318  1592        5
319  1595        7

[320 rows x 2 columns]

In [108]:
submit['quality'].unique()

array([6, 5, 4, 8, 3, 7], dtype=int64)

### 현대 차량 가격 분류문제 데이터

In [74]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv", index_col='ID')
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv", index_col='ID')
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv", index_col='ID')


display(x_train.head())
display(y_train.head())

        model  year transmission  mileage fuelType  tax(£)   mpg  engineSize
ID
0         I30  2019       Manual       21   Petrol     150  34.0         2.0
1    Santa Fe  2018    Semi-Auto    10500   Diesel     145  39.8         2.2
2      Tucson  2017       Manual    29968   Diesel      30  61.7         1.7
3        Kona  2018       Manual    27317   Petrol     145  52.3         1.0
4      Tucson  2018    Semi-Auto    31459   Diesel     145  57.7         1.7

    price
ID
0   23995
1   28490
2   13251
3   14990
4   17591

In [75]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3888 entries, 0 to 4859
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3888 non-null   object
 1   year          3888 non-null   int64
 2   transmission  3888 non-null   object
 3   mileage       3888 non-null   int64
 4   fuelType      3888 non-null   object
 5   tax(£)        3888 non-null   int64
 6   mpg           3888 non-null   float64
 7   engineSize    3888 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 273.4+ KB

In [76]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 21 to 4848
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         972 non-null    object
 1   year          972 non-null    int64
 2   transmission  972 non-null    object
 3   mileage       972 non-null    int64
 4   fuelType      972 non-null    object
 5   tax(£)        972 non-null    int64
 6   mpg           972 non-null    float64
 7   engineSize    972 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 68.3+ KB

In [77]:
# 인코딩 할 칼럼
x_train_encoding = x_train[['model','transmission','fuelType']]
x_train_encoding

          model transmission fuelType
ID
0           I30       Manual   Petrol
1      Santa Fe    Semi-Auto   Diesel
2        Tucson       Manual   Diesel
3          Kona       Manual   Petrol
4        Tucson    Semi-Auto   Diesel
...         ...          ...      ...
4855     Tucson       Manual   Petrol
4856        I10       Manual   Petrol
4857     Tucson       Manual   Diesel
4858       Kona       Manual   Petrol
4859       Kona       Manual   Petrol

[3888 rows x 3 columns]

In [78]:
x_test_encoding = x_test[['model','transmission','fuelType']]
x_test_encoding

          model transmission fuelType
ID
21          I10       Manual   Petrol
28          I30    Automatic   Diesel
33     Santa Fe    Automatic   Diesel
38       Tucson    Semi-Auto   Diesel
45          I20       Manual   Petrol
...         ...          ...      ...
4833       Getz       Manual   Petrol
4840      Ioniq    Automatic   Hybrid
4842     Tucson       Manual   Diesel
4843   Santa Fe       Manual   Diesel
4848        I10       Manual   Petrol

[972 rows x 3 columns]

In [79]:
temp1 = pd.concat([x_train_encoding, x_test_encoding], axis=0)
temp1.head()

        model transmission fuelType
ID
0         I30       Manual   Petrol
1    Santa Fe    Semi-Auto   Diesel
2      Tucson       Manual   Diesel
3        Kona       Manual   Petrol
4      Tucson    Semi-Auto   Diesel

In [80]:
temp1_encoding = pd.get_dummies(temp1)
temp1_encoding

,model_ Accent,model_ Amica,model_ Getz,model_ I10,model_ I20,model_ I30,model_ I40,model_ I800,model_ IX20,model_ IX35,...,model_ Tucson,model_ Veloster,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4840,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4842,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
4843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4848,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [81]:
x_train_encoding = temp1_encoding.iloc[:3888]
x_test_encoding = temp1_encoding.iloc[3888:]

In [83]:
x_train.drop(['model','transmission','fuelType'], axis=1, inplace=True)
x_test.drop(['model','transmission','fuelType'], axis=1, inplace=True)

In [84]:
x_train = pd.concat([x_train, x_train_encoding], axis=1)
x_test = pd.concat([x_test, x_test_encoding], axis=1)

In [85]:
x_train

,year,mileage,tax(£),mpg,engineSize,model_ Accent,model_ Amica,model_ Getz,model_ I10,model_ I20,...,model_ Tucson,model_ Veloster,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
ID,,,,,,,,,,,,,,,,,,,,,
0,2019,21,150,34.0,2.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2018,10500,145,39.8,2.2,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,2017,29968,30,61.7,1.7,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,2018,27317,145,52.3,1.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,2018,31459,145,57.7,1.7,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,2019,10200,145,34.9,1.6,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4856,2019,9487,145,60.1,1.0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4857,2016,25224,30,61.7,1.7,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
4858,2019,8550,145,44.1,1.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4859,2018,26615,145,52.3,1.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [86]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV

In [87]:
model = RandomForestRegressor()
result = cross_val_score(model, x_train, y_train,)
result.mean()

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.9492915783266215

In [88]:
model.fit(x_train, y_train)

C:\Users\HJ\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\HJ\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [89]:
pre = model.predict(x_test)

In [90]:
pre

array([ 8640.        ,  5173.8       , 35985.        , 13294.8       ,
        8797.2       ,  7694.        , 11446.6       ,  1625.        ,
        2738.4       ,  2395.9       , 15018.3       , 13854.3       ,
       23905.        ,  3785.        ,  7010.9       , 16000.6       ,
        9099.1       , 13639.        , 33792.6       ,  7234.2       ,
       11297.4       , 14821.5       , 18564.2       ,  4202.9       ,
       20667.9       , 26340.2       , 29846.5       ,  2476.9       ,
       13004.1       ,  9458.9       , 11653.        , 12387.8       ,
        7661.9       , 11611.5       ,  6642.        ,  7714.8       ,
        6418.9       ,  2385.5       ,  9238.4       , 17134.3       ,
        8391.4       , 18910.5       ,  9686.9       , 13692.6       ,
       10200.7       ,  5913.1       ,  7506.        ,  7863.6       ,
       10456.3       , 13423.2       ,  7619.9       , 17471.6       ,
        8696.3       , 13489.        ,  7479.3       ,  7974.        ,
       16426.3       ,  3126.5       ,  6665.5       , 12555.4       ,
       12043.3       ,  9242.2       ,  7472.1       ,  7598.9       ,
       10878.        ,  3625.4       ,  9794.5       ,  3031.8       ,
       13443.4       ,  7276.9       , 13814.4       , 19689.9       ,
        8988.        , 11132.        ,  3341.9       ,  7947.8       ,
        4934.4       , 11485.        , 11338.        , 17597.9       ,
       15338.5       , 15164.8       ,  3598.2       ,  8016.6       ,
       14414.6       , 13908.2       , 18397.9       ,  8865.3       ,
        4000.5       ,  3824.5       , 18315.        ,  9081.4       ,
        4817.        , 20695.6       , 13472.        , 11016.6       ,
        9100.6       , 10612.3       ,  9729.3       ,  6378.9       ,
        8204.9       , 17319.7       , 17601.5       ,  8307.        ,
       14210.2       , 13886.5       ,  4604.5       ,  7773.3       ,
       13674.4       ,  8494.7       , 20342.33333333,  6924.        ,
        3015.        ,  8966.1       , 11147.6       , 14791.4       ,
       16615.8       , 11017.7       , 26797.8       , 10608.8       ,
        7138.3       ,  7616.7       , 10113.3       ,  6542.1       ,
       13040.5       ,  3255.        , 11954.3       ,  8594.        ,
       13407.7       ,  9048.25      ,  7152.        ,  8048.5       ,
       21318.5       ,  8126.        , 11758.6       , 14198.4       ,
        7487.7       ,  3092.        ,  5758.5       , 15357.7       ,
        6097.7       ,  9219.3       ,  2438.        , 12061.05      ,
        5775.        , 15298.        ,  3728.2       , 12924.4       ,
       14800.6       , 15795.3       , 15785.        ,  9873.8       ,
        9538.8       , 25300.325     ,  8971.        , 10396.6       ,
        7362.2       ,  8452.9       ,  8636.3       ,  6360.5       ,
        7496.3       , 15192.2       ,  2809.5       ,  7168.5       ,
       13176.        ,  8557.1       ,  8974.8       ,  7650.9       ,
        7476.4       , 33245.        , 15644.        ,  6293.        ,
       15650.        ,  9791.9       ,  7476.4       ,  9890.        ,
       13112.        , 12070.6       ,  5933.6       , 17018.8       ,
       14508.6       , 18405.8       , 15081.4       , 15178.9       ,
       19206.5       ,  6747.5       , 18850.1       , 14959.        ,
        9045.        ,  9499.        ,  7945.        ,  7844.1       ,
       13924.7       , 15659.1       ,  8260.        , 10554.9       ,
       14491.5       ,  4226.        , 20535.5       , 22318.        ,
       15477.3       , 11098.5       , 35176.6       ,  7924.1       ,
        8233.5       ,  6882.9       , 18791.        , 14062.5       ,
       11199.7       , 16807.        , 18184.        , 11673.1       ,
       18147.4       , 14921.7       , 12782.6       , 15726.9       ,
        6087.7       ,  5098.        , 13176.5       ,  8941.55      ,
        7314.7       ,  4337.        , 18939.3       , 10602.8       ,
       12964.        , 10152.5       , 19774.9       , 33999.        ,
       15318.5       ,  6797.1       , 18581.8       ,  8428.4       ,
       16138.8       ,  9854.9       ,  7357.1       , 11338.8       ,
       13332.        , 12974.8       ,  6084.5       , 14776.7       ,
        9499.        ,  3105.5       ,  5394.1       ,  2506.1       ,
        6388.7       ,  9652.4       ,  6425.        , 10738.7       ,
       16856.4       ,  3548.2       , 20213.2       , 13575.2       ,
        3805.        ,  6814.        , 12841.5       , 13802.3       ,
       15272.5       ,  3502.2       ,  7021.4       ,  7240.8       ,
       18344.        ,  9893.1       , 13598.8       , 16097.4       ,
       12847.7       , 12245.2       ,  7317.6       ,  6132.3       ,
        7792.8       ,  8796.3       , 10819.        ,  9504.4       ,
        2322.8       , 11845.3       ,  8528.3       ,  9368.9       ,
       32616.        , 12352.8       , 16376.2       ,  5865.3       ,
       11820.4       ,  8939.3       ,  6448.7       ,  8157.2       ,
       13029.5       , 11573.        , 18642.5       , 14672.        ,
        5709.6       ,  4118.8       ,  6715.5       , 13777.5       ,
       29978.8       , 11974.1       , 19830.66666667, 19440.96666667,
        5246.3       , 12501.2       , 19965.5       ,  6665.1       ,
       12714.8       , 11526.2       , 18675.5       , 18635.        ,
       19468.1       , 16926.1       , 10382.1       , 13347.1       ,
        9318.8       , 31796.4       , 14056.5       ,  8348.5       ,
       14340.9       , 17332.8       , 19095.4       , 16852.975     ,
       23793.625     , 10611.        ,  9205.        ,  4897.23333333,
       34096.7       ,  8166.8       ,  9623.2       , 17890.5       ,
        9058.5       , 15940.8       ,  6839.3       , 19369.2       ,
       11820.3       , 17074.1       , 15761.4       , 19830.66666667,
       14254.7       ,  6381.5       ,  7548.        , 10952.1       ,
        7224.5       ,  6844.        , 25748.2       ,  9018.1       ,
        6947.6       , 13735.5       , 10198.        , 15436.9       ,
       14216.3       ,  6113.6       , 14312.8       , 14549.        ,
        8557.1       , 11041.        ,  6558.3       , 12493.9       ,
       10248.        ,  7421.1       ,  9351.1       ,  6635.2       ,
       13362.3       , 14864.6       , 15395.        ,  3714.9       ,
        9208.7       ,  9731.2       , 21366.8       ,  7812.2       ,
        4790.        ,  7711.3       ,  7878.1       , 15197.8       ,
        8387.        , 12293.3       ,  8488.2       ,  6373.2       ,
       13754.6       ,  4523.6       , 13089.5       , 11598.6       ,
       14229.4       , 17509.        , 20142.6       ,  2848.9       ,
       13479.4       ,  9298.6       ,  5968.5       , 11271.        ,
       20126.4       , 15524.7       , 13390.5       ,  8998.9       ,
       11872.1       , 17935.5       ,  2635.8       , 14491.5       ,
       18393.1       , 11660.        , 13063.        , 15908.2       ,
       18402.6       ,  6564.6       , 12195.        ,  6966.1       ,
       16787.23333333, 10906.6       ,  8878.4       , 12397.7       ,
        9254.6       , 12447.6       , 15249.1       ,  7023.        ,
       13731.1       , 16952.7       , 14841.6       ,  9034.2       ,
       12405.9       , 15666.8       , 20076.3       , 20319.2       ,
       18315.        , 15735.4       , 10088.3       ,  8253.6       ,
        9032.7       ,  5535.7       , 15975.4       , 15367.2       ,
       15567.5       ,  1604.7       , 13098.8       , 34153.6       ,
       17479.1       ,  8791.        ,  8489.8       ,  9329.        ,
       13998.9       ,  3397.2       ,  4345.5       , 10898.8       ,
       16065.1       ,  7958.83333333,  7058.3       , 18717.        ,
       10697.4       ,  8028.8       ,  3720.5       , 16969.5       ,
        6798.4       , 17696.8       ,  3731.7       ,  4035.        ,
       11548.3       ,  5578.5       ,  8795.3       , 25496.9       ,
        3085.5       , 15630.3       , 15978.4       ,  9557.4       ,
       10358.6       , 11199.3       ,  3759.        ,  8457.4       ,
        6975.5       ,  9290.5       , 16606.2       , 13389.9       ,
       21444.5       , 11016.6       , 21496.4       ,  7020.5       ,
        7252.2       , 18463.1       , 10872.5       , 16337.3       ,
       14297.        , 20935.7       , 10091.5       , 11130.3       ,
       14440.9       ,  9026.7       , 14322.        ,  7878.5       ,
        9334.2       , 15855.4       ,  3370.8       , 19660.8       ,
       14930.7       , 11877.5       , 11321.        ,  8907.3       ,
        7976.2       , 16308.6       ,  9195.        , 12733.7       ,
       10054.3       ,  9893.1       , 14968.1       , 27647.2       ,
       21950.60833333, 15519.5       ,  5654.4       , 14995.8       ,
        8977.        , 14086.5       ,  7822.6       , 13768.8       ,
       13073.1       , 18075.5       , 23305.        ,  9858.        ,
        6788.        ,  8305.        ,  4202.9       ,  8966.4       ,
        4697.4       , 14852.5       ,  7741.7       ,  6849.8       ,
        5183.5       ,  8785.9       ,  2894.5       ,  9797.2       ,
        5419.        ,  2635.8       ,  7774.9       , 12397.2       ,
        2725.        , 14297.        , 16101.2       , 15166.7       ,
       33496.        , 14032.1       , 13069.9       ,  3255.8       ,
       16990.        , 22990.95166667,  5434.2       ,  4270.6       ,
        6774.2       ,  3104.5       , 19344.5       ,  8494.        ,
        1925.        ,  9563.8       , 10275.        , 15333.        ,
       14090.8       , 12140.65      ,  8335.5       ,  9179.45      ,
       10573.9       ,  7468.2       , 11476.1       , 10120.5       ,
       11602.2       , 12070.        ,  4864.3       ,  7243.2       ,
       13458.        , 14271.2       ,  6949.5       , 13448.5       ,
       12360.        , 13164.5       , 19862.9       , 18785.        ,
        8605.        , 13819.1       , 12470.3       ,  7935.        ,
       18008.1       ,  3360.9       , 12142.9       , 10407.8       ,
       14935.8       , 10341.7       , 12700.        ,  7387.        ,
        7575.5       , 17533.3       ,  3965.        ,  7661.3       ,
       15397.4       ,  9787.5       ,  3770.5       , 16792.4       ,
        6922.5       , 14558.        ,  7454.9       ,  4993.6       ,
       11085.9       ,  7874.9       , 18490.3       , 15428.8       ,
        9504.4       , 18814.1       , 13239.6       ,  1866.4       ,
        8495.2       , 14866.4       , 12835.1       , 14199.6       ,
        8142.5       , 14158.1       , 18600.6       , 10237.7       ,
        7855.4       ,  8621.5       ,  9744.5       ,  8152.8       ,
       15395.        ,  6158.3       , 15882.8       , 13621.9       ,
        5498.5       , 21707.1       , 16841.        , 15022.4       ,
        4495.        , 13495.6       , 11068.2       , 20721.1       ,
        9614.5       , 20342.33333333,  8400.8       , 10378.9       ,
       14474.6       , 13047.9       , 13635.5       , 12681.2       ,
       13749.2       ,  5635.        , 30896.8       ,  6974.        ,
       15075.3       , 11143.        ,  3770.5       , 15498.        ,
       14830.6       ,  6779.        , 16092.        , 16967.2       ,
       17430.        , 23365.        ,  5876.        , 15745.9       ,
        7226.5       ,  5374.        , 13673.2       ,  6427.        ,
       10749.5       , 10341.7       ,  7320.5       , 13954.2       ,
       13995.9       ,  8800.6       , 12045.1       , 15125.6       ,
       15331.8       ,  8117.        , 15257.1       , 14597.2       ,
        6812.6       ,  4483.8       ,  7814.1       , 17797.7       ,
       13717.3       ,  7286.7       ,  5893.4       , 10643.7       ,
       11143.8       ,  8913.2       , 15855.4       ,  8122.6       ,
        9232.5       , 19108.5       ,  8573.06666667, 28545.        ,
       16704.8       ,  8420.8       ,  6998.7       , 13361.8       ,
        9499.        ,  7373.4       ,  7767.        ,  8643.        ,
        8000.3       ,  5991.4       ,  8294.        , 32195.        ,
        5298.4       , 14278.5       , 18425.3       ,  3039.        ,
       13169.        ,  8797.9       , 15308.6       ,  5752.        ,
       14077.5       , 17625.2       ,  3812.4       , 10538.8       ,
        5082.6       ,  4385.7       ,  9144.1       ,  9499.        ,
       11876.4       ,  8038.        , 11894.6       , 17225.5       ,
        9848.6       , 12115.1       ,  8560.4       ,  7105.8       ,
        7095.8       , 16128.6       , 13576.6       , 18397.8       ,
        7715.8       ,  9285.7       ,  2786.7       , 13311.8       ,
        2751.9       ,  4407.53333333,  4634.        ,  8437.5       ,
       13699.        ,  6212.5       ,  7028.        ,  4160.9       ,
        7673.7       ,  4192.4       , 13577.3       ,  2473.9       ,
        7272.5       ,  7653.2       , 12192.8       ,  5920.3       ,
        7112.6       ,  2096.8       , 14836.4       ,  8841.1       ,
        5396.5       ,  2110.9       ,  7558.3       ,  6990.        ,
        6396.9       , 11078.5       , 16342.5       ,  7096.7       ,
        9729.        , 14582.        ,  8706.4       ,  8177.8       ,
        8621.3       , 17598.5       , 13552.6       , 14517.7       ,
        9561.1       ,  9940.8       ,  4645.7       , 18102.        ,
       13405.4       , 16400.        , 11998.4       ,  7714.7       ,
       19172.3       , 11935.6       ,  5356.        , 18508.3       ,
       18964.5       , 32059.4       , 11345.5       , 11321.        ,
       20643.8       ,  5120.8       , 13917.4       , 13792.5       ,
        9613.2       ,  7674.3       ,  6917.4       ,  4045.5       ,
       15356.4       , 11055.2       ,  6690.4       ,  6897.9       ,
        6964.9       , 14181.3       ,  6148.        ,  7597.2       ,
       12967.5       , 14413.4       , 21252.6       , 11126.2       ,
       15935.1       , 13499.1       , 24059.5       , 14807.3       ,
        6014.6       , 15646.5       , 18162.        ,  8157.2       ,
       13094.9       , 19847.8       ,  9031.2       , 14206.5       ,
       13923.        , 10868.1       , 15752.6       ,  6598.        ,
       18623.4       , 10388.9       , 15078.8       ,  9798.7       ,
       19049.4       ,  9005.        , 14790.2       ,  8497.        ,
       11456.4       , 12140.65      , 21287.05      , 18425.3       ,
       13437.7       , 13799.        , 11512.        , 22990.95166667,
       19388.5       ,  4505.        ,  7566.4       , 15991.4       ,
       13860.5       , 30172.8       , 14027.1       ,  8098.1       ,
        9141.5       , 13416.        ,  1475.        , 10373.3       ,
        4703.4       ,  7150.4       , 11896.6       ,  9488.5       ,
       10082.1       ,  7380.5       , 15598.8       ,  8887.1       ,
       18350.        , 13123.        , 12904.8       , 12829.7       ,
        6687.9       , 11327.3       , 11034.7       ,  4445.4       ,
       13068.9       ,  4196.9       , 18963.4       ,  6733.        ,
        5649.2       , 14709.        , 17036.5       , 15966.5       ,
        7140.9       , 12203.1       , 33932.6       ,  7961.2       ,
       14573.        ,  1859.        ,  5739.1       , 15635.        ,
       14146.9       ,  8630.5       , 13220.94      ,  6299.8       ,
        6303.5       , 12831.        , 15468.6       , 16217.2       ,
        8077.4       ,  7871.9       ,  9945.5       , 14732.1       ,
        6847.5       ,  9142.2       , 36928.2       , 12204.2       ,
       12555.5       , 12573.5       , 14349.4       , 23306.9       ,
        4442.5       , 11359.        ,  7727.9       , 13982.8       ,
        2788.2       ,  7870.9       , 10257.8       , 13360.        ,
       14508.6       ,  4654.5       ,  8004.6       , 15395.        ,
       10834.9       , 15178.9       ,  4993.6       , 11066.8       ,
       22990.95166667,  7403.2       , 14540.        , 15866.1       ,
        8796.3       ,  8333.6       , 13491.        , 18687.7       ,
        4722.9       ,  8433.7       ,  8604.        , 20818.8       ,
       13408.        , 17322.        , 14350.6       , 14592.        ,
       12591.9       , 18460.7       , 13479.        ,  7290.6       ,
        4718.8       ,  6857.        ,  9908.3       , 33948.6       ,
       17514.9       , 19067.        , 14073.7       , 15816.        ,
        9561.1       , 14863.2       ,  5522.1       , 14347.8       ,
        2341.3       , 14406.4       ,  5592.7       , 17332.9       ,
       16165.5       , 17978.6       ,  8967.1       , 15988.9       ,
       16243.        ,  8002.5       , 15635.        ,  3965.        ,
       23718.85833333, 21614.5       , 21043.1       , 15471.5       ,
        4270.6       ,  8579.5       , 14255.3       , 14900.        ,
       33898.1       , 14079.4       ,  8537.        ,  4998.1       ,
       11688.9       ,  7474.6       , 10718.6       , 11820.3       ,
       33245.        , 22350.5       ,  3699.        ,  2446.        ,
       19138.5       ,  3986.9       ,  6128.6       ,  7605.5       ])

In [91]:
dic = {'ID':x_test.index, 'price':pre}
submit = pd.DataFrame(dic)
submit

       ID    price
0      21   8640.0
1      28   5173.8
2      33  35985.0
3      38  13294.8
4      45   8797.2
..    ...      ...
967  4833   2446.0
968  4840  19138.5
969  4842   3986.9
970  4843   6128.6
971  4848   7605.5

[972 rows x 2 columns]