### 작업 1유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          1000 non-null   object
 1   artist         1000 non-null   object
 2   top genre      1000 non-null   object
 3   year released  1000 non-null   float64
 4   added          1000 non-null   object
 5   bpm            1000 non-null   float64
 6   nrgy           1000 non-null   float64
 7   dnce           1000 non-null   float64
 8   dB             1000 non-null   float64
 9   live           1000 non-null   float64
 10  val            1000 non-null   float64
 11  dur            1000 non-null   float64
 12  acous          1000 non-null   float64
 13  spch           1000 non-null   float64
 14  pop            1000 non-null   float64
 15  top year       1000 non-null   float64
 16  artist type    1000 non-null   object
dtypes: float64(12), object(5)
memory usage: 133.3+ KB

In [ ]:
#Question1 : 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [3]:
df = df.dropna()
df.loc[:,'rank'] = list(range(1,101))*10

In [5]:
df['rank']

0        1
1        2
2        3
3        4
4        5
      ...
995     96
996     97
997     98
998     99
999    100
Name: rank, Length: 1000, dtype: int64

In [6]:
ans = df[df['rank']==1]['bpm'].mean()

In [7]:
print(ans)

125.6

In [ ]:
#Question2 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [12]:
ans = df[df['top year']==2015]
ans.reset_index(drop=True, inplace=True)
ans.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank
0,Ghost Town,Adam Lambert,dance pop,2015.0,2020‑06‑22,120.0,74.0,70.0,-6.0,17.0,27.0,208.0,19.0,5.0,69.0,2015.0,Solo,1
1,Here,Alessia Cara,canadian contemporary r&b,2015.0,2020‑06‑22,120.0,82.0,38.0,-4.0,8.0,33.0,199.0,8.0,10.0,71.0,2015.0,Solo,2
2,"Honey, I'm Good.",Andy Grammer,dance pop,2014.0,2020‑06‑19,122.0,78.0,75.0,-7.0,35.0,60.0,199.0,3.0,5.0,78.0,2015.0,Solo,3
3,Love Me Harder,Ariana Grande,dance pop,2014.0,2020‑06‑19,99.0,71.0,47.0,-4.0,8.0,24.0,236.0,1.0,3.0,79.0,2015.0,Solo,4
4,The Nights,Avicii,dance pop,2014.0,2020‑06‑19,126.0,84.0,53.0,-5.0,25.0,65.0,177.0,2.0,4.0,89.0,2015.0,Solo,5

In [16]:
ans['artist'].value_counts().index[1]

'Taylor Swift'

In [ ]:
#Question3 년도별 rank값이 1~10위 까지의 곡들 중 두 번째로 많은 top genre는 무엇인가?

In [17]:
ans = df[df['rank'] < 11]
ans.reset_index(drop=True, inplace=True)
ans.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo,2
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo,3
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo,4
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo,5

In [20]:
ans['rank'].nunique()

10

In [25]:
ans['top genre'].value_counts()

dance pop                    40
atl hip hop                   7
british soul                  7
boy band                      4
melodic rap                   3
garage rock                   3
detroit hip hop               3
modern rock                   2
emo rap                       2
pop soul                      2
latin                         2
canadian pop                  2
canadian contemporary r&b     2
la indie                      1
hip hop                       1
israeli pop                   1
kentucky hip hop              1
social media pop              1
indie poptimism               1
basshall                      1
electropop                    1
modern alternative rock       1
metropopolis                  1
afroswing                     1
east coast hip hop            1
contemporary country          1
pop                           1
art pop                       1
london rap                    1
gangster rap                  1
alt z                         1
bass trap                     1
indie rock                    1
grime                         1
Name: top genre, dtype: int64

In [22]:
ans['top genre'].value_counts().index[2]

'british soul'

In [ ]:
#Question4 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [106]:
ans=df[df['title'].str.contains('feat')]

In [107]:
ans

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank,artist2
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1,3oh!3
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo,2,3oh!3
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo,4,b.o.b
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo,5,b.o.b
5,Magic (feat. Rivers Cuomo),B.o.B,atl hip hop,2010.0,2022‑02‑17,82.0,93.0,55.0,-4.0,35.0,79.0,196.0,1.0,34.0,71.0,2010.0,Solo,6,b.o.b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,Goodbyes (feat. Young Thug),Post Malone,dfw rap,2019.0,2020‑06‑22,150.0,65.0,55.0,-4.0,10.0,16.0,175.0,46.0,8.0,82.0,2019.0,Solo,82,post malone
985,Post Malone (feat. RANI),Sam Feldt,dance pop,2019.0,2020‑06‑22,107.0,64.0,59.0,-4.0,11.0,65.0,174.0,8.0,12.0,74.0,2019.0,Solo,86,sam feldt
997,Boasty (feat. Idris Elba),Wiley,grime,2019.0,2020‑06‑22,103.0,77.0,89.0,-5.0,9.0,46.0,177.0,1.0,7.0,68.0,2019.0,Solo,98,wiley
998,Strike a Pose (feat. Aitch),Young T & Bugsey,afroswing,2019.0,2020‑08‑20,138.0,58.0,53.0,-6.0,10.0,59.0,214.0,1.0,10.0,67.0,2019.0,Duo,99,young t & bugsey
999,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,2019.0,2020‑06‑22,98.0,59.0,80.0,-7.0,13.0,18.0,200.0,2.0,15.0,75.0,2019.0,Solo,100,young thug

In [117]:
ans['title'].str.split('feat.').str[1].str[:-1].str.strip().value_counts()

Bruno Mars                     4
Tinie Tempah                   3
Chris Brown                    3
Drake                          3
Ty Dolla $ign                  3
                              ..
Kid Ink                        1
David Guetta                   1
Disclosure                     1
ScHoolboy Q                    1
Nicki Minaj & Ty Dolla $ign    1
Name: title, Length: 137, dtype: int64

In [119]:
ans['title'].str.split('feat.').str[1]

0                        Katy Perry)
1                             Ke$ha)
3       Hayley Williams of Paramore)
4                        Bruno Mars)
5                      Rivers Cuomo)
                   ...
981                      Young Thug)
985                            RANI)
997                      Idris Elba)
998                           Aitch)
999          J. Cole & Travis Scott)
Name: title, Length: 169, dtype: object

In [124]:
ans['title'].str.split('feat.').str[1].str[:-1].str.strip().value_counts().index[0]

'Bruno Mars'

In [ ]:
#Question5 top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [36]:
ans=df[~(df['year released'] == df['top year'])]
ans.reset_index(drop=True, inplace=True)
ans.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1
1,Imma Be,Black Eyed Peas,dance pop,2009.0,2022‑02‑17,92.0,52.0,60.0,-7.0,31.0,41.0,258.0,18.0,37.0,71.0,2010.0,Band/Group,8
2,Teach Me How to Dougie,Cali Swag District,pop rap,2011.0,2022‑02‑17,85.0,44.0,85.0,-5.0,9.0,51.0,237.0,20.0,14.0,71.0,2010.0,Band/Group,11
3,Deuces (feat. Tyga & Kevin McCall),Chris Brown,dance pop,2011.0,2022‑02‑17,74.0,74.0,69.0,-5.0,8.0,22.0,277.0,3.0,11.0,74.0,2010.0,Solo,13
4,Memories (feat. Kid Cudi),David Guetta,big room,2009.0,2022‑02‑17,130.0,87.0,56.0,-6.0,25.0,50.0,210.0,0.0,34.0,74.0,2010.0,Solo,14

In [38]:
ans['top year'].value_counts().index[0]

2016.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          1000 non-null   object
 1   artist         1000 non-null   object
 2   top genre      1000 non-null   object
 3   year released  1000 non-null   float64
 4   added          1000 non-null   object
 5   bpm            1000 non-null   float64
 6   nrgy           1000 non-null   float64
 7   dnce           1000 non-null   float64
 8   dB             1000 non-null   float64
 9   live           1000 non-null   float64
 10  val            1000 non-null   float64
 11  dur            1000 non-null   float64
 12  acous          1000 non-null   float64
 13  spch           1000 non-null   float64
 14  pop            1000 non-null   float64
 15  top year       1000 non-null   float64
 16  artist type    1000 non-null   object
 17  rank           1000 non-null   int64
dtypes: float64(12), int64(1), object(5)
memory usage: 148.4+ KB

In [ ]:
#Question6 artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [62]:
df['artist2']=df.artist.str.lower()

In [64]:
df[df['artist2'].str.contains('q')]['artist'].nunique()

6

In [ ]:
#Question7 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

In [65]:
a = df[df['rank'] < 51]['dur'].mean()

In [66]:
b = df[df['rank'] > 50]['dur'].mean()

In [68]:
print(a-b)

0.896000000000015

In [ ]:
#Question8 title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [125]:
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank,artist2
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1,3oh!3
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo,2,3oh!3
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo,3,aloe blacc
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo,4,b.o.b
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo,5,b.o.b

In [137]:
df['title']

0                      STARSTRUKK (feat. Katy Perry)
1                        My First Kiss (feat. Ke$ha)
2                                    I Need A Dollar
3      Airplanes (feat. Hayley Williams of Paramore)
4                  Nothin' on You (feat. Bruno Mars)
                           ...
995                                       SICKO MODE
996                                        EARFQUAKE
997                        Boasty (feat. Idris Elba)
998                      Strike a Pose (feat. Aitch)
999        The London (feat. J. Cole & Travis Scott)
Name: title, Length: 1000, dtype: object

In [153]:
df['title'].str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]

'the'

In [162]:
df['title'].str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]

'the'

In [ ]:
#explode() 리스트 형태의 값을 여러 행으로 전개

In [ ]:
#Question9 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [81]:
ans = df.groupby('top year')['nrgy'].mean().sort_values()

In [82]:
len(ans)

10

In [83]:
ans

top year
2019.0    62.79
2017.0    63.16
2018.0    65.45
2016.0    65.80
2015.0    67.53
2014.0    71.03
2013.0    72.44
2012.0    74.07
2011.0    76.10
2010.0    76.65
Name: nrgy, dtype: float64

In [84]:
answer=ans.iloc[9]-ans.iloc[0]

In [85]:
print(answer)

13.860000000000007

In [ ]:
#Question10 artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [99]:
ans=df[['artist','artist type']].value_counts().reset_index()

In [102]:
ans

              artist artist type   0
0       Taylor Swift        Solo  21
1              Drake        Solo  18
2      Calvin Harris        Solo  18
3            Rihanna        Solo  14
4      Ariana Grande        Solo  14
..               ...         ...  ..
440  Robbie Williams        Solo   1
441       Joel Corry        Solo   1
442          Jidenna        Solo   1
443     Robin Schulz        Solo   1
444     Garrett Nash        Solo   1

[445 rows x 3 columns]

In [103]:
ans['artist'].value_counts().index[0]

'Rudimental'

### 작업 2유형

In [179]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [180]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.model_selection import train_test_split

In [164]:
x_train.isnull().sum()

ID           0
motion_0     0
motion_1     0
motion_2     0
motion_3     0
            ..
motion_59    0
motion_60    0
motion_61    0
motion_62    0
motion_63    0
Length: 65, dtype: int64

In [181]:
y_train.isnull().sum()

ID      0
pose    0
dtype: int64

In [182]:
#x_train을 x로 
x=x_train.drop(columns=['ID'])

In [183]:
#test 데이터에서 ID 칼럼 제외
test_drop = test.drop(columns=['ID'])

In [184]:
sc = MinMaxScaler()
sc.fit(x)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [185]:
xs = sc.transform(x)

In [186]:
x_test_scaler=sc.transform(test_drop)

In [187]:
x_train, x_test,y_train,y_test=train_test_split(xs,y_train['pose'], test_size=0.33, random_state=42)

In [188]:
lr = LogisticRegression()
lr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [190]:
pred = lr.predict_proba(x_test)
pred

array([[0.41162525, 0.58837475],
       [0.483471  , 0.516529  ],
       [0.32231702, 0.67768298],
       ...,
       [0.52777709, 0.47222291],
       [0.53208862, 0.46791138],
       [0.4913488 , 0.5086512 ]])

In [192]:
pred = lr.predict_proba(x_test_scaler)
pred

array([[0.47211309, 0.52788691],
       [0.47464008, 0.52535992],
       [0.53237931, 0.46762069],
       ...,
       [0.43600989, 0.56399011],
       [0.46374475, 0.53625525],
       [0.47123682, 0.52876318]])

In [191]:
print('validation_auc : ', roc_auc_score(y_test, pred[:,1]))

validation_auc :  0.5640193801607997

In [196]:
dic

{'id': 0          1
 1          3
 2          8
 3         10
 4         17
         ...
 1158    5786
 1159    5796
 1160    5802
 1161    5811
 1162    5812
 Name: ID, Length: 1163, dtype: int64, 'pose': array([[0.47211309, 0.52788691],
        [0.47464008, 0.52535992],
        [0.53237931, 0.46762069],
        ...,
        [0.43600989, 0.56399011],
        [0.46374475, 0.53625525],
        [0.47123682, 0.52876318]])}

In [197]:
dic={'id':test.ID, 'pose':pred[:,1]}
submit=pd.DataFrame(dic)

In [198]:
submit

        id      pose
0        1  0.527887
1        3  0.525360
2        8  0.467621
3       10  0.537180
4       17  0.524488
...    ...       ...
1158  5786  0.455305
1159  5796  0.521757
1160  5802  0.563990
1161  5811  0.536255
1162  5812  0.528763

[1163 rows x 2 columns]