### 포켓몬 정보 데이터

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#Question60 Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [4]:
ans1 = df[df['Legendary']== True]
ans1.reset_index(drop=True, inplace=True)
ans1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [9]:
a=ans1['HP'].mean()

In [5]:
ans2 = df[df['Legendary']== False]
ans2.reset_index(drop=True, inplace=True)
ans2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
b=ans2['HP'].mean()

In [11]:
ans = a-b
print(ans)

25.55614861329147

In [ ]:
#Question61 Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [15]:
df['Type 2'].value_counts().index[0]

'Flying'

In [ ]:
#Question62 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [16]:
ans=df['Type 1'].value_counts().index[0]
print(ans)

Water

In [17]:
ans=df[df['Type 1']=='Water']
a = ans['Attack'].mean() / ans['Defense'].mean()

In [18]:
print(a)

1.0165238678090576

In [ ]:
#Question63 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [19]:
df[df['Legendary']== True]['Generation'].value_counts().index[0]

3

In [ ]:
#Question64 ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [22]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack()

HP       HP         1.000000
         Attack     0.422386
         Defense    0.239622
         Sp. Atk    0.362380
         Sp. Def    0.378718
         Speed      0.175952
Attack   HP         0.422386
         Attack     1.000000
         Defense    0.438687
         Sp. Atk    0.396362
         Sp. Def    0.263990
         Speed      0.381240
Defense  HP         0.239622
         Attack     0.438687
         Defense    1.000000
         Sp. Atk    0.223549
         Sp. Def    0.510747
         Speed      0.015227
Sp. Atk  HP         0.362380
         Attack     0.396362
         Defense    0.223549
         Sp. Atk    1.000000
         Sp. Def    0.506121
         Speed      0.473018
Sp. Def  HP         0.378718
         Attack     0.263990
         Defense    0.510747
         Sp. Atk    0.506121
         Sp. Def    1.000000
         Speed      0.259133
Speed    HP         0.175952
         Attack     0.381240
         Defense    0.015227
         Sp. Atk    0.473018
         Sp. Def    0.259133
         Speed      1.000000
dtype: float64

In [33]:
ans=df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
ans = ans[ans['corr']!=1].sort_values('corr',ascending=False)

In [36]:
ans

    level_0  level_1      corr
26  Sp. Def  Defense  0.510747
16  Defense  Sp. Def  0.510747
27  Sp. Def  Sp. Atk  0.506121
22  Sp. Atk  Sp. Def  0.506121
33    Speed  Sp. Atk  0.473018
23  Sp. Atk    Speed  0.473018
8    Attack  Defense  0.438687
13  Defense   Attack  0.438687
1        HP   Attack  0.422386
6    Attack       HP  0.422386
19  Sp. Atk   Attack  0.396362
9    Attack  Sp. Atk  0.396362
31    Speed   Attack  0.381240
11   Attack    Speed  0.381240
4        HP  Sp. Def  0.378718
24  Sp. Def       HP  0.378718
18  Sp. Atk       HP  0.362380
3        HP  Sp. Atk  0.362380
25  Sp. Def   Attack  0.263990
10   Attack  Sp. Def  0.263990
29  Sp. Def    Speed  0.259133
34    Speed  Sp. Def  0.259133
2        HP  Defense  0.239622
12  Defense       HP  0.239622
20  Sp. Atk  Defense  0.223549
15  Defense  Sp. Atk  0.223549
30    Speed       HP  0.175952
5        HP    Speed  0.175952
17  Defense    Speed  0.015227
32    Speed  Defense  0.015227

In [35]:
ans.iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [ ]:
#Question65 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [39]:
ans = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
ans

19.5

In [ ]:
#Question66 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [42]:
ans = df.sort_values(['Generation','Attack'], ascending=False).groupby('Generation').head(5).Attack.mean()

In [43]:
ans

157.23333333333332

In [41]:
ans = df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()
ans

157.23333333333332

In [ ]:
#Question67  가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [48]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [ ]:
#Question68 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [50]:
ans=df[['Type 1','Type 2']].value_counts()

In [52]:
#갯수 할 때도 이렇게 구할 수 있구나
ans=len(ans[ans==1])

In [53]:
ans

39

In [ ]:
#Question69 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [ ]:
#여기도 잘 이해가 되지 않으므로 다시 풀어보기

In [54]:
ans=df[['Type 1','Type 2']].value_counts()
ans2=ans[ans==1]

In [55]:
ans2

Type 1    Type 2
Dragon    Fire        1
Psychic   Ghost       1
Dragon    Electric    1
Psychic   Grass       1
Dragon    Fairy       1
Grass     Ground      1
Rock      Fighting    1
Bug       Water       1
Psychic   Dark        1
Steel     Dragon      1
          Fighting    1
          Flying      1
Bug       Ghost       1
Psychic   Fire        1
Electric  Ghost       1
Poison    Water       1
Electric  Dragon      1
Grass     Dragon      1
Ground    Electric    1
          Fire        1
          Steel       1
Ghost     Dark        1
Fire      Water       1
          Steel       1
          Rock        1
Ice       Ghost       1
Normal    Ground      1
Fire      Dragon      1
Normal    Water       1
Fighting  Flying      1
          Dark        1
Poison    Bug         1
Electric  Water       1
Poison    Dragon      1
Electric  Ice         1
          Grass       1
          Fire        1
          Fairy       1
Water     Steel       1
dtype: int64

In [56]:
ans2.reset_index().values

array([['Dragon', 'Fire', 1],
       ['Psychic', 'Ghost', 1],
       ['Dragon', 'Electric', 1],
       ['Psychic', 'Grass', 1],
       ['Dragon', 'Fairy', 1],
       ['Grass', 'Ground', 1],
       ['Rock', 'Fighting', 1],
       ['Bug', 'Water', 1],
       ['Psychic', 'Dark', 1],
       ['Steel', 'Dragon', 1],
       ['Steel', 'Fighting', 1],
       ['Steel', 'Flying', 1],
       ['Bug', 'Ghost', 1],
       ['Psychic', 'Fire', 1],
       ['Electric', 'Ghost', 1],
       ['Poison', 'Water', 1],
       ['Electric', 'Dragon', 1],
       ['Grass', 'Dragon', 1],
       ['Ground', 'Electric', 1],
       ['Ground', 'Fire', 1],
       ['Ground', 'Steel', 1],
       ['Ghost', 'Dark', 1],
       ['Fire', 'Water', 1],
       ['Fire', 'Steel', 1],
       ['Fire', 'Rock', 1],
       ['Ice', 'Ghost', 1],
       ['Normal', 'Ground', 1],
       ['Fire', 'Dragon', 1],
       ['Normal', 'Water', 1],
       ['Fighting', 'Flying', 1],
       ['Fighting', 'Dark', 1],
       ['Poison', 'Bug', 1],
       ['Electric', 'Water', 1],
       ['Poison', 'Dragon', 1],
       ['Electric', 'Ice', 1],
       ['Electric', 'Grass', 1],
       ['Electric', 'Fire', 1],
       ['Electric', 'Fairy', 1],
       ['Water', 'Steel', 1]], dtype=object)

In [59]:
new_lst = []
for value in ans2.reset_index().values:
    a1 = value[0]
    a2 = value[1]
    
    a3 = df[(df['Type 1']==a1) & (df['Type 2']==a1)]
    new_lst.append(a3)

In [60]:
new_lst

[Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: [],
 Empty DataFrame
 Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
 Index: []]