In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ["Apple",'Peach','Pear']

In [3]:
for fruit in fruits:
    print(fruit)

Apple
Peach
Pear

In [8]:
for fruit in fruits:
    print(fruit)
    print(fruit +" Pie")
    print(fruits)

Apple
Apple Pie
['Apple', 'Peach', 'Pear']
Peach
Peach Pie
['Apple', 'Peach', 'Pear']
Pear
Pear Pie
['Apple', 'Peach', 'Pear']

In [9]:
for fruit in fruits:
    print(fruit)
    print(fruit +" Pie")
print(fruits)

Apple
Apple Pie
Peach
Peach Pie
Pear
Pear Pie
['Apple', 'Peach', 'Pear']

#### Average Height Excercise

In [18]:
students_height = input("Input a list of student heights").split()

Input a list of student heights156 178 165 171 187

In [27]:
students_heights= [156, 178, 165, 171, 187]

In [28]:
for n in range(0, len(students_heights)):
    students_heights[n] = int(students_heights[n])
print(students_heights)

[156, 178, 165, 171, 187]

In [29]:
sum(students_heights)

857

In [30]:
total_height = 0
for height in students_heights:
    total_height += height
print(total_height)

857

In [31]:
number_of_students = 0
for student in students_heights:
    number_of_students += 1 
print(number_of_students)

5

### Highest Score Exercise

In [33]:
student_score = input("Input a list of student score").split()

Input a list of student score78 65 89 86 55 91 64 89

In [34]:
for n in range(0, len(student_score)):
    student_score[n] = int(student_score[n])
print(student_score)

[78, 65, 89, 86, 55, 91, 64, 89]

In [36]:
highest_score = 0
for score in student_score:
    if score > highest_score:
        highest_score = score
print(f"The highest score in the class is : {highest_score}")

The highest score in the class is : 91

### for 반복문과 range() 함수

In [39]:
for number in range(1,11, 3):
    print(number)

1
4
7
10

In [40]:
total = 0
for number in range(1,101):
    total +=number
print(total)

5050

### Adding even excercise

In [86]:
answer = 0
for number in range(1, 101):
    if number%2 == 0 :
        answer += number
print(answer)

2550

In [83]:
50%2

0

In [91]:
total = 0
for number in range(2,101,2):
    total += number
print(total)

2550

### FizzBuzz 문제

In [92]:
# when the number is divisible by 3, then instead of printing the number it should print "Fizz

In [93]:
# when the number is divisible by 5, then insteda of printing the number it should print "Buzz"

In [94]:
# And if the number is divisible by both 3 and 5 e.g 15 then instead of the number it should print "FizzBuzz"

In [97]:
for number in range(1,101):
    #print(number)
    if number  % 15 == 0:
        print("FizzBuzz")
    elif number % 5 == 0:
        print("Buzz")
    elif number % 3 == 0 :
        print("Fizz")
    else :
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 비밀번호 생성기 만들기

In [102]:
import random

In [100]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0','1','2','3','4','5','6','7','8','9']
symbols = ['!','#','%','&','(',')','*','+']

In [101]:
print("Welcome to the PyPassword Generator")
nr_letters = int(input("How many letters would you like in your password?\n"))
nr_symbols = int(input("How many symbols would you like?\n"))
nr_numbers = int(input("How many numbers would you like?\n"))

Welcome to the PyPassword Generator
How many letters would you like in your password?
8
How many symbols would you like?
6
How many numbers would you like?
7

### easy level

In [104]:
password = ""

In [111]:
password = ""
for char in range(1,nr_letters + 1):
    random_char=random.choice(letters)
    #print(random_char)
    password += random_char
    print(password)

N
Na
Nah
Naha
Nahau
NahauG
NahauGm
NahauGmw

In [112]:
password = ""
for char in range(1,nr_letters + 1):
    password += random.choice(letters)
for char in range(1,nr_symbols + 1):
    password += random.choice(symbols)
for char in range(1,nr_numbers +1):
    password += random.choice(numbers)
print(password)

WKOGymOE*+%)#&1782926

### Hard level

In [115]:
password_list = []
for char in range(1,nr_letters + 1):
    password_list.append(random.choice(letters))
print(password_list)

['z', 'h', 'E', 'L', 'i', 'E', 'M', 'V']

In [118]:
#리스트로 추가해주어야함

password_list = []
for char in range(1,nr_letters + 1):
    password_list.append(random.choice(letters))
for char in range(1,nr_symbols + 1):
    password_list += random.choice(symbols)
for char in range(1,nr_numbers +1):
    password_list += random.choice(numbers)
#print(password_list)
random.shuffle(password_list) #문자와 숫자가 섞일 수 있도록 shuffle 함
print(password_list)

#리스트를 다시 string 형태로 바꿔주기
password = ""
for char in password_list:
    password +=char
    
print(f"Your password is {password}")

['c', 'p', '1', '*', 'z', '6', '3', '(', '*', '4', 'J', '1', ')', ')', ')', '5', 'M', 'h', 'S', 'U', '4']
Your password is cp1*z63(*4J1)))5MhSU4

In [121]:
# 알파벳과 숫자가 적절히 섞여서 만드는 방법

password_list = []
for char in range(1,nr_letters+1 ):
    password_list.append(random.choice(letters))
for char in range(1, nr_symbols+1):
    password_list.append(random.choice(symbols))
for char in range(1, nr_numbers+1):
    password_list.append(random.choice(numbers))
#print(password_list)
random.shuffle(password_list)
#print(password_list)

password = ""
for char in password_list:
    password +=char
print(f"Your pass word is {password}")

Your pass word is 4r5&1!)a#q63&n)ApC29w

### 연습문제

#### 두 개의 정수를 키보드로 입력받아 첫 번째 정수부터 두 번째 정수까지 출력되는 소스코드를 작성하시오

In [126]:
first = (input("첫 번째 정수 입력 >>"))
second = (input("두 번째 정수 입력 >>"))

첫 번째 정수 입력 >>10
두 번째 정수 입력 >>30

In [127]:
ifirst

'10'

In [133]:
first = int(input("첫 번째 정수 입력 >>"))
second = int(input("두 번째 정수 입력 >>"))

for num in range(first, second+1):
    print(num, end=' ') #가로로 출력하려면 end 함수 수정!

첫 번째 정수 입력 >>10
두 번째 정수 입력 >>20
10 11 12 13 14 15 16 17 18 19 20

#### 1부터 100 사이의 숫자 중 3의 배수인 값들의 합을 출력하세요

In [134]:
result=0
for num in range(1,101):
    if num%3 == 0:
        result +=num
print(result)

1683

#### for문을 이용하여 구구단 2단을 출력하시오

In [136]:
for num in range(1,10):
    print("{} * {} = {}".format(2, num, 2*num))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#### for문을 이용하여 구구단 1단부터 9단가지 출력하시오

In [142]:
for num in range(1,10):
    for num2 in range(1,10):
        print("{} * {} = {}".format(num, num2, num2*num))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for num in range(1,10):
    for num2 in range(1,10):
        print("{} * {} = {}".format(num, num2, num2*num))

#### for문을 이용하여 구구단 2단부터 6단까지 출력하시오

In [150]:
for num in range(1,10):
    for num2 in range(2,6):
        print("{} * {} = {}\t".format(num2, num, num2*num), end=' ') #\t 줄맞춤
    print()

2 * 1 = 2	 3 * 1 = 3	 4 * 1 = 4	 5 * 1 = 5
2 * 2 = 4	 3 * 2 = 6	 4 * 2 = 8	 5 * 2 = 10
2 * 3 = 6	 3 * 3 = 9	 4 * 3 = 12	 5 * 3 = 15
2 * 4 = 8	 3 * 4 = 12	 4 * 4 = 16	 5 * 4 = 20
2 * 5 = 10	 3 * 5 = 15	 4 * 5 = 20	 5 * 5 = 25
2 * 6 = 12	 3 * 6 = 18	 4 * 6 = 24	 5 * 6 = 30
2 * 7 = 14	 3 * 7 = 21	 4 * 7 = 28	 5 * 7 = 35
2 * 8 = 16	 3 * 8 = 24	 4 * 8 = 32	 5 * 8 = 40
2 * 9 = 18	 3 * 9 = 27	 4 * 9 = 36	 5 * 9 = 45

#### 숫자를 입력 받고 입력 받은 숫자의 약수를 구하시오

In [153]:
num = int(input("정수 입력 >> "))
for i in range(1,num +1):
    if num % i == 0:
        print(i, end=' ')
#print()

정수 입력 >> 32
1 2 4 8 16 32

#### 숫자를 입력 받고 1부터 입력 받은 숫자까지 소수를 출력하시오

In [165]:
num = int(input("정수 입력 >> "))
for i in range(2, num+1):
    boo = True
    for j in range(2, i):
        if i % j == 0:
            boo = False
    if boo:
        print(i, end=' ')

정수 입력 >> 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [164]:
num = 10
boo = True
for i in range(2, num):
    if num % i == 0:
        boo = False
        
if boo:
    print("소수입니다.")
else:
    print("소수가 아닙니다")

소수가 아닙니다

In [166]:
num = int(input("정수 입력 >> "))
for i in range(2, num+1):
    count = 0
    for j in range(1, i+1):
        if i % j == 0:
            count+=1
    if count <3:
        print(i, end=' ')

정수 입력 >> 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97